<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
    <div id='fileNames'> </div>
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-intense" id="dashboardList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Dashboard Management {{title}}
                </div>


                <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="dashboardAddBtn" ng-click="add()"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="portlet-body">
                <table class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                 <thead>
                        <tr>
                            <th>Title</th>
                            <th>URL</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                  <tr ng-repeat="x in dashboards |orderBy : 'id'"">
                    <td>{{ x.title }}</td>
                    <td>{{ x.url }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" ng-click="edits(x)"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger btn-sm" ng-click="delete(x)"><i class="fa fa-trash"></i> Delete</button>
                    </td>
                  </tr>
                </table>
                
            </div>
        </div>
       
    </div>
</div>
<div class="modal fade" id="dashboardAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header  {{record.color}}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dashboardAddFormHeader">Dashboard Form</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide" id="dashboardRequire">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <form id="dashboardForm" name="dashboardUIForm" autocomplete="off" >
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 {{record.color}} stat-box" style="color:white">
                        <div class="visual" style="padding-top: 5px!important;">
                            <i class="fa fa-{{record.icon}}"  style="opacity:.4"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                <span data-counter="counterup" data-value="89"></div></span>
                            <div class="desc bold"> {{record.title}} </div>
                        </div>
                    </a>
                </div>
                    <div class="form-group">
                        <label for="dashboard-title" class="control-label">Title</label>
                        <input type="text" class="form-control" id="dashboard-title" required ng-model="record.title">
                    </div>
                    <div class="form-group">
                        <label for="dashboard-url" class="control-label">URL:</label>
                        <input type="text" class="form-control" ng-model="record.url" required>
                    </div>
                    <input type="hidden" id="dashboard-ext" required />
                     <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label" for="form_control_1">Visibility</label>
                                                    <div class="col-md-9">
                                                        <div class="md-radio-inline">
                                                            <div class="md-radio">
                                                                <input type="radio" id="radio53" data-ng-model="record.ext" name="radio2"  data-ng-value="true" class="md-radiobtn">
                                                                <label for="radio53">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Enable </label>
                                                            </div>
                                                            <div class="md-radio has-error">
                                                                <input type="radio" id="radio54" name="radio2" data-ng-model="record.ext" class="md-radiobtn" data-ng-value="false"  checked="">
                                                                <label for="radio54">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span> Disable </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label" for="form_control_1">Icon : <i class="fa fa-{{record.icon}}"> </i></label>
                                                    <div class="col-md-9">
                                                        <select name="dashboard-icon" class="form-control" ng-model="record.icon">
                                                              <option ng-repeat="option in icons" value="{{option}}" ng-value="option">{{option}}</option>
                                                        </select>
                                                </div>
                    </div>

                    
                    <div class="form-group form-md-line-input">
                        <label class="col-md-3 control-label " for="form_control_1">Theme</label>
                        <div class="col-md-9">
                            <select class="form-control" id="form_control_1" ng-model="record.color" required>
                               <option ng-repeat="option in colors" value="{{option}}" ng-value="option">{{option}}</option>
                            </select>
                            <div class="form-control-focus"> </div>
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" ng-click="save(record)" ng-if="record.id == undefined" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" ng-click="updt(record)" ng-if="record.id != undefined" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dashboardDelete" tabindex="-1" role="dialog" aria-labelledby="dashboardDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
                <button type="button" class="btn btn-success" id="dashboardDataDeleteBtn"><i class="fa fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dashboardDeleteErrorMsg" tabindex="-1" role="dialog" aria-labelledby="dashboardDeleteErrorMsg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center" id="errorTitle"></h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->

