<div ng-controller="RobotDocumentController">




  <div class="row">&nbsp;</div>
  <div class="search-page search-content-4">
    <div class="search-bar bordered">
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn green-soft uppercase bold" type="button"><i class="fa fa-search"></i> Search</button>
            </span>
          </div>
        </div>
        <div class="col-lg-2 extra-buttons col-sm-6">
          <button class="btn grey-steel uppercase bold" type="button"><i class="fa fa-refresh"></i> Reset</button>

        </div>
        <div class="col-lg-2 extra-buttons col-sm-6 text-right">
          <button  data-toggle="collapse" data-target="#upload-container" class="btn btn-info uppercase bold" type="button"><i class="fa fa-upload"></i> Upload</button>

        </div>

      </div>
      <div style="margin-top: 20px;" id='upload-container' class="collapse">
        <div id="fileuploader">Browse</div>
        <div id="extrabutton" class="btn btn-success uppercase bold" ng-click="uploadFile()">Start Submit</div>
        <div id="cancelbutton" class="btn btn-danger uppercase bold hide" ng-click="cancelAll()">Cancel All</div>
        <div id="removebutton" class="btn btn-danger uppercase bold hide" ng-click="removeAll()">Clear All</div>
        
      </div>
    </div>
    <div class="search-table table-responsive">

    </div>

  </div>
  <div class="col-md-12">

    <div class="search-table">

    </div>

  </div>

</div>