<div ng-controller="RobotDocumentController">

  <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;"  ng-show="loading">
    <!--  BEGIN PAGE SPINNER -->
    <div ng-spinner-bar class="page-spinner-bar show">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
  <!--    END PAGE SPINNER -->
  </div>
  <div class="row">&nbsp;</div>
  <div class="search-page search-content-4">
    <div class="search-bar bordered">
      <div class="row">
        <div class="col-lg-10 col-sm-10 col-md-10">
          <div class="input-group">
            <input type="text" ng-focus="uploadCollapseHide()"  ng-model="searchTxt" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn green-soft uppercase bold" ng-click="search()" type="button"><i class="fa fa-search"></i> Search</button>
            </span>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 extra-buttons col-sm-6 text-right">
          <button data-toggle="collapse" data-target="#upload-container" class="btn btn-info uppercase bold" type="button"><i class="fa fa-upload"></i> Upload</button>

        </div>

      </div>
      <div style="margin-top: 20px;" id='upload-container' class="collapse row">
        <div class="upload-div">
          <div class="upload-buttons">
            <div id="editArea">
              <div class="up-buttons">
                <div ngf-select ngf-drop ng-model="files" ngf-model-invalid="invalidFiles" ng-model-options="modelOptionsObj" ngf-multiple="multiple = true"
                  ngf-pattern="pattern" ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="capture" ngf-drag-over-class="dragOverClassObj"
                  ngf-validate="validateObj" ngf-resize="resizeObj" ngf-resize-if="resizeIfFn($file, $width, $height)" ngf-dimensions="dimensionsFn($file, $width, $height)"
                  ngf-duration="durationFn($file, $duration)" ngf-keep="keepDistinct ? 'distinct' : keep" ngf-fix-orientation="orientation"
                  ngf-allow-dir="allowDir" class="drop-box" ngf-drop-available="dropAvailable">Select File
                  <span ng-show="dropAvailable"> or Drop File</span>
                </div>

              </div>

            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-sm-12 col-xs-12 upload_container">
            <ul style="clear:both" class="response">
              <li class="" ng-repeat="f in files">
                <div class="col-md-12 sel-file">
                  <div class="col-md-1">
                    <span ng-show="f.result" style="position: relative; top: 25px;">
            <div class="progress_done">
              <i class="fa fa-check"></i>
            </div>
          </span>
                    <span ng-show="f.result == undefined" style="position: relative; top: 25px;">
            <img src="assets/pistachio/ng-upload/progress.gif" />
          </span>

                  </div>
                  <div class="col-md-11">
                    <h3>{{f.name}} </h3>
                    <h5>size: {{f.size}}B - type: {{f.type}}</h5>
                  </div>

                  <div ng-show="f.showDetail">
                    <br/>
                    <div data-ng-show="f.result.result == null">{{f.result}}</div>
                    <ul>
                      <li ng-repeat="item in f.result.result">
                        <div data-ng-show="item.name">file name: {{item.name}}</div>
                        <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                        <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                        <div data-ng-show="item.value">value: {{item.value}}</div>
                      </li>
                    </ul>
                    <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                  </div>
                </div>
              </li>

              <li class="sel-file" ng-repeat="f in invalidFiles">
                <div class="col-md-12 sel-file">
                  <div class="col-md-1">

                    <span style="position: relative; top: 25px;">
            <div class="progress_fail">
              <i class="fa fa-times"></i>
            </div>
          </span>


                  </div>
                  <div class="col-md-11">
                    <h3>Invalid File: {{f.name}}</h3>
                    <h5>{{f.$error}} {{f.$errorParam}}, size: {{f.size}}B - type: {{f.type}}
                    </h5>
                  </div>
                </div>

              </li>
            </ul>
          </div>
          <br/>

          <div style="clear:both" class="err" ng-show="errorMsg != null">{{errorMsg}}</div>
        </div>

      </div>
    </div>
    <div class="search-table table-responsive">
      <span style="text-align: center; width: 100%; display: block; font-size: 16px; color:red;" ng-if="robotSearchError"><i class="fa fa-warning"></i> {{robotSearchError}}</span>
      <ul style="padding:0">
        <li ng-repeat="n in robotSearch" class="robotSearchStyle col-md-12">

            <div class="col-md-12 robotContent">
              <h4 ng-bind-html="n.attrcontent"></h4>
              
            </div>
      
              <div title="{{n.fileName }}" class="col-md-3" ng-show="n.fileName"><small>FILE NAME:</small><br>{{n.fileName |  limitTo: 20 }} {{n.fileName.length > 20 ? '...' : ''}}</div>
              <div class="col-md-2" ng-show="n.contenttype"><small>FILE TYPE:</small><br>{{n.contenttype[0]}}</div>
              <div class="col-md-2" ng-show="n.attrstreamsize"><small>FILE SIZE:</small><br>{{n.attrstreamsize[0] | number:0}} Bytes</div>
              

              <div class="col-md-3"  ng-show="n.attrlogin"><small>UPLOADED BY:</small><br>{{n.attrlogin[0]}} <span  ng-show="n.attrcreated">/ <i class="fa fa-calendar"></i> {{n.attrcreated[0]}}</span></div>
              <div  class="col-md-2 text-center"> <a href="{{globalDownloadURL}}{{n.attrfile[0]}}" download class="btn btn-primary btn-sm"><i class="fa fa-download"></i> download</a></div>


        </li>
        <div ng-show="robotSearch">
          <ul uib-pagination total-items="totalFound" ng-model="currentPage" ng-change="pageChanged()"></ul>
          <button type="button" class="btn grey-mint pull-right"> {{totalFound}} Record(s) Found</button>
        </div>
      </ul>
    </div>

  </div>




  <div style="clear:both; display:none" class="server">
    <div class="srv-title">How to upload to the server:</div>

    <div class="howto">
      <label><input type="radio" name="howToSend" ng-model="howToSend" value="1" ng-init="howToSend = 2">Upload.upload():
      multipart/form-data upload cross browser</label>
      <br/>
      <label><input type="radio" name="howToSend" ng-model="howToSend" value="2"
                  ng-disabled="usingFlash">Upload.http(): binary content with file's
      Content-Type</label>


      <div ng-show="howToSend != 3">
        <input type="checkbox" ng-model="generateErrorOnServer">Return server error with http code:
        <input type="text" ng-model="serverErrorCode" size="5"> and message: <input type="text" ng-model="serverErrorMsg">
        <br/>
      </div>
      <br/>
    </div>
  </div>
  <div class="col-md-12">

    <div class="search-table">

    </div>

  </div>

</div>