<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	Immigration Intelligent Dashboard
</h3>

<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="tiles">

        <div ng-repeat="x in names">
            <div class='tile bounceIn image {{x.color}}' ng-click='go(x.url)' data-category='{{x.queryCategory}}'>
                <div class="tile-body">
                    <i class="fa {{x.icon}}"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{x.title}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="iframeContainer"  style="display:none; position: absolute; top: 20px; height: 93%; width: 80%; background: #FFFFFF;" >
    <span id="iframeCloseBtn"><i class="fa fa-times" style="font-size:25px;"></i></span>
        <iframe src="" width="100%" height="100%" allowtransparency="true" frameborder="0"></iframe>
    </div>
    <!-- END DASHBOARD STATS -->
  
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
Index.init();
Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
