<!-- BEGIN MAIN CONTENT -->
<div ng-controller="DashboardController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="tiles">

        <!-- <div ng-repeat="x in names">
            <div ng-if='x.ext' class='tile double bounceIn image {{x.color}}' ng-click='go(x.url)' data-category='{{x.queryCategory}}'>
                <div class="tile-body">

                    <div class="tile-body">
                        <i class="fa {{x.icon}} "></i>


                    </div>
                    <div class="tile-object">
                        <div class="name">
                            <h4 style="line-height:20px;">{{x.title}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="x in names">
            <a class="dashboard-stat dashboard-stat-v2 {{x.color}} stat-box" ng-click='go(x.url)' data-category='{{x.queryCategory}}' style="color:white">
                <div class="visual" style="padding-top: 5px!important;">
                    <i class="fa fa-{{x.icon}}"  style="opacity:.4"></i>
                </div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-value="89"></div></span>
                    <div class="desc bold"> {{x.title}} </div>
                </div>
            </a>
        </div>
     
        </div>
       
        <div id="iframeContainer" ng-style="{height: iframeHeight + 'px'} ">
            <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;">
                <div class="container-fluid"><h2>{{ iframeTitle }}</h2></div>
                <span id="iframeCloseBtn"><i class="fa fa-times" style="font-size:25px;"></i></span>
                <iframe src="" width="100%" height="100%" allowtransparency="true" frameborder="0"></iframe>
                <!--  BEGIN PAGE SPINNER -->
                <div ng-spinner-bar class="page-spinner-bar show" style="z-index:-9;">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <!--    END PAGE SPINNER -->
            </div>
            
        </div>
        <!-- END DASHBOARD STATS -->

    </div>


    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS & CSS -->
    <script>
Index.init();
Tasks.initDashboardWidget();
</script>


    <!-- BEGIN MAIN JS & CSS