<!-- BEGIN PAGE HEADER-->    
<h3 class="page-title">
	Advance Federated Profiling Reporting
</h3>
<div ng-controller="ReportCategoryController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="tiles">
        
        <div ng-repeat="x in names">
           <div class='tile bounceIn image {{x.subReports.className}}' ng-click='go(x.subReports.url)' data-category='{{x.subReports.queryCategory}}'>
                <div class="tile-body">
                    <img ng-src='assets/pistachio/report/{{x.subReports.icon}}.png' alt="">
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{x.subReports.queryCategoryName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- 
    <div class="tiles">
        <div ng-repeat="x in names">
            <div class="tile image bg-green-jungle" onclick="location.href='#/{{x.url}}';">
                <div class="tile-body">
                    <img src="assets/pistachio/report/{{x.queryCategory}}.png" alt="">
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{x.queryCategory}}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
Index.init();
Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
