<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  Immigration Intelligent Dashboard
</h3>

<div ng-controller="DashboardController">

<div class="tiles">

					<div class="tile image" onclick="location.href='#/query.html';">
						<div class="tile-body">
  						<img src="../assets/admin/pistachio/img/adhoc.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					
					</div>
          <div class="tile image" onclick="location.href='#/permit-masuk.html';">
  					<div class="tile-body">
  						<img src="../assets/admin/pistachio/img/exit.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					
					</div>
          
          <div class="tile image" onclick="location.href='#/pas-pelajar.html';">
      			<div class="tile-body">
  						<img src="../assets/admin/pistachio/img/student.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
          <div class="tile image" onclick="location.href='#/query.html';">
        		<div class="tile-body">
  						<img src="../assets/admin/pistachio/img/work.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
          <div class="tile image" onclick="location.href='#/query.html';">
          	<div class="tile-body">
  						<img src="../assets/admin/pistachio/img/security.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
				
          <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
  						<img src="../assets/admin/pistachio/img/visit_temp.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
      				<img src="../assets/admin/pistachio/img/proff_temp.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
      				<img src="../assets/admin/pistachio/img/exclusion.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
      				<img src="../assets/admin/pistachio/img/work_temp.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
      				<img src="../assets/admin/pistachio/img/mal_home.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
      				<img src="../assets/admin/pistachio/img/report.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
        			<img src="../assets/admin/pistachio/img/special.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
        			<img src="../assets/admin/pistachio/img/spouse.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
          		<img src="../assets/admin/pistachio/img/education.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
          		<img src="../assets/admin/pistachio/img/enforcement2.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
          
           <div class="tile image" onclick="location.href='#/query.html';">
            <div class="tile-body">
          		<img src="../assets/admin/pistachio/img/security_entrance.png" alt="100%x200" style="width: 100%; height: 100px; display: block;">
						</div>
					</div>
        
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
	Index.init();    
	Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->