<!-- BEGIN PAGE HEADER-->    
<h3 class="page-title">
	Advance Federated Profiling Reporting
</h3>
<div ng-controller="ReportCategoryController">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="tiles">
        <!-- <div class="tile image bg-green-jungle" onclick="location.href='#/query.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Ad hoc-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    AdHoc Reports
                </div>
            </div>
        </div>
        <div class="tile image bg-green-jungle" onclick="location.href='#/reports/permit-masuk.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Permit Masuk-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Permit Masuk
                </div>
            </div>
        </div>
        <div class="tile image bg-green-jungle" onclick="location.href='#/query.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas pelajar-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Pelajar
                </div>
            </div>
        </div>
        <div class="tile image bg-blue-chambray" onclick="location.href='#/pas-kerja.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/pas Pekerja-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Kerja
                </div>
            </div>
        </div>
        <div class="tile image bg-blue-ebonyclay" onclick="location.href='#/pas-tanggungan.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas Tangungan-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Tanggungan
                </div>
            </div>
        </div>
        <div class="tile image bg-purple-plum" onclick="location.href='#/pls.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/PLS-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    PLS
                </div>
            </div>
        </div>
        <div class="tile image bg-purple-plum" onclick="location.href='#/plik.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas Lawatan Ikhtisas-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    PLIK
                </div>
            </div>
        </div>
        <div class="tile image bg-red-haze" onclick="location.href='#/pas-pengecualian.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas pengecualian-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Pengecualian
                </div>
            </div>
        </div>
        <div class="tile image bg-purple-plum" onclick="location.href='#/plks.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas Lawatan Kerja Sementara-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    PKLS
                </div>
            </div>
        </div>
        <div class="tile image bg-grey-gallery" onclick="location.href='#/mm2h.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/2-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    MM2H
                </div>
            </div>
        </div>
        <div class="tile image bg-blue-chambray" onclick="location.href='#/visa-atase.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Visa-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Visa Atase
                </div>
            </div>
        </div>
        <div class="tile image bg-green-jungle" onclick="location.href='#/pas-khas.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pas Khas 2-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Pas Khas
                </div>
            </div>
        </div>
        <div class="tile image bg-blue-hoki" onclick="location.href='#/pasangan-warganegara.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Pasangan Warganegara-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Pasangan Warganegara
                </div>
            </div>
        </div>
        <div class="tile image bg-green-jungle" onclick="location.href='#/pas-pengajian.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/pas Pengajian-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Pas Pengajian
                </div>
            </div>
        </div>
        <div class="tile image bg-blue-dark" onclick="location.href='#/depoh-penguatkuasaan.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/Depoh-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    Depoh & Penguatkuasa
                </div>
            </div>
        </div>
        <div class="tile image bg-green-jungle" onclick="location.href='#/e-reporting.html';">
            <div class="tile-body">
                <img src="assets/pistachio/report/e-reporting-01.png" alt="">
            </div>
            <div class="tile-object">
                <div class="name">
                    E-Reporting
                </div>
            </div>
        </div> -->

        <div ng-repeat="x in names">
			<div class='tile bounceIn image {{x.className}}' ng-click='go(x.url)' data-category='{{x.queryCategory}}'>
				<div class="tile-body">
					<img ng-src='assets/pistachio/report/{{x.icon}}.png' alt="">
				</div>
				<div class="tile-object">
					<div class="name">
						{{x.queryCategoryName}}
					</div>
				</div>
			</div>
		</div>
    </div>
  <!-- 
    <div class="tiles">
        <div ng-repeat="x in names">
            <div class="tile image bg-green-jungle" onclick="location.href='#/{{x.url}}';">
                <div class="tile-body">
                    <img src="assets/pistachio/report/{{x.queryCategory}}.png" alt="">
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{x.queryCategory}}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
Index.init();
Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->
