<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">

        <li class="nav-item" id="dashboardLink">
            <a  href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bar-chart"></i>
                <span class="title">{{'sidebar.dashboard' | translate}}</span>
                 <span class="arrow "></span>
            </a>
             <ul class="sub-menu">
                 <li>
                    <a href="#/dashboard.html">
                        <i class="icon-pie-chart"></i> {{'sidebar.dashboardlink' | translate}}
                    </a>
                </li>
                 <li>
                    <a href="#/auditAnalysis.html">
                        <i class="icon-pie-chart"></i> {{'sidebar.countryAnalysis' | translate}}
                    </a>
                </li>
                <li>
                    <a href="#/alertAnalysis.html">
                        <i class="fa fa-exclamation-triangle"></i> My Alerts
                    </a>
                </li>
                <li>
                    <a href="#/applAnalysis.html">
                        <i class="icon-pie-chart"></i> {{'sidebar.appl_analysis' | translate}}
                    </a>
                </li>
                 <li>
                    <a href="#/stats.html">
                        <i class="icon-pie-chart"></i> Statistics
                    </a>
                </li>
                <li>
                    <a href="#/userAnalysis.html">
                        <i class="icon-pie-chart"></i> My User
                    </a>
                </li>
            </ul>
        </li>




        <li class="nav-item" id="ereportLink">

            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-speech"></i>
                <span class="title">{{'sidebar.ereport' | translate}}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-repeat="x in displayNames">
                    <a ng-click='goes(x.name,x.display)' >
                        <i class="icon-docs"></i> {{x.display}}
                    </a>
                </li>
            </ul>

        </li>



        <li ng-if="chkRole('ROLE_ADMIN')" class="nav-item" id="adminLink">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">{{'sidebar.administrator' | translate}}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li id="rptmgtLink">
                    <a href="#/reportManagement/reportMgt.html">
                        <i class="icon-docs"></i> {{'sidebar.reportmanagement' | translate}}
                    </a>
                </li>
                <li>
                    <a href="#/workflowadmin.html">
                        <i class="icon-docs"></i> Request Management
                    </a>
                </li>

                <li>
                    <a href="#/audit.html">
                        <i class="icon-docs"></i> {{'sidebar.audit' | translate}}
                    </a>
                </li>
                <li id="dashboardmgtLink">
                    <a href="#/dashboardManagement/dashboardMgt.html">
                        <i class="icon-layers"></i> {{'sidebar.dashboardmanagement' | translate}}
                    </a>
                </li>
                <li id="configurationLink">
                    <a href="#/config.html">
                        <i class="icon-settings"></i>
                        <span class="title">{{'sidebar.configuration' | translate}}</span>
                    </a>
                </li>

                <li id="userManagementLink">
                    <a href="#/userManagement/userMgt.html">
                        <i class="icon-user"></i>
                        <span class="title">{{'sidebar.usermanagement' | translate}}</span>
                    </a>
                </li>

                <li id="roleManagementLink">
                    <a href="#/roleManagement/roleMgt.html">
                        <i class="icon-tag"></i>
                        <span class="title">{{'sidebar.rolemanagement' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item" id="dataConslidation">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-energy"></i>
                        <span class="title">{{'sidebar.dataconsolidation' | translate}}</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/datatables/jobs.html">
                                <i class="icon-docs"></i> {{'sidebar.jobs' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/datatables/advanced.html">
                                <i class="icon-layers"></i>{{'sidebar.database' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
       <li class="nav-item">
            <a href="#/fastsearch.html" id="fastsearchLink">
                <i class="icon-magnifier"></i>
                <span class="title">{{'sidebar.fastsearch' | translate}}</span>
            </a>
        </li>

         <li class="nav-item">
            <a href="#/sqleditor/sqleditor.html" id="sqleditorLink">
            <i class="icon-pencil"></i>
                <span class="title">Query Editor</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/d2dTracking/d2dTracking.html" id="trackerLink">
            <i class="fa fa-line-chart"></i>
                <span class="title">Tracking</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#/robot/robot.html" id="robotLink">
            <i class="fa fa-rocket"></i>
                <span class="title">Document Robot</span>
            </a>
        </li>

        <li class="nav-item" id="workflowMgt"  ng-if="!chkRole('ROLE_ADMIN')">
            <a href="#/workflowuser.html">
                <i class="icon-magnifier"></i>
                <span class="title">Request Management</span>
            </a>
        </li>
    </ul>


    <!-- END SIDEBAR MENU -->
</div>
<script>

/*$(function(){
    $("#afpr").addClass("active");
//alert(isAdmin+ "sidebar");
});*/



</script>
