<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
  <li class="nav-item" id="ereportLink">

            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-imi-elaporan_imi"></i>
                <span class="title">{{'sidebar.ereport' | translate}}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-repeat="x in displayNames">
                    <a ng-click='goes(x.name,x.display)' >
                        <i class="icon-docs"></i> {{x.display}}
                    </a>
                </li>
                   <li class="nav-item">
                    <a href="#/sqleditor/sqleditor.html" id="sqleditorLink">
                    <i class="icon-pencil"></i>
                        <span class="title">Query Editor</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/report/dropdown.html" id="sqleditorLink">
                    <i class="icon-pencil"></i>
                        <span class="title">Drop Down Mangement</span>
                    </a>
                </li>
                
                <!--  <li>
                    <a href="#/workflowadmin.html">
                        <i class="icon-docs"></i> Report Request
                    </a>
                </li> -->
            </ul>

        </li>

        <li class="nav-item" id="dashboardLink">
            <a  href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-imi-statistik_imi"></i>
                <span class="title">{{'sidebar.dashboard' | translate}}</span>
                 <span class="arrow "></span>
            </a>
             <ul class="sub-menu">
                 <li>
                    <a href="#/dashboard.html">
                        <i class="fa fa-dashboard"></i> {{'sidebar.dashboardlink' | translate}}
                    </a>
                </li>
                                       <li>
                                            <a href="#/auditAnalysis.html">
                                                <i class="icon-pie-chart"></i> {{'sidebar.countryAnalysis' | translate}}
                                            </a>
                                        </li>
                                        <!--
                                        <li>
                                            <a href="#/alertAnalysis.html">
                                                <i class="fa fa-exclamation-triangle"></i> My Alerts
                                            </a>
                                        </li>-->
                                        <li>
                                            <a href="#/userAnalysis.html">
                                                <i class="fa fa-user"></i> My User
                                            </a>
                                        </li>
                                         <li>
                                            <a href="#/userAnalysis1.html">
                                                <i class="fa fa-user"></i> My User (new)
                                            </a>
                                        </li>
                                       
                                    <!-- <li>
                                        <a href="#/movementAnalysis1.html">
                                            <i class="icon-imi-Movement_Analysis"></i> Movement Analysis
                                        </a>
                                    </li> -->
                                    <li>
                                        <a href="#/movementAnalysis.html">
                                            <i class="icon-imi-Immigration_Security"></i> Movement Analysis
                                        </a>
                                    </li>
                                     <!--<li>
                                        <a href="#/stats.html">
                                            <i class="icon-pie-chart"></i> Statistics
                                        </a>
                                    </li>-->
                                    
                                    <li class="nav-item">
                                        <a href="#/d2dTracking/d2dTracking.html" id="trackerLink">
                                        <i class="icon-imi-Tracking_Analysis"></i>
                                            <span class="title">Tracking</span>
                                        </a>
                                    </li>


               

                            </ul>
                        </li>

       
<li class="nav-item" id="visapass">

                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-imi-Immigration_Visa_Pass"></i>
                                <span class="title">Visa & Pass</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                             
                                <li>
                                    <a href="#/enforcement/visadashboard.html">
                                        <i class="icon-pie-chart"></i> Visa & Pass
                                    </a>
                                </li>
                                <li>
                                    <a href="#/citizenAnalysis.html">
                                        <i class="icon-pie-chart"></i> Citizen Analysis
                                    </a>
                                </li>
                                <li>
                                    <a href="#/applAnalysis.html">
                                        <i class="icon-imi-Visa_Application_Analysis"></i> {{'sidebar.appl_analysis' | translate}}
                                    </a>
                                </li>
                              
                                 <li>
                                    <a href="#/heatMapAnalysis.html">
                                        <i class="icon-pie-chart"></i> Foreign Worker Analysis
                                    </a>
                                </li>
        
                            </ul>

                        </li>
      

<li class="nav-item" id="enforcement">

                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-imi-enforcement"></i>
                                <span class="title">Enforcement</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                             
                             <li>
                                    <a href="#/enforcement/dashboard.html">
                                        <i class="icon-pie-chart"></i> Enforcement
                                    </a>
                                </li>
                                 <li>
                                    <a href="#/detaineeAnalysis.html">
                                        <i class="icon-imi-ditahan_imi"></i> Detainee Analysis
                                    </a>
                                </li>
                                <li>
                                    <a href="#/overstayAnalysis.html">
                                        <i class="icon-imi-Overstay_Analysis"></i> Overstay Analysis
                                    </a>
                                </li>
                                   <li>
                                    <a href="#/fastsearch/efs.html">
                                        <i class="icon-pie-chart"></i> Enforcement Search
                                    </a>
                                </li>
                            </ul>

                        </li>

        
       <li class="nav-item">
            <a href="#/fastsearch.html" id="fastsearchLink">
                <i class="icon-imi-Enforcement_search"></i>
                <span class="title">{{'sidebar.fastsearch' | translate}}</span>
            </a>
        </li>

      


        <li class="nav-item">
            <a href="#/robot/robot.html" id="robotLink">
            <i class="fa fa-rocket"></i>
                <span class="title">Document Robot</span>
            </a>
        </li>
        <li ng-if="chkRole('ROLE_ADMIN')" class="nav-item" id="adminLink">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-imi-aduan_imi"></i>
                <span class="title">{{'sidebar.administrator' | translate}}</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li id="rptmgtLink">
                    <a href="#/reportManagement/reportMgt.html">
                        <i class="icon-docs"></i> {{'sidebar.reportmanagement' | translate}}
                    </a>
                </li>
               
                <li>
                    <a href="#/sparkjob.html">
                        <i class="icon-docs"></i> Analytic Jobs
                    </a>
                </li>
                <li>
                    <a href="#/audit.html">
                        <i class="icon-docs"></i> {{'sidebar.audit' | translate}}
                    </a>
                </li>
                <li id="dashboardmgtLink">
                    <a href="#/dashboardManagement/dashboardMgt.html">
                        <i class="icon-layers"></i> {{'sidebar.dashboardmanagement' | translate}}
                    </a>
                </li>
                <li id="configurationLink">
                    <a href="#/config.html">
                        <i class="icon-settings"></i>
                        <span class="title">{{'sidebar.configuration' | translate}}</span>
                    </a>
                </li>

                <li id="userManagementLink">
                    <a href="#/userManagement/userMgt.html">
                        <i class="icon-imi-My_User2"></i>
                        <span class="title">{{'sidebar.usermanagement' | translate}}</span>
                    </a>
                </li>

                <li id="roleManagementLink">
                    <a href="#/roleManagement/roleMgt.html">
                        <i class="icon-tag"></i>
                        <span class="title">{{'sidebar.rolemanagement' | translate}}</span>
                    </a>
                </li>
                <li class="nav-item" id="dataConslidation">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-energy"></i>
                        <span class="title">{{'sidebar.dataconsolidation' | translate}}</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/sqoop.html">
                                <i class="icon-docs"></i> Sqoop
                            </a>
                        </li>
                        <li>
                            <a href="#/datatables/jobs.html">
                                <i class="icon-docs"></i> {{'sidebar.jobs' | translate}}
                            </a>
                        </li>
                        <li>
                            <a href="#/datatables/advanced.html">
                                <i class="icon-layers"></i>{{'sidebar.database' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
<!--
        <li class="nav-item" id="workflowMgt"  ng-if="!chkRole('ROLE_ADMIN')">
            <a href="#/workflowuser.html">
                <i class="icon-magnifier"></i>
                <span class="title">Request Management</span>
            </a>
        </li> -->
    </ul>


    <!-- END SIDEBAR MENU -->
</div>
<script>

/*$(function(){
    $("#afpr").addClass("active");
//alert(isAdmin+ "sidebar");
});*/



</script>
