<h3 class="page-title">
	Manage Reports
</h3>

<div class="row">
    <div class="col-md-12">
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-intense" id="reportMgtList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Report Management List
                </div>
                <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="reportMgtAddBtn" data-target="#reportMgtAddForm"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="portlet-body">
                <table id="reportMgtdata" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                          <!--   <th>ID</th> -->
                            <th>Title</th>
                            <th>Parent</th>
                            <th>Category</th>
                            <th>Theme</th>
                            <th>Icon</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <tbody>
                    <tr ng-repeat="x in names">
                        <td class="hidden">{{ x.id }}</td>
                        <td>{{ x.queryCategoryName }}</td>
                        <td>{{ x.parent }}</td>
                        <td>{{ x.queryCategory }}</td>
                        <td>{{ x.className }}</td>  
                        <td>{{ x.icon }}</td>                       
                        <td>{{ x.role }}</td>
                        <td>{{ x.activated }}</td>                       
                    </tr>
                </tbody>
            </div>
        </div>
        <div class="portlet box red-intense" id="tableList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Table List
                </div>
                <div class="tools">
                    <a href="" id="backBtn" class="btn btn-success btn-sm" style="color:#fff; top: -3px; height:27px; position: relative;"><i class="fa fa-chevron-circle-left"></i> Back</a>
                </div>
                <div id="loaderTableView" style="position:absolute; top:45px; left:0px; background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%;">
                    <!-- BEGIN PAGE SPINNER -->
                    <div ng-spinner-bar class="page-spinner-bar show">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <!-- END PAGE SPINNER -->
                </div>
            </div>
            <div class="portlet-body">
                <table id="example12" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Table Name</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th align="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportMgtAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="reportMgtAddFormHeader">New message</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide" id="reportMgtRequire">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <form id="reportMgtForm" name="reportMgtUIForm" autocomplete="off">
                    <div class="form-group">
                        <label for="reportMgt-title" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="reportMgt-title">
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-parent" class="control-label">Parent:</label>
                            <div class="form-control input-group">
                              <span class="input-group-addon">
                                <label><input id="chkExistingParent" type="checkbox"> Show Existing parent</label> 
                              </span>
                              <input type="text" id="inpParent" class="form-control" placeholder="New Parent">
                                <!-- <input type="hidden" id="reportMgt-parent" class="form-control hide" /> -->
                              <select id="reportMgt-parent" class="form-control hide">
                                 <option value="" selected="selected">Select Parent</option>
                              </select>
                              <input id="inpHiddenParent" type="hidden">
                              <input id="inpHiddenParentName" type="hidden">

                            </div>
                                               
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-category" class="control-label">Category:</label>
                        <input type="text" class="form-control" id="reportMgt-category" readonly="true"> 
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-theme" class="control-label">Theme:</label>   
                        <select id="reportMgt-theme" class="defaultSelect2 form-control">
                          <option value="">Please select</option>
                          <option value="bg-blue">bg-blue</option>
                          <option value="bg-red">bg-red</option>
                          <option value="bg-green">bg-green</option>
                        </select>                   
                        
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-icon" class="control-label">Icon:</label>
                        <!-- <input type="text" class="form-control" id="reportMgt-icon"> -->
                        <select id="reportMgt-icon" class="defaultSelect2 form-control">
                          <option value="">Please select</option>
                          <option value="Ad hoc-01">Ad hoc-01</option>
                          <option value="Depoh-01">Depoh-01</option>
                          <option value="MM2H-01">MM2H-01</option>
                          <option value="Pas Khas 2-01">Pas Khas 2-01</option>
                          <option value="Pas Tangungan-01">Pas Tangungan-01</option>
                          <option value="Pas pelajar-01">Pas pelajar-01</option>
                          <option value="Pas pengecualian-01">Pas pengecualian-01</option>
                          <option value="Permit Masuk-01">Permit Masuk-01</option>
                          <option value="Visa-01">Visa-01</option>
                          <option value="Visa Atase-01">Visa Atase-01</option>
                          <option value="ereport">ereport</option>
                          <option value="kerja">kerja</option>
                          <option value="pkls">pkls</option>
                          <option value="plik">plik</option>
                          <option value="pls">pls</option>
                          <option value="tanggungan">tanggungan</option>
                        </select> 
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-role" class="control-label">Role:</label>
                      <select id="reportMgt-role" class="defaultSelect2 form-control">
                          <option value="">Please select</option>
                          <option value="VISA_PASS">VISA_PASS</option>
                          <option value="AUDIT_PASS">AUDIT_PASS</option>   
                           <option value="ROLE_USER">ROLE_USER</option>                        
                        </select>  
                        
                    </div>
                    <div class="form-group">
                        <label for="reportMgt-activated" class="control-label">Activate:</label>
                         <select id="reportMgt-activated" class="defaultSelect2 form-control">
                          <option value="">Please select</option>
                          <option value="true">true</option>
                          <option value="false">false</option>                                                   
                        </select>                         
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="reportMgtUISubmit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" id="reportMgtUIUpdate" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportMgtDelete" tabindex="-1" role="dialog" aria-labelledby="reportMgtDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
                <button type="button" class="btn btn-success" id="reportMgtDataDeleteBtn"><i class="fa fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportMgtDeleteErrorMsg" tabindex="-1" role="dialog" aria-labelledby="reportMgtDeleteErrorMsg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center" id="errorTitle">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
$(function() {
    $("#reportMgtAddBtn").click(function(event) {
        $("#reportMgtAddForm #reportMgtUISubmit").removeClass('hide');
        $("#reportMgtAddForm #reportMgtUIUpdate").addClass('hide');
        $("#reportMgtAddFormHeader").html("Add Report"); //Change
        $("#reportMgtForm")[0].reset();
        $('#chkExistingParent').prop('checked', false); //Reset parent chkbox controls
        $('#chkExistingParent').parent().removeClass('checked');
        $('#reportMgt-parent').addClass('hide');
        $('#inpParent').removeClass('hide');            
        //$('#inpHiddenParent').val($('#inpParent').val()); 
        //$('#inpHiddenParentName').val($('#inpParent').val());  
    });
    
      $("#reportMgtForm #reportMgt-title").keyup(function(event) {
        var catval = $('#reportMgt-title').val().replace(/ /g,'').toLowerCase();
        $('#reportMgt-category').val(catval);
      });   

     $("#chkExistingParent").change(function() {
        if(this.checked) {
            $('#reportMgt-parent').removeClass('hide'); //Parent Dropdown show
            $('#inpParent').addClass('hide'); //Parent Input ele hide           
            $('#reportMgt-parent option:selected').text()

        }else{
          $('#inpParent').val("");
          $('#reportMgt-parent').addClass('hide');
          $('#inpParent').removeClass('hide');   
        }
    });

     $('#reportMgt-parent').on('change',function(){       
        $('#inpHiddenParent').val($('#reportMgt-parent').val()); //value
        $('#inpHiddenParentName').val($('#reportMgt-parent option:selected').text()); //display name
     });

     $('#inpParent').on('keyup',function(){
        $('#inpHiddenParentName').val($('#inpParent').val()); // display name
        $('#inpHiddenParent').val($('#inpParent').val().replace(/ /g,'').toLowerCase()); //value
     });

        // function getInpParent(){
        //     debugger;
        //          var x = document.getElementById("inpParent").value;
        //        $('#inpHiddenParent').val(x);
        //        $('#inpHiddenParentName').val(x.replace(/ /g,'').toLowerCase());
        // }
    
});

$(document).ready(function() {
  //$(".defaultSelect2").select2();
  
});

$("#loader").hide();

$(document).ajaxStart(function() {
    $("#loader").hide();
    $("#loaderTableView").css('height', '500px');
    $("#loaderTableView .page-spinner-bar").removeClass('hide');
    $("#loaderTableView").show();
});

$(document).ajaxStop(function() {
    $("input[type=search]").addClass('form-control input-small input-inline');
    $("select[name=jqueryRunData_length]").addClass('form-control input-xsmall input-inline');
    $("#loader").hide();
    $("#loaderTableView .page-spinner-bar").addClass('hide');
    $("#loaderTableView").hide();
});
</script>