<h3 class="page-title">
	Manage Reports
</h3>

<div class="row">
    <div class="col-md-12">
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-intense" id="databaseList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Report Management List
                </div>
                <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="databaseAddBtn" data-target="#databaseAddForm"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="portlet-body">
                <table id="databaseData" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>DB Name</th>
                            <th>DB type</th>
                            <th>Username</th>
                            <th>Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <tbody>
                    <tr ng-repeat="x in names">
                        <td class="hidden">{{ x.id }}</td>
                        <td>{{ x.dbName }}</td>
                        <td>{{ x.dbType }}</td>
                        <td>{{ x.username }}</td>
                        <td>{{ x.createdDate }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
        <div class="portlet box red-intense" id="tableList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Table List
                </div>
                <div class="tools">
                    <a href="" id="backBtn" class="btn btn-success btn-sm" style="color:#fff; top: -3px; height:27px; position: relative;"><i class="fa fa-chevron-circle-left"></i> Back</a>
                </div>
                <div id="loaderTableView" style="position:absolute; top:45px; left:0px; background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%;">
                    <!-- BEGIN PAGE SPINNER -->
                    <div ng-spinner-bar class="page-spinner-bar show">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <!-- END PAGE SPINNER -->
                </div>
            </div>
            <div class="portlet-body">
                <table id="example12" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Table Name</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th align="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="databaseAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="databaseAddFormHeader">New message</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide" id="databaseRequire">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <form id="databaseForm" name="databaseUIForm" autocomplete="off">
                    <div class="form-group">
                        <label for="database-name" class="control-label">Database Name:</label>
                        <input type="text" class="form-control" id="database-name">
                    </div>
                    <div class="form-group">
                        <label for="database-type" class="control-label">Database Type:</label>
                        <input type="text" class="form-control" id="database-type">
                    </div>
                    <div class="form-group">
                        <label for="database-url" class="control-label">Database URL:</label>
                        <input type="text" class="form-control" id="database-url">
                    </div>
                    <div class="form-group">
                        <label for="database-uname" class="control-label">Database username:</label>
                        <input type="text" class="form-control" id="database-uname" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="database-pwd" class="control-label">Database password:</label>
                        <input type="password" class="form-control" id="database-pwd">
                    </div>
                    <div class="form-group">
                        <label for="database-driver" class="control-label">Database Driver:</label>
                        <input type="text" class="form-control" id="database-driver">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="databaseUISubmit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" id="databaseUIUpdate" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="databaseDelete" tabindex="-1" role="dialog" aria-labelledby="databaseDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
                <button type="button" class="btn btn-success" id="databaseDataDeleteBtn"><i class="fa fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="databaseDeleteErrorMsg" tabindex="-1" role="dialog" aria-labelledby="databaseDeleteErrorMsg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center" id="errorTitle"></h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
$(function() {
    $("#databaseAddBtn").click(function(event) {
        $("#databaseAddForm #databaseUISubmit").removeClass('hide');
        $("#databaseAddForm #databaseUIUpdate").addClass('hide');
        $("#databaseAddFormHeader").html("Add Database");
        $("#databaseForm")[0].reset();
    });
});
//TableAdvanced.init();

$("#loader").hide();

$(document).ajaxStart(function() {
    $("#loader").hide();
    $("#loaderTableView").css('height', '500px');
    $("#loaderTableView .page-spinner-bar").removeClass('hide');
    $("#loaderTableView").show();
});

$(document).ajaxStop(function() {
    $("input[type=search]").addClass('form-control input-small input-inline');
    $("select[name=jqueryRunData_length]").addClass('form-control input-xsmall input-inline');
    $("#loader").hide();
    $("#loaderTableView .page-spinner-bar").addClass('hide');
    $("#loaderTableView").hide();
});
</script>