<div class="app-container" ng-app="dateTimeApp" ng-controller="MyAlertController as ctrl" ng-cloak>
    
  <div date-picker
     datepicker-title="Branch Alerts"
     picktime="false"
     pickdate="true"
     pickpast="true"

     mondayfirst="false"
     custom-message="You have selected"
     selecteddate="ctrl.selected_date"
     updatefn="ctrl.updateDate(newdate)">
  
    <div class="datepicker"
       ng-class="{
        'am': timeframe == 'am',
        'pm': timeframe == 'pm',
        'compact': compact
      }">
      <div class="datepicker-header">
        <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
        <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
      </div>
      <div class="datepicker-calendar">
        <div class="calendar-header">
          <div class="goback" ng-click="moveBack()" ng-if="pickdate">
            <svg width="30" height="30">
              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
            </svg>
          </div>
          <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
          <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
            <svg width="30" height="30">
              <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
            </svg>
          </div>
        </div>
        <div class="calendar-day-header">
          <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
        </div>
        <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
          <div
            ng-class="{'no-hover': !day.showday}"
            ng-repeat="day in month"
            class="datecontainer"
            ng-style="{'margin-left': calcOffset(day, $index)}"
            track by $index>
            <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
              {{ day.daydate }}
            </div>
          </div>
          
        </div>

      </div>
     <div class= "events timepicker-container-outer">
     <div class="mt-comments">
                                  
            <ul class="events-detail" >
              <div  ng-model="checkList"  ng-show="checkList"  class="alertFail">
                <h3 class="text-center"><i class="fa fa-warning"></i> Alerts not found!</h3>
              </div>
              
              <li ng-repeat="entry in b_events">
                
                <a href="#">
                   <div class="mt-comment" style="padding:0px;">
                                                        
                      <div class="mt-comment-body">
                        
                          <div class="mt-comment-info">
                              <span class="mt-comment-author">{{entry.branch}}</span>
                              <span class="mt-comment-date">{{getDate(entry.eventTime)}}</span>
                          </div>
                          <div class="mt-comment-text"> {{entry.info}} </div>
                      </div>
                  </div>
                </a>
              </li>
               
            </ul>
             </div>
          </div>
      
    </div>
  </div>
</div>

<div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;" ng-show="loading">
        <!--  BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar show">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!--    END PAGE SPINNER -->
    </div>