<div ng-controller="VAAController">
    <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;" ng-show="loading">
        <!--  BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar show">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!--    END PAGE SPINNER -->
    </div>
    <div class="page-bar" ng-if="filterButtons.length>0">
        <ul class="page-breadcrumb" data-ng-repeat="filter in filterButtons">
            <li>
                <div class="custom-alerts alert alert-success fade in" style="margin:0;padding:5px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding-top: 5px; margin-top: 4px; margin-left: 5px;" ng-click="updateFilter(filter.id,true)"></button> {{filter.value}}</div>
            </li>
        </ul>
        <ul class="page-breadcrumb">
            <li>
                <div ng-click="reset()" class="btn btn-primary previousBtn" style="padding: 5px;"><i class="fa fa-refresh"></i> Reset </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="" style="padding: 5px; min-height: 25px;">

                    <div class="col-md-12 portlet light portlet-fit bordered" style="padding: 5px;">
                        <div class="mt-element-list">
                            <div class="mt-list-head list-simple ext-1 font-white bg-blue-chambray">
                                <div class="list-head-title-container">
                                    <a ng-click="reset()" class="font-white pull-right">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                    <h4 class="list-title">Filter</h4>
                                </div>
                            </div>

                            <div class="mt-list-container list-simple ext-1 group">
                              <a class="list-toggle-container" data-toggle="collapse" data-target="#active" aria-expanded="false">
                                  <div class="list-toggle done uppercase col-md-12 col-sm-12 col-xs-12"> {{radioValue}}

                                  </div>
                              </a>
                              <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="active">
                                <div class="form-group form-md-radios" >
                                    <div class="md-radio-list">
                                  <ul>


                                              <li class="mt-list-item  col-md-12 col-sm-12 col-xs-12" >
                                                <div class="md-radio">
                                                    <input type="radio" id="radio1" name="radio1" class="md-radiobtn" ng-model="radioValue" value="Overall" checked="true"
                                                    ng-click="clickActive()"
                                                    >
                                                    <label for="radio1">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Overall</label>
                                                </div>
                                              </li>
                                              <li class="mt-list-item  col-md-12 col-sm-12 col-xs-12">
                                                <div class="md-radio">
                                                    <input type="radio" id="radio2" name="radio1" class="md-radiobtn" ng-model="radioValue" value="Active"
                                                    ng-click="clickActive()"
                                                    >
                                                    <label for="radio2">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Active</label>
                                                </div>
                                              </li>


                                  </ul>
                                </div>
                            </div>
                              </div>
                              <a class="list-toggle-container" data-toggle="collapse" data-target="#country" aria-expanded="false">
                                  <div class="list-toggle uppercase col-md-12 col-sm-12 col-xs-12"> Negara
                                      <!--  <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp}}</span>-->
                                  </div>
                              </a>
                              <div style="" aria-expanded="false" class="panel-collapse collapsed collapse" id="country">
                                  <ul>
                                      <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" ng-repeat="cnt in countries" ng-click="clickCountry(cnt.val)">
                                          <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                          <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                      </li>
                                  </ul>
                              </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#jobs" aria-expanded="false">
                                    <div class="list-toggle done uppercase col-md-12 col-sm-12 col-xs-12"> Jobs
                                        <span class="badge badge-default pull-right bg-white font-green bold">{{uJob | number:0}}</span>
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="jobs">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;" ng-repeat="cnt in jobs" ng-click="clickJobs(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                        <li class="mt-list-item  col-md-12 col-sm-12 col-xs-12 show-more-btn" ng-click="moreJobs()">
                                            <div class="mt-list-title  col-md-12 col-sm-12 col-xs-12"><label class="btn red btn-outline btn-circle btn-sm active">show more</label> </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#employers" aria-expanded="false">
                                    <div class="list-toggle uppercase col-md-12 col-sm-12 col-xs-12"> employer
                                        <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp | number:0}}</span>
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" class="panel-collapse collapsed collapse" id="employers">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;" ng-repeat="cnt in employers" ng-click="clickEmply(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#visa" aria-expanded="false">
                                    <div class="list-toggle done uppercase col-md-12 col-sm-12 col-xs-12"> Visa
                                        <span class="badge badge-default pull-right bg-white font-green bold">{{uVis | number:0}}</span>
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="visa">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;" ng-repeat="cnt in visas" ng-click="clickVisa(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#skill" aria-expanded="false">
                                    <div class="list-toggle uppercase col-md-12 col-sm-12 col-xs-12"> Skill
                                        <!--  <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp}}</span>-->
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" class="panel-collapse collapsed collapse" id="skill">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" ng-repeat="cnt in skill" ng-click="clickSkill(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#state" aria-expanded="false">
                                    <div class="list-toggle done uppercase col-md-12 col-sm-12 col-xs-12"> State
                                        <span class="badge badge-default pull-right bg-white font-green bold">{{uSta | number:0}}</span>
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="state">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;" ng-repeat="cnt in states" ng-click="clickState(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                    </ul>
                                </div>
                                <a class="list-toggle-container" data-toggle="collapse" data-target="#city" aria-expanded="false">
                                    <div class="list-toggle uppercase col-md-12 col-sm-12 col-xs-12"> City
                                      <span class="badge badge-default pull-right bg-white font-green bold">{{uCity | number:0}}</span>
                                        <!--  <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp}}</span>-->
                                    </div>
                                </a>
                                <div style="" aria-expanded="false" class="panel-collapse collapsed collapse" id="city">
                                    <ul>
                                        <li class="mt-list-item col-md-12 col-sm-12 col-xs-12" ng-repeat="cnt in cities" ng-click="clickCity(cnt.val)">
                                            <div class="mt-list-title col-md-9 col-sm-9 col-xs-9" data-toggle="tooltip" title="{{cnt.val}}"> {{omitNa(cnt.val) |limitTo:25}}</div>
                                            <div class="list-datetime col-md-3 col-sm-3 col-xs-3"> {{cnt.count | number:0}} </div>
                                        </li>
                                    </ul>
                                </div>

                                  <div id="vaa-range" style="width: 100%;"
                                    class="pull-right tooltips btn btn-fit-height green"
                                    data-placement="top"
                                    data-original-title="Change dashboard date range">
                                      <i class="icon-calendar"></i>&nbsp;
                                      <span class="thin uppercase hidden-xs">June 28, 2016 - July 4, 2016</span>&nbsp;
                                      <i class="fa fa-angle-down"></i>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-9" style="padding-right: 0px;">
            <div class="container-fluid" style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        ">
            <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
            <div id="branchHeader" data-toggle="collapse" data-target="#timelinebar"><h3><i class="fa fa-plane"></i> Timeline</h3>
            <span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
            </div>
            <div id="timelinebar" > 
             <div class = "col-md-8 col-lg-8 col-sm-8" style="
                                            padding-left: 0px;
                                            padding-right: 0px;

                                        ">
             <div id="highchart_timeline"></div>
             </div>
                 <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                            padding-right: 0px;
                                            padding-left: 10px;
                                            padding-bottom: 2px;
                                        ">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="
                                            padding-left: 0px;
                                            padding-right: 0px;

                                        ">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="7800">{{numFound | number:0}}</span>
                                                
                                            </h3>
                                            <small>Total Issued Visa</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                 </div>
                 <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                            padding-right: 0px;
                                            padding-left: 10px;
                                            padding-top: 3px;
                                        ">
                 <div id="highchart_pie"></div>
                 </div>
            </div>
            </ul>
            <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;">
                <div id="officerHeader" data-toggle="collapse" data-target="#negaraBar">
                  <h3><i class="fa fa-user"></i> Negeri</h3><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
                <div id="negaraBar" > 
                     <div class = "col-md-12 col-lg-12 col-sm-12" style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                ">
                     <div id="highchart_col"></div>
                    </div>
                </div>
              </ul>
              <!--
              <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;">
                <div id="negaraHeader" data-toggle="collapse" data-target="#jobBar">
                  <h3><i class="fa fa-user"></i>Negara</h3>
                  </div>
                <div id="negaraBar" > 
                     <div class = "col-md-12 col-lg-12 col-sm-12" style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                ">
                      <div id="highchart_active"></div>
                    </div>
                </div>
              </ul>-->
            </div>

<!--
            <div class="row">
                <div class="portlet light bordered ">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-settings font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Distribution</span>
                            <span class="caption-helper hide">Applications by country</span>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-target="#overal_analysis"  ng-click="overallTab()" data-toggle="tab"> Overall Analysis </a>
                            </li>
                             <li >
                                <a data-target="#state_analysis" ng-click="stateTab()"  data-toggle="tab"> State Analysis </a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane" id="state_analysis">
                            <div id="highchart_col"> </div>
                            </div>
                            <div class="tab-pane active" id="overal_analysis">
                               <-- <div class="row">
                                  <div class="col-md-6" style="height:350px;width:100%">
                                    <style>
                                        #map {
                                          width: 100%;
                                          height: 350px;
                                        }
                                        </style>
                                   <div id="map"></div>
                                  </div>

                                </div>
                                --!>
                                <div class="row">
                                    <div class="col-md-4">
                                        
                                    </div>
                                    <div class="col-md-8">
                                        <!--
                  <div id="highchart_col"></div>--!>
                                        <div id="highchart_timeline"></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <!--
            <div class="tab-pane active" id="timeline_analysis">
              <div id="highchart_timeline1"></div>
            </div>
          --!>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
<style>
    .daterangepicker.dropdown-menu {
        top: 593px !important;
        left: 78px;
    }
    
</style>