<div ng-controller="VAAController">
<div class="page-bar" ng-if="filterButtons.length>0">
    <ul class="page-breadcrumb" data-ng-repeat="filter in filterButtons">
        <li>
			<div class="custom-alerts alert alert-success fade in" style="margin:0;padding:5px"><button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding-top: 5px; margin-top: 4px; margin-left: 5px;" ng-click="updateFilter(filter.id,true)"></button> {{filter.value}}</div>
        </li>
    </ul>
    <ul class="page-breadcrumb" >
        <li>
    		<div ng-click="reset()" class="btn btn-primary previousBtn" style="padding: 5px;" ><i class="fa fa-refresh"></i> Reset </div>
    	</li>
    </ul>
</div>
<div class="row">
	<div class="col-md-3">
		<div class = "row">
			<div class="portlet light bordered " style="padding: 5px; min-height: 25px;">
                <!--<div class="portlet-title" style="padding-right: 5px; padding-bottom: 5px; padding-left: 5px;">
                <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">FILTERS</span>
                 </div>
                -->
	            <div class="portlet-body" style="padding: 5px;">
	            <h4 class="block" style="padding: 0px; margin: 1px;">Top Jobs</h4>
	            	<div class="list-group">

	            			<a class="list-group-item bg-green-turquoise font-sm" data-ng-repeat="cnt in jobs" ng-click="clickJobs(cnt.field)" style="padding:5px;">
	                                        {{cnt.field}}
	                                            <span class="badge badge-danger"> {{cnt.count}}</span>
	                                        
	                        </a>
	                
	            	
	            
	            <h4 class="block" style="padding: 0px; margin: 1px;">Top Employer</h4>
	            	<div class="list-group">

	            			<a class="list-group-item bg-green-turquoise" data-ng-repeat="cnt in employers" ng-click="clickEmply(cnt.field)" style="padding:5px;" >
	                                        {{cnt.field}}
	                                            <span class="badge badge-danger"> {{cnt.count}}</span>
	                                        
	                        </a>
	                </div>
	              
	            	
	            </div>
	            <h4 class="block" style="padding: 0px; margin: 1px;">Visa Types</h4>
	            	<div class="list-group">

	            			<a class="list-group-item bg-green-turquoise" data-ng-repeat="cnt in visas" ng-click="clickVisa(cnt.field)" style="padding:5px;" >
	                                        {{cnt.field}}
	                                            <span class="badge badge-danger"> {{cnt.count}}</span>
	                                        
	                        </a>
	                </div>
	              
	            	
	            </div>
	        </div>
		</div>
	</div>
	<div class="col-md-9">
		<div class = "row">
			<div class="portlet light bordered ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Distribution</span>
                        <span class="caption-helper hide">Applications by country</span>
                    </div>
                    <div class="actions">
                        <div data-toggle="buttons" class="btn-group btn-group-devided">
                            <label class="btn dark btn-outline btn-circle btn-sm active">
                                <input type="radio" id="option1" class="toggle" name="options">WorldMap</label>
                            <label class="btn dark btn-outline btn-circle btn-sm">
                                <input type="radio" id="option2" class="toggle" name="options">TreeMap</label>
                            
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
	                <div class = "row">
						<datamap
					  		map="mapObject"
					  		on-click="updateActiveGeography"
					  		plugins="mapPlugins"
					  		
					  		>
						</datamap>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div id="highchart_pie"></div>
						</div>
						<div class="col-md-8">
							<div id="highchart_col"></div>
						</div>
						
					</div>
				
				</div>
			
		</div>
	</div>
</div>	
</div>

