<div ng-controller="VAAController">
  <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;"  ng-show="loading">

                    <!--  BEGIN PAGE SPINNER -->
                     <div ng-spinner-bar class="page-spinner-bar show">
                         <div class="bounce1"></div>
                         <div class="bounce2"></div>
                         <div class="bounce3"></div>
                     </div>
                  <!--    END PAGE SPINNER -->
  </div>

<div class="page-bar" ng-if="filterButtons.length>0">
    <ul class="page-breadcrumb" data-ng-repeat="filter in filterButtons">
        <li>
			<div class="custom-alerts alert alert-success fade in" style="margin:0;padding:5px"><button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding-top: 5px; margin-top: 4px; margin-left: 5px;" ng-click="updateFilter(filter.id,true)"></button> {{filter.value}}</div>
        </li>
    </ul>
    <ul class="page-breadcrumb" >
        <li>
    		<div ng-click="reset()" class="btn btn-primary previousBtn" style="padding: 5px;" ><i class="fa fa-refresh"></i> Reset </div>
    	</li>
    </ul>
</div>
<div class="row">
	<div class="col-md-3" >
		<div class = "row">
			<div class="portlet light bordered " style="padding: 5px; min-height: 25px;">
			<div class="actions">
                        <div  class="btn-group btn-group-devided">
                            <label id = "active" class="btn dark btn-outline btn-circle btn-sm active"
                             btn-radio="'active'" ng-change="changeQueryType()" ng-model="queryType"
                             ng-class="{overall:'', active:'bg-green', '':'disable'}[queryType]"
                            >
                            	Active
                            </label>
                            <label id = "overall" class="btn dark btn-outline btn-circle btn-sm"
                            btn-radio="'overall'" ng-change="changeQueryType()" ng-model="queryType"
                            ng-class="{overall:'bg-green', active:'', '':''}[queryType]"
                            >
                                Overall
                            </label>

                        </div>
                    </div>
                <!--<div class="portlet-title" style="padding-right: 5px; padding-bottom: 5px; padding-left: 5px;">
                <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">FILTERS</span>
                 </div>
                -->
                <div class="col-md-12 portlet light portlet-fit bordered" style="padding: 5px;">
                  <div class="mt-element-list">
                    <div class="mt-list-head list-simple ext-1 font-white bg-blue-chambray">
                        <div class="list-head-title-container">
                              <a ng-click="reset()" class="font-white pull-right">
                                  <i class="fa fa-refresh"></i>
                              </a>
                                  <h4 class="list-title">Filter</h4>
                              </div>
                          </div>

                          <div class="mt-list-container list-simple ext-1 group">
                                            <a class="list-toggle-container" data-toggle="collapse" data-target="#jobs" aria-expanded="false">
                                                <div class="list-toggle done uppercase"> Jobs
                                                    <span class="badge badge-default pull-right bg-white font-green bold">{{uJob}}</span>
                                                </div>
                                            </a>
                                            <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="jobs">
                                                <ul>
                                                  <li  class="mt-list-item" ng-repeat="cnt in jobs" ng-click="clickJobs(cnt.val)">
                                                    <div class="mt-list-title">  {{omitNa(cnt.val) |limitTo:25}}</div>
                                                    <div class="list-datetime"> {{cnt.count}} </div>
                                                  </li>
                                                  <li  class="mt-list-item" ng-click="moreJobs()">
                                                    <div class="mt-list-title"> show more</div>
                                                  </li>
                                                </ul>
                                            </div>
                                            <a class="list-toggle-container" data-toggle="collapse" data-target="#employers" aria-expanded="false">
                                                <div class="list-toggle uppercase"> employer
                                                    <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp}}</span>
                                                </div>
                                            </a>
                                            <div style="" aria-expanded="false"  class="panel-collapse collapsed collapse" id="employers">
                                                <ul>
                                                  <li  class="mt-list-item" ng-repeat="cnt in employers" ng-click="clickEmply(cnt.val)">
                                                    <div class="mt-list-title">  {{omitNa(cnt.val) |limitTo:25}}</div>
                                                    <div class="list-datetime"> {{cnt.count}} </div>
                                                  </li>
                                                </ul>
                                            </div>
                                            <a class="list-toggle-container" data-toggle="collapse" data-target="#visa" aria-expanded="false">
                                                <div class="list-toggle done uppercase"> Visa
                                                    <span class="badge badge-default pull-right bg-white font-green bold">{{uVis}}</span>
                                                </div>
                                            </a>
                                            <div style="" aria-expanded="false" ng-class="{{db_clicked}}" class="panel-collapse collapsed collapse" id="visa">
                                                <ul>
                                                  <li  class="mt-list-item" ng-repeat="cnt in visas" ng-click="clickVisa(cnt.val)">
                                                    <div class="mt-list-title">  {{omitNa(cnt.val) |limitTo:25}}</div>
                                                    <div class="list-datetime"> {{cnt.count}} </div>
                                                  </li>
                                                </ul>
                                            </div>
                                            <a class="list-toggle-container" data-toggle="collapse" data-target="#skill" aria-expanded="false">
                                                <div class="list-toggle uppercase"> Skill
                                                  <!--  <span class="badge badge-default pull-right bg-white font-dark bold">{{uEmp}}</span>-->
                                                </div>
                                            </a>
                                            <div style="" aria-expanded="false"  class="panel-collapse collapsed collapse" id="skill">
                                                <ul>
                                                  <li  class="mt-list-item" ng-repeat="cnt in skill" ng-click="clickSkill(cnt.val)">
                                                    <div class="mt-list-title">  {{omitNa(cnt.val) |limitTo:25}}</div>
                                                    <div class="list-datetime"> {{cnt.count}} </div>
                                                  </li>
                                                </ul>
                                            </div>

                                        </div>

                      </div>
                </div>

	        </div>
		</div>
	</div>
	<div class="col-md-9">
		<div class = "row">
			<div class="portlet light bordered ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-settings font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Distribution</span>
                        <span class="caption-helper hide">Applications by country</span>
                    </div>
                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-target="#overal_analysis"
                                               data-id='overall'
                                               class="active"
                                               ng-click="changeAnalysis('overall')"
                                               data-toggle="tab"> Overall Analysis </a>
                                        </li>
                                        <!--
                                        <li>
                                            <a data-target="#timeline_analysis"
                                            	id = "time"
                                               ng-model="analysisType"
                                               ng-click="changeAnalysis('timeline')"
                                             data-toggle="tab"> Timeline Analysis</a>
                                        </li> -->
                                    </ul>

                </div>
                <div class="portlet-body">
                	<div class="tab-content">
                        <div class="tab-pane active" id="overal_analysis">
			                <div class = "row">
								<datamap
							  		map="mapObject"
							  		on-click="updateActiveGeography"
							  		plugins="mapPlugins"

							  		>
								</datamap>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div id="highchart_pie"></div>
								</div>
								<div class="col-md-8">
                <!--
									<div id="highchart_col"></div>-->
                  <div id="highchart_timeline"></div>
								</div>


							</div>
						</div>
            <!--
						<div class="tab-pane active" id="timeline_analysis">
							<div id="highchart_timeline1"></div>
						</div>
          -->
					</div>

				</div>

		</div>
	</div>

</div>
</div>
