<div class="container">
  

  <div id="chart" ng-show="showHeatMap"></div>

  <div ng-show="showPie" class="piewidget">
    <div class="pieheader">Usage</div>
    <div id="piechart" class="piechart-container"></div>
  </div>
</div>
<div class="container">
    <div class="filter col-md-8">
      <span class="m m-search"></span>
      <input type="text" ng-model="searchies" ng-change="onQueryChange(searchies)" class="form-control input-lg" placeholder="Search by Branch">
    </div>
   <div id="reportrange" class="col-md-4" style="background: #fff; cursor: pointer; padding: 5px 10px; width:32%; border: 1px solid #ccc;">
    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
    <span></span> <b class="caret"></b>
</div>
<div class="ctrls col-md-12">

  
</div>
</div>


<div class="container">

  <ul class="grid col-md-12" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
    <div id="branchHeader" data-toggle="collapse" data-target="#branches"><h3><i class="fa fa-plane"></i> Branches</h3> <span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
    <div id="branches" class="collapse in" style="background: #fafcfb; padding: 20px 10px 0px 10px;">
      <li class="grid-head">
        <ul>
          <li style="width:40%"><a ng-click="sort_by('name')">Name</a></li>
          <li style="width:30%"><a ng-click="sort_by('user.name')">User</a></li>
          <li style="width:15%"><a ng-click="sort_by('date')">Date</a></li>
          <li style="width:15%">{{item}}</li>
        </ul>
      </li>

      <li class="col-md-3 grid grid-body animate-repeat" ng-repeat="item in pagedItems[currentPage - 1] | orderBy:myOrderBy" ng-class="{'last':$last}">
        <ul ng-class="{selectedAuditList : activeBranch === item.branch}">
          <li ng-click="branch_selected(item.branch)">
            <div class="col-md-6 text-center" style="background: #e1ffdc; border-right: #95f184 solid 1px; padding: 4px;"><small>OFFICERS</small>
              <h4 style="margin: 4px 0px 0px 0px;" class="ng-binding">{{item.officers}}</h4>
            </div>
            <div class="col-md-6 text-center" style="background: #e1ffdc; padding: 4px;"><small>ANOMALIES</small>
              <h4 style="margin: 4px 0px 0px 0px;" class="ng-binding">{{item.anomalies}}</h4>
            </div>
            <div class="col-md-12" style="height:81px;">
              <span class="grid-title">
              <h4 style="font-size:16px;"><i class="fa fa-plane" aria-hidden="true"></i> {{ item.branch }}</h4>
            </span>
            </div>
            <div class="col-md-12" style="/* position: absolute; */text-align: center;top: 0px;/* display:inline; */padding: 4px; background:#e1ffdc;">
              <small>ACTIVITIES</small>
              <h4 style="margin: 4px 0px 0px 0px;" class="ng-binding">{{item.count}}</h4>
            </div>
          </li>
        </ul>
      </li>

      <li class="clear-fix"></li>
      <ul class="col-md-12" style="text-align:center;">

        <li class="pagination">
          <pager total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></pager>
          <p ng-if="itemsPerPage * currentPage < totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ itemsPerPage * currentPage }} of {{ totalItems }} total
            items
          </p>
          <p ng-if="itemsPerPage * currentPage >= totalItems">
            Showing {{ itemsPerPage * currentPage - itemsPerPage + 1 }} - {{ totalItems }} of {{ totalItems }} total items
          </p>
        </li>
      </ul>
    </div>
  </ul>

  <ul class="grid col-md-12" ng-show="showOfficer">
    <div id="officerHeader" data-toggle="collapse" data-target="#officerContainer"><h3><i class="fa fa-user"></i> Officers in <b>{{activeBranch}}</b></h3><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
    <div class="col-md-12 collapse in" id="officerContainer">
      
      <div class="col-md-4 filter" style="border: 1px solid #d4e4e3; padding: 20px 20px;">
      <input type="text" ng-model="officer" class="form-control" style="border: #ccc 1px solid; height: 50px;" placeholder="Search by Officer">
      <ul style="padding:0px;  height:300px; overflow:auto;">
        <li ng-class="{selectedAuditUserList : activeUser === officer}" class="selectpickerUser" ng-click="officer_change(officer)"
          ng-repeat="officer in officers | filter:officer">
          {{officer}}
        </li>
      </ul>

    </div>
    <div class="col-md-8">
      <h3>Branch Activites from {{startdt}} - {{enddt}}</h3>
      <h5 class="selectedBox"></h5>
    </div>
    </div>


  </ul>

</div>