<div class="row" ng-controller="CAController">
                        <div class="col-md-12" style="padding-top: -10px;padding-right:0px;padding-left: 0px;margin-top:-20px;">
                            <form class="form-horizontal form-row-seperated" action="#">
                                <div class="portlet light">
                                    <div class="portlet-title" sytle="margin:0px;">
                                      <div class="caption">
                                        <h2 class="font-green sbold uppercase"><i class="fa fa-map-marker fa-4"></i>{{selectedCountry.val}} <BR></h2>

                                      </div>
                                      <div class="actions">
                                        <select ng-model="selectedCountry"
                                        ng-options="item.val for item in countries" ng-change="update()"
                                        class="table-group-action-input form-control input-medium">
                                        </select>
                                      </div
                                     </div>
                                   </div>
                                    <div class="portlet-body">
                                        <div class="">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-target="#tab_general"
                                                     ng-click="changeTab('general')"
                                                     data-toggle="tab"> Summary </a>
                                                </li>
                                                <li class="">
                                                    <a data-target="#tab_job"
                                                     ng-click="changeTab('Jobs')"
                                                     data-toggle="tab"> Jobs </a>
                                                </li>

                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_general">
                                                    <div class="row">
                                                      <div class="col-md-12">
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                      <div class="col-md-3" style="padding:0px;">
                                                        <div class="col-md-12 profile-info" style="padding:2px;">


                                                            <div class="portlet sale-summary"  >
                                                              <div class="portlet-title">
                                                                  <div class="caption font-red sbold">Summary Jobs </div>
                                                                  <div class="tools">
                                                                      <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                                                                  </div>
                                                              </div>
                                                              <div class="portlet-body">
                                                                  <ul class="list-unstyled">
                                                                    <div class="caption font-red sbold">Overall</div>
                                                                      <li>
                                                                          <span class="sale-info"> Total Applications
                                                                              <i class="fa fa-img-up"></i>
                                                                          </span>
                                                                          <span class="sale-num"> {{oJobCount}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Distinct Individual
                                                                              <i class="fa fa-img-up"></i>
                                                                          </span>
                                                                          <span class="sale-num"> {{uniqDoc}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Avg. Age</span>
                                                                          <span class="sale-num"> {{jobAvgAge|limitTo:5}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Min. Age</span>
                                                                          <span class="sale-num"> {{jobMinAge|limitTo:5}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Max. Age</span>
                                                                          <span class="sale-num"> {{jobMaxAge|limitTo:5}} </span>
                                                                      </li>


                                                                      <BR>
                                                                      <div class="caption font-red sbold">Active</div>
                                                                      <li>
                                                                          <span class="sale-info"> Active</span>
                                                                          <span class="sale-num"> {{aJobCount}} </span>
                                                                      </li>

                                                                  </ul>
                                                              </div>
                                                            </div>
                                                          </div>
                                                      </div>

                                                      <div class="col-md-3" style="padding:0px;">
                                                        <div class="col-md-12 profile-info" style="padding:2px;">


                                                            <div class="portlet sale-summary" >
                                                              <div class="portlet-title">
                                                                  <div class="caption font-red sbold">Summary Visitors </div>
                                                                  <div class="tools">
                                                                      <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                                                                  </div>
                                                              </div>
                                                              <div class="portlet-body">
                                                                  <ul class="list-unstyled">
                                                                    <div class="caption font-red sbold">Overall</div>
                                                                      <li>
                                                                          <span class="sale-info"> Total Entry
                                                                              <i class="fa fa-img-up"></i>
                                                                          </span>
                                                                          <span class="sale-num"> {{oVisitEntry}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Distinct Entry
                                                                              <i class="fa fa-img-up"></i>
                                                                          </span>
                                                                          <span class="sale-num"> {{uVisitEntry}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Total Exits</span>
                                                                          <span class="sale-num"> {{oVisitExit}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Distinct Exits</span>
                                                                          <span class="sale-num"> {{uVisitExit}} </span>
                                                                      </li>


                                                                      <BR>
                                                                      <div class="caption font-red sbold">Active</div>
                                                                      <li>
                                                                          <span class="sale-info"> Overall Vistors
                                                                              <i class="fa fa-img-down"></i>
                                                                          </span>
                                                                          <span class="sale-num"> {{oVisitCount}} </span>
                                                                      </li>
                                                                      <li>
                                                                          <span class="sale-info"> Active Vistors </span>
                                                                          <span class="sale-num"> {{aVisitCount}} </span>
                                                                      </li>

                                                                  </ul>
                                                              </div>
                                                            </div>
                                                          </div>
                                                      </div>





                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab_job">

                                                  <div class="row">
                                                    <div class="col-md-3" style="padding:0px;">
                                                      <div class="col-md-12 profile-info" style="padding:2px;">


                                                        <div class="portlet sale-summary">
                                                          <div class="portlet-title">
                                                              <div class="caption font-red sbold">Summary Jobs </div>
                                                              <div class="tools">
                                                                  <a class="reload" href="javascript:;" data-original-title="" title=""> </a>
                                                              </div>
                                                          </div>
                                                          <div class="portlet-body">
                                                            <ul class="list-unstyled">
                                                              <div class="caption font-red sbold">Overall</div>
                                                                <li>
                                                                    <span class="sale-info"> Total Applications
                                                                        <i class="fa fa-img-up"></i>
                                                                    </span>
                                                                    <span class="sale-num"> {{oJobCount}} </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info"> Distinct Individual
                                                                        <i class="fa fa-img-up"></i>
                                                                    </span>
                                                                    <span class="sale-num"> {{uniqDoc}} </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info"> Avg. Age</span>
                                                                    <span class="sale-num"> {{jobAvgAge|limitTo:5}} </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info"> Min. Age</span>
                                                                    <span class="sale-num"> {{jobMinAge|limitTo:5}} </span>
                                                                </li>
                                                                <li>
                                                                    <span class="sale-info"> Max. Age</span>
                                                                    <span class="sale-num"> {{jobMaxAge|limitTo:5}} </span>
                                                                </li>


                                                                <BR>
                                                                <div class="caption font-red sbold">Active</div>
                                                                <li>
                                                                    <span class="sale-info"> Active</span>
                                                                    <span class="sale-num"> {{aJobCount}} </span>
                                                                </li>

                                                            </ul>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>


                                                    <div class="col-md-3" style="padding:0px;">
                                                      <div class="col-md-12 profile-info" style="padding:2px;">
                                                          <div class="portlet sale-summary">
                                                            <div class="portlet-title">
                                                                <div class="caption font-red sbold">Top Jobs </div>

                                                            </div>
                                                            <div class="portlet-body">
                                                                <ul class="list-unstyled" data-ng-repeat="job in topJobs">
                                                                  <li></li>
                                                                    <li>
                                                                      
                                                                        <span class="sale-info"> {{findNA(job.val)}}
                                                                            <i class="fa fa-img-up"></i>
                                                                        </span>
                                                                        <span class="sale-num"> {{job.count}} </span>
                                                                    </li>


                                                                </ul>
                                                            </div>
                                                        </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" style="padding:0px;">
                                                      <div id="highchart_col" style="width:94%; "></div>
                                                    </div>

                                                  </div>
                                                  <div class="row">
                                                    <div class="col-md-6">
                                                      <div id="highchart_timeline"></div>
                                                    </div>
                                                  </div>

                                                </div>
                                            </div>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
