  <div ng-controller="DetaineeController">
      <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;" ng-show="loading">
          <!--  BEGIN PAGE SPINNER -->
          <div ng-spinner-bar class="page-spinner-bar show">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
          </div>
          <!--    END PAGE SPINNER -->
      </div>
       <div id="sticky-anchor"></div>
      <div class="page-bar"  id="sticky">
     
          <ul class="page-breadcrumb" data-ng-repeat="filter in filterButtons">
              <li>
                  <div class="custom-alerts alert alert-success fade in" style="margin:0;padding:5px">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding-top: 5px; margin-top: 4px; margin-left: 5px;" ng-click="updateFilter(filter.id,true)"></button> {{filter.value}}</div>
              </li>
          </ul>
          <ul class="page-breadcrumb">
              <li>
                  <div id="resetbtn" ng-click="reset()" class="btn btn-primary previousBtn" style="padding: 5px;"><i class="fa fa-refresh"></i> Reset </div>
              </li>
          </ul>
          <ul class="page-breadcrumb  pull-right">
              <li style="vertical-align: top;">
              <button class="btn btn-block btn-default" ng-click="CallMe()"><i class="fa fa-question-circle"></i> Help</button> 
              <div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
              ng-intro-autostart="ShouldAutoStart">

              </li>
              <li style="vertical-align: top;">
              
              <button class="btn btn-block btn-default" ng-click="open()"><i class="fa fa-table"></i> Datatable</button>
              </li>
               <li>
              <div id="vaa-range" style="width: 100%;"
                                    class="pull-right tooltips btn btn-fit-height green"
                                    data-placement="top"
                                    data-original-title="Change dashboard date range">
                                      <i class="icon-calendar"></i>&nbsp;
                                      <span class="thin uppercase hidden-xs">June 28, 2016 - July 4, 2016</span>&nbsp;
                                      <i class="fa fa-angle-down"></i>
                                  </div>
              </li>
             
          </ul>
      </div>
       
      <div class ="row">
        <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding-left: 15px;padding-right: 0px;" >
                  <div id="officerHeader" data-toggle="collapse" data-target="#stats">
                    <h3><i class="fa fa-bar-chart"></i> Timeline and Statistics</h3><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
                  <div id="stats" > 
                       <div class = "col-md-8 col-lg-8 col-sm-8" style="padding: 0px;">
                       <div id="highchart_timeline"></div>
                      </div>
                      <div class = "col-md-4 col-lg-4 col-sm-4" style="padding-right: 0px;padding-left: 10px;padding-bottom: 2px;height: 80px;">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 10px;padding-right: 0px;height: 80px">
                          <div class="dashboard-stat2 ">
                              <div class="display">
                                  <div class="number">
                                      <h3 class="font-green-sharp">
                                          <span data-counter="counterup" data-value="7800">{{numFound | number:0}}</span>
                                      </h3>
                                      <small>Detainees</small>
                                  </div>
                                  <div class="icon">
                                      <i class="icon-user"></i>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class = "col-md-12 col-lg-12 col-sm-12" style="padding-right: 0px;padding-left: 10px;padding-top: 0px;height: 200px;">
                        <div id="depotlist" class=" filter" style="padding:0px; border-bottom: 0px;">
                          <div class="titleHeader" style="margin-top: 0px;">
                            <h3 class="nopadding"><i style="font-size: 20px;" class="fa fa-plane"></i> Branch List</h3>
                          </div>
                          <div id="depotSearch" style="padding-top:0px;">
                            <input type="text" ng-model="searchBranch" class="form-control input-md" placeholder="&#128269; Search Depot" style="border:1px solid #ccc">
                          </div>
                          <div ng-model="checkList" ng-show="checkList" class="recordFail">
                            <h5 class="text-center"><i class="fa fa-warning"></i> Records not found!</h5>
                          </div>
                          <div class="chart-wrap">
                    <div id="dashboard-branch" class="chart bars-horizontal brand-primary">
                    <div class="row" ng-repeat="x in branch" on-finish-render="ngRepeatFinished" ng-click="clickBranch(x.val)">
                        <span class="label-cw">{{x.val}}</span>
                        <div class="bar-wrap">
                          <div class="bar" data-value={{x.count}}   ng-class="activeBranch(x.val)"></div>
                        </div>
                        <span class="number">{{x.count}}</span>
                      </div>
                    </div>
                  </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ul>
      </div>
      <div class="row">
        <div class="col-md-12" style="padding-right: 0px;">
          
           

                        <div class = "col-md-4 col-lg-4 col-sm-4" style="padding-left: 0px;padding-right: 0px;background-color:white">
                         
                        
<div id="genderpie" class="wrapper chart-box">
  <div class="pie-charts">
    <div class="pieID--categories pie-chart--wrapper">
      <h2>Menguit Jantina</h2>
      <div class="pie-chart">
        <div class="pie-chart__pie"></div>
        <ul class="pie-chart__legend">
          <li><em>Lelaki</em><span>{{male}}</span></li>
          <li><em>Perempuan</em><span>{{female}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
                        </div>
                        <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                                      padding-left: 10px;
                                                      padding-right: 0px;

                                                  "> <div class="chart-box">
                                                  <div id="highchart_age"></div>
                                                  </div>
                       
                        </div>
                        <div class = "col-md-4 col-lg-4 col-sm-4" style="padding-left: 10px;padding-right: 0px;background-color:white">
                        <div class="chart-box infographics">
                          <div class="inner">
                                                    <div class="male icon">
                                                        <i class="icon-imi-Lelaki_Manis" ng-class="maleClass"></i>
                                                        <span class="number">{{genderPercentage('male')}}%</span>
                                                    </div>
                                                    <div class="female icon">
                                                        <i class="icon-imi-Woman" ng-class="femaleClass"></i>
                                                        <span class="number">{{genderPercentage('female')}}%</span>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                  </div>
                            </div>
                        </div>
                         
              </div>
        </div>
     
      </div>  
      <div class="row">
          <div class="col-md-12 " style="padding-right: 0px;">
                    
                  <div id="highchart_col"></div>      
          </div>
       </div>
          
 <div class="row">
          <div class="col-md-12" style="padding-right: 0px;">
               <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
                    <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
                      <div id="countryHeader" data-toggle="collapse" data-target="#timelinebar">
                        <h3><i class="fa fa-id-card"></i> Document & Pass</h3>
                        <span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
                      </div>
                      <div id="timelinebar" >
                        <div class = "col-md-8 col-lg-8 col-sm-8" style="padding-left: 0px;padding-right: 0px;">
                          <div id="highchart_rank"></div>
                        </div>
                        <div class = "col-md-4 col-lg-4 col-sm-4" style="padding-right: 0px;padding-left: 10px;padding-bottom: 2px;height: 80px;">
                          <div class="chart-wrap">
                            <div class="chart-title">
                              Pass Type
                            </div>
                            <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
                            <div class="row" ng-repeat="x in user_type" on-finish-render="ngRepeatFinished">
                                <span class="label-cw">{{x.val}}</span>
                                <div class="bar-wrap">
                                  <div class="bar" data-value={{x.count}}></div>
                                </div>
                                <span class="number">{{x.count}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ul>
              
                </div>
              </div>
          </div>
           <script type="text/ng-template" id="detaineeview.html">
              <div  ng-if="!show_profile">
                  <div class="modal-body detaineeData"  role="document">
                  <div class="modal-closebtn bg-danger" data-dismiss="modal" ng-click="ok()"></div>
                    
                    <div id="tableAuditContainer" style="padding:10px;">
                      <searchlist data = "detainees" click="view(data)"></searchlist>
                      <div class="btn-group btn-group-circle" style="text-align: center;top: 50%;left:45%;">
                        <button type="button" class="btn red btn-sm" ng-click="previous_page()" ng-disabled="page.first">Previous</button>
                        <button type="button" class="btn green btn-sm" ng-click="next_page()" ng-disabled="page.last">Next</button>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-primary" >Close</button>
                      
                  </div>
              </div>
              <div ng-if="show_profile">
                <div class="modal-body detaineeData" style="padding:0px;" role="document">
                  <div class="modal-closebtn bg-danger" data-dismiss="modal" ng-click="back()"></div>
                  <profile expact-id="expact_id" ></profile>
                </div>
                <div class="modal-footer">
                      
                      
                  </div>
              </div>
          </script>
      </div>
