<div ng-controller="MyUserController">

<div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;"  ng-show="loading">
  <!--  BEGIN PAGE SPINNER -->
   <div ng-spinner-bar class="page-spinner-bar show">
       <div class="bounce1"></div>
       <div class="bounce2"></div>
       <div class="bounce3"></div>
   </div>
<!--    END PAGE SPINNER -->
</div>

  <div class="col-md-3" style="background: #48545d; padding: 5px">
    <div class=" filter" style="padding:0px; border-bottom: 0px;">
      <div id="reportrange" style="background: #fff; cursor: pointer; padding:0px; border: 1px solid #ccc; display:none;">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
      </div>


      <div class="row"></div>
      <div class="titleHeader" style="margin-top: 0px;">
        <h3 class="nopadding"><i style="font-size: 20px;" class="fa fa-plane"></i> Branch List</h3>
      </div>
      <div style="padding-top:0px;">
        <input type="text" ng-model="searchBranch" class="form-control input-md" placeholder="&#128269; Search by Branch" style="border:1px solid #ccc">
      </div>
      <div ng-model="checkList" ng-show="checkList" class="recordFail">
        <h5 class="text-center"><i class="fa fa-warning"></i> Records not found!</h5>
      </div>
      <ul class="list-group" style="height: 600px;">
         <!-- data-cntval="{{b.count}}" -->
        <li class="list-group-item" ng-repeat="b in branches | filter:searchBranch" data-cntval="{{b.officers}}" style="padding-left: 3px; padding-right: 1px;"
          ng-class="{selectedAuditList : activeBranch === b.name}" ng-click="branch_selected(b.name)">
          {{b.name}}
        </li>
      </ul>
    </div>

  </div>
  <div id="user-map" class="col-md-9">
    <div id="tooltip" ng-show="activeGraph">
    
      <div class="summaryTitle" style="font-size: 16px; border: 1px solid #3daf85; padding:0px; border-radius: 15px !important;">
        <p class="usrName"><i class="fa fa-user"></i> <span id="info"></span></p>
        <p>Rank: <span id="rank"></span></p>
        <p>User ID: <span id="usrId"></span></p>
        <p>Created by: <span id="adminId"></span></p>
        <p>Created on: <span id="createDt"></span></p>
        <p>Valid until: <span id="endDt"></span></p>
        <p style="font-size:20px; border: 1px solid #3daf85;">Duration: <span id="duration"></span></p>
        <p>Remaining days of validity: <span id="validity"></span></p>
        <p>No. of connected officers: <span id="connectedOfficer"></span></p>
      </div>
    </div>

    <div class="titleHeader" ng-show="activeBranch" style="margin-top: 0px;">
      <h3 class="nopadding"><i style="font-size: 20px;" class="fa fa-plane"></i> {{activeBranch}}
      <span  ng-show="activeGraph">&nbsp;<span class="officerCount"><i class="fa fa-group groupIcon"></i> {{officersCount}}</span></span></h3>
    </div>
    <div id="sidebar" style="display: none;">
      <div class="item-group">
        <div id="filterContainer" class="filterContainer checkbox-interaction-group"></div>
      </div>
    </div>
    <div ng-model="ErrorMsg" ng-show="ErrorMsg" class="recordFail">
      <h3 class="text-center"><i class="fa fa-warning"></i>Server Error! Please try again.</h3>
    </div>
    <div ng-show="activeGraph" class="zoomPan">
      <input type="range"  min="0" max="2" value="1" step="0.1" name="zoomInOut" id="zoomInOut" />
       <span class="zoomIcon"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
    </div>
    
    <div id="usergraph"  style="background: #fff;"> </div>
  </div>


</div>