<div ng-controller="MyUserSolrController">
    <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;" ng-show="loading">
        <!--  BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar show">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!--    END PAGE SPINNER -->
    </div>
    <div class="page-bar" ng-if="filterButtons.length>0">
        <ul class="page-breadcrumb" data-ng-repeat="filter in filterButtons">
            <li>
                <div class="custom-alerts alert alert-success fade in" style="margin:0;padding:5px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button" style="padding-top: 5px; margin-top: 4px; margin-left: 5px;" ng-click="updateFilter(filter.id,true)"></button> {{filter.value}}</div>
            </li>
        </ul>
        <ul class="page-breadcrumb">
            <li>
                <div ng-click="reset()" class="btn btn-primary previousBtn" style="padding: 5px;"><i class="fa fa-refresh"></i> Reset </div>
            </li>
        </ul>
    </div>
    <div class="row">
        
        <div class="col-md-12" style="padding-right: 0px;">
            <div class="container-fluid" style="
                                            padding-left: 0px;
                                            padding-right: 0px;
                                        ">
            <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;" ng-class="{ 'grid-list' : gridToggle, 'grid-thumb' : !gridToggle }">
            <div id="branchHeader" data-toggle="collapse" data-target="#timelinebar"><h3><i class="fa fa-plane"></i> Statistics</h3>
            <span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span>
            </div>
            <div id="timelinebar" >

            
             <div class = "col-md-8 col-lg-8 col-sm-8" style="
                                            padding-left: 0px;
                                            padding-right: 0px;

                                        ">
             <div id="highchart_rank"></div>
             </div>
                 <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                            padding-right: 0px;
                                            padding-left: 10px;
                                            padding-bottom: 2px;
                                            height: 80px;
                                        ">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="
                                            padding-left: 0px;
                                            padding-right: 0px;

                                        ">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="7800">{{numFound | number:0}}</span>
                                                
                                            </h3>
                                            <small>Active Users</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                 </div>
                 <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                            padding-right: 0px;
                                            padding-left: 10px;
                                            padding-top: 3px;
                                            height: 200px;
                                        ">
                <!-- <div class="chart-wrap">

  <div class="chart-title">
    User Type
  </div>
  <div id="dashboard-stats" class="chart bars-horizontal brand-primary">
  <div class="row" ng-repeat="x in user_type" on-finish-render="ngRepeatFinished">
      <span class="label-cw">{{x.val}}</span>
      <div class="bar-wrap">
        <div class="bar" data-value={{x.count}}></div>
      </div>
      <span class="number">{{x.count}}</span>
    </div>
   
    
  </div>
</div>
-->
  <div class=" filter" style="padding:0px; border-bottom: 0px;">
     

      <div class="row"></div>
      <div class="titleHeader" style="margin-top: 0px;">
        <h3 class="nopadding"><i style="font-size: 20px;" class="fa fa-plane"></i> Branch List</h3>
      </div>
      <div style="padding-top:0px;">
        <input type="text" ng-model="searchBranch" class="form-control input-md" placeholder="&#128269; Search by Branch" style="border:1px solid #ccc">
      </div>
      <div ng-model="checkList" ng-show="checkList" class="recordFail">
        <h5 class="text-center"><i class="fa fa-warning"></i> Records not found!</h5>
      </div>
      <ul class="list-group" style="height: 600px;">
         <!-- data-cntval="{{b.count}}" -->
        <li class="list-group-item" ng-repeat="b in branch | filter:searchBranch" data-cntval="{{b.count | number:0}}" style="padding-left: 3px; padding-right: 1px;"
          ng-class="{selectedAuditList : activeBranch === b.val}" ng-click="clickBranch(b.val)">
          {{b.val}}
        </li>
      </ul>
    </div>

  </div>
                 </div>
            </div>
            </ul>
            <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;" ng-show="!selectBranch">
                <div id="officerHeader" data-toggle="collapse" data-target="#negaraBar">
                  <h3><i class="fa fa-user"></i> Negeri</h3><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
                <div id="negaraBar" > 
                     <div class = "col-md-12 col-lg-12 col-sm-12" style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                ">
                     <div id="highchart_col"></div>
                    </div>
                </div>
              </ul>

              <ul class="grid col-md-12 col-lg-12 col-sm-12" style="padding: 0px;" ng-show="selectBranch">
                <div id="officerHeader" data-toggle="collapse" data-target="#negaraBar">
                  <h3><i class="fa fa-user"></i>Officer Graph</h3><span><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></span></div>
                <div id="negaraBar" > 
                     <div class = "col-md-4 col-lg-4 col-sm-4" style="
                                                    padding-left: 0px;
                                                    padding-right: 0px;
                                                ">
                     <div class="portlet-body">
                                        <div class="mt-element-list">
                                            <div class="mt-list-head list-simple ext-1 font-white bg-green-sharp">
                                                <div class="list-head-title-container">
                                                    <div class="list-date">created</div>
                                                    <h3 class="list-title">Officer</h3>
                                                </div>
                                            </div>
                                            <div class="mt-list-container list-simple ext-1">
                                                <ul>
                                                    <li class="mt-list-item" ng-repeat="x in officer">
                                                        <div class="list-datetime" ng-bind="x.created | date:'yyyy'">  </div>
                                                        <div class="list-item-content">
                                                            <h3 class="uppercase">
                                                                <a href="javascript:;">{{x.name}}</a>
                                                            </h3>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                    </div>
                  <div class = "col-md-8 col-lg-8 col-sm-8" style="padding-left: 0px;padding-right: 0px;">
                      <div id="usergraph"  style="background: #fff;"> </div>
                      <div id="d3-tooltip" class="hidden">
                          <p><strong>Circle information</strong></p>
                          Name : <p><span id="info">{{officer_name}}</span></p>

                      </div>
                    </div>
                </div>
              </ul>

            </div>


            </div>
        </div>
    </div>
<style>
    .daterangepicker.dropdown-menu {
        top: 593px !important;
        left: 78px;
    }
    
</style>