<div ng-hide="!showTables">
<h1 class="page-title caption font-green"> 
    <span class="caption-subject bold uppercase"> {{currentDB.dbName}} </span>({{currentDB.dbType}})
                            <small class="font-red"></small>
                        </h1>
                	<div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <a class="dashboard-stat dashboard-stat-v2 purple  stat-box" href="#">
                                    <div class="visual" style="padding-top: 5px!important;">
                                        <i class="fa fa-database" style="opacity:.4"></i>
                                    </div>
                                    <div class="details">
                                        <div class="number">
                                            <span data-counter="counterup" data-value="89" class="ng-binding">{{dbTables.tables.length}}</span></div>
                                        <div class="desc ng-binding"> Tables </div>
                                    </div>
                                </a>
                            </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue  stat-box" >
                            <div class="visual" style="padding-top: 5px!important;">
                                <i class="fa fa-download" style="opacity:.4"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="1349" class="ng-binding">{{dbTables.sync}}</span>
                                </div>
                                <div class="desc ng-binding">Imported</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green  stat-box" href="#">
                            <div class="visual" style="padding-top: 5px!important;">
                                <i class="fa fa-exchange" style="opacity:.4"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" class="ng-binding">{{dbTables.totalJobs}}</span>
                                </div>
                                <div class="desc ng-binding"> Total Jobs </div>
                            </div>
                        </a>
                    </div>
                           <!--  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-green-sharp">
                                                <span data-counter="counterup" data-value="7800">{{dbTables.length}}</span>
                                            </h3>
                                            <small>TABLES</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-pie-chart"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% progress</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> progress </div>
                                            <div class="status-number"> 76% </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="dashboard-stat2 ">
                                    <div class="display">
                                        <div class="number">
                                            <h3 class="font-red-haze">
                                                <span data-counter="counterup" data-value="1349">{{sqoopJobs}}</span>
                                            </h3>
                                            <small>SQOOP JOBS</small>
                                        </div>
                                        <div class="icon">
                                            <i class="icon-like"></i>
                                        </div>
                                    </div>
                                    <div class="progress-info">
                                        <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% change</span>
                                            </span>
                                        </div>
                                        <div class="status">
                                            <div class="status-title"> change </div>
                                            <div class="status-number"> 85% </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <button class="btn btn-success btn-sm pull-right" ng-click="showTables = false"><i class="fa fa-arrow-left"></i> back</button>
                            
                        </div>
                </div>
<div class="row" ng-hide="showTables">
    <div class="col-md-12">

        <div class="portlet box red-intense">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Sqoop Datasource
                </div>
                 <div class="tools">
                    <!-- <button class="btn btn-success btn-sm" data-toggle="modal" id="userMgtAddBtn" data-target="#userMgtAddForm"><i class="fa fa-plus"></i> Add</button> -->
                     <button class="btn btn-success btn-sm pull-right" ng-click="addDB()"><i class="fa fa-plus"></i> {{'ereporting.add' | translate}}</button>
                </div> 
            </div>
            <div class="portlet-body">
               <table ng-table="records" class="table table-bordered table-hover table-condensed editable-table"  show-filter="false">
                    <colgroup>
                          <col width="24%"/>
                          <col width="16%"/>
                          
                          <col width="16%"/>
                        </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row" class="mt-action" >
                      <td title="'Name'"  class="uppercase" header-class="'align-left'">
                        {{row.dbName}}
                      </td>
                    
                      <td title="'Database Type'" header-class="'text-center'">
                        {{row.dbType}}
                      </td>
                      <td title="'Created By'" header-class="'text-center'">
                        {{row.username}}
                      </td>
                         <td title="'Created On'" header-class="'text-center'">
                        {{row.modifiedDate || row.createdDate }}
                      </td>
                     
                        <td title="'Action'"  >
                        <button  uib-tooltip="view tables" class="btn btn-success btn-sm" ng-click="view(row)" ><span class="fa fa-eye"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="edit(row)" uib-tooltip="Edit entry">
                        <span class="glyphicon glyphicon-pencil"></span></button>
                        <!-- <button  ng-click="demo.del(row)" ng-if="!row.isEditing"></button> -->
                        <button ng-click="delete(row.id)" class="btn btn-warning btn-sm" uib-tooltip="delete entry" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <script type="text/ng-template" id="myPopoverTemplate.html">
                            <div class="popover-content text-center"> This will completly remove the user {{row.name}} from system 
                                <!-- <div class="btn-group">
                                    <a class="btn btn-sm btn-success" ng-click="del(row)" data-apply="confirmation"><i class="glyphicon glyphicon-ok"></i> Yes</a>
                                     <a class="btn btn-sm btn-danger" ng-click="popoverIsOpen = !popoverIsOpen" data-dismiss="confirmation"><i class="glyphicon glyphicon-remove"></i> No</a>
                                </div> -->
                            </div>
                        </script>

                      </td>
                    </tr>
                </table>

                

                
            </div>
        </div>
    </div>
</div>
<div class="row"  ng-hide="!showTables">
    <div class="col-md-12">

        <div class="portlet box red-intense">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Tables
                </div>
                <div class="actions">
                       <div class="portlet-input input-inline">
                                                <div class="input-icon right">
                                                    <i class="icon-magnifier"></i>
                                                    <input type="text" class="form-control input-circle" ng-model="tableFilter" placeholder="search..."> </div>
                                            </div>                     
                </div>
                 
            </div>
            <div class="portlet-body">
               <uib-accordion close-others="true">
					    <div uib-accordion-group class="panel-default"  ng-class="{'panel-success':group.tableCreated}" ng-repeat="group in dbTables.tables |filter:tableFilter| limitTo : 10 : (currentPage-1)*10">

					    <uib-accordion-heading class="green">
					    <i class="fa fa-check font-green-jungle font-lg" ng-class="{'fa-spin':group.table.isRunning}" ng-if="group.table.tableCreated"></i>
					    <i class="fa fa-refresh font-red font-lg" ng-class="{'fa-spin':group.table.isRunning}" ng-if="!group.table.tableCreated"></i>
       						{{group.table.tableName}}
      					</uib-accordion-heading>

      					    <!-- <button class="btn green" type="button"
                                uib-tooltip="full table import with default settings"
                             ng-click="autoSync(group)">Auto Import</button> -->
      						<button class="btn btn-info" type="button"
                                uib-tooltip="Configure Sqoop import jobs"
                             ng-click="sync(group)">Configure Import</button>
      						<!-- <button class="btn blue-hoki" type="button" 
                                uib-tooltip="Compute table statistics to make queries on this table run faster"
                                ng-click="inc(group)">Optimize Table</button> -->
                            <div class="clearfix" style="padding-top:15px;"></div>
                            <div class="portlet light bordered">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption">
                                            <i class="icon-bubbles font-dark hide"></i>
                                            <span class="caption-subject font-dark bold uppercase">Info</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a ng-init="showJobs=true" ng-click="showJobs=true" data-toggle="tab" aria-expanded="true"> Jobs </a>
                                            </li>
                                            <li class="">
                                                <a ng-click="showJobs=false" data-toggle="tab" aria-expanded="false"> History </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" ng-if="showJobs">
                                                <!-- BEGIN: Comments -->
                                                <div ng-if="group.jobs.length==0"> No Jobs Found</div>
                                                <div class="mt-sqoop">
                                                    <div class="mt-action" ng-repeat="job in group.jobs">
                                                        <div class="mt-action-body">
                                                            <div class="mt-action-row">
                                                                <div class="mt-action-info ">
                                                                    <div class="mt-action-icon ">
                                                                        <i class="icon-magnet"></i>
                                                                    </div>
                                                                    <div class="mt-action-details ">
                                                                        <span class="mt-action-author">{{job.incremental}} SQOOP</span>
                                                                        <p class="mt-action-desc">
                                                                            <button 
                                                                            ng-if="job.schedule == 1 || job.schedule == 2"
                                                                            type="button" class="btn blue-dark btn-xs sqoop-type">SCHEDULED</button>
                                                                            <button 
                                                                            ng-if="job.type !='NA'"
                                                                            type="button" class="btn green-meadow btn-xs sqoop-type">DATA CLEANSE</button>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="mt-action-datetime ">
                                                                    <span class="mt-action-label" ng-if="job.runTime.length>0">Last Run :</span>
                                                                    <span class="mt-action-label" ng-if="job.runTime == undefined">No Runs</span>
                                                                    <span class="mt-action-dot bg-green"></span>
                                                                    <span class="mt-action-date bold font-grey-gallery ">{{job.runTime}}</span>
                                                                </div>
                                                                <div class="mt-action-buttons ">
                                                                    <div class="btn-group btn-group-circle">
                                                                        <button type="button" class="btn btn-outline green btn-sm"  ng-click="runWithId(job,group)">RUN</button>
                                                                        <button type="button" class="btn btn-outline yellow btn-sm" ng-click="editWithId(job,group)">EDIT</button>
                                                                        <button type="button" class="btn btn-outline red btn-sm"  ng-click="deleteWithId(job,group)">DELETE</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <!-- END: Comments -->
                                            </div>
                                            <div class="tab-pane active" ng-if="!showJobs">
                                                <!-- BEGIN: Comments -->
                                                <div ng-if="group.history.length==0"> No Records Found</div>
                                                
                                            <div class="mt-sqoop">
                                                    <div class="mt-action" ng-repeat="hist in group.history">
                                                        <div class="mt-action-body">
                                                            <div class="mt-action-row">
                                                                <div class="mt-action-info ">
                                                                    <div class="mt-action-icon ">
                                                                        <i class="icon-magnet"></i>
                                                                    </div>
                                                                    <div class="mt-action-details ">
                                                                        <span class="mt-action-author">{{hist.jobName}} SQOOP</span>
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="mt-action-datetime ">
                                                                    <span class="mt-action-label">RunTime :</span>
                                                                    <span class="mt-action-dot bg-green"></span>
                                                                    <span class="mt-action-date bold font-grey-gallery ">{{hist.runTime}}</span>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            
                            
					    </div>
					</uib-accordion>
				<!-- <ul uib-pagination total-items="dbTables.tables.length" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
                <ul uib-pagination total-items="dbTables.tables.length" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true"></ul>


                

                
            </div>
        </div>
    </div>

    
</div>







<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{row.dbName}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
       <div class="portlet-body form">
                                        <form role="form" class="form-horizontal" name="sqoopForm">
                                            <div class="form-body">
                                                <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">Data-Source</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.dbName" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">ID</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" ng-disabled="true" ng-model="row.id" >
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>
                                                 <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB Type</label>
                                                    <div class="col-md-9">
                                                           <select class="form-control edited" id="form_control_1" ng-model="row.dbType" required>
                                                        <option ng-value="POSTGRES">POSTGRES</option>
                                                        <option ng-value="DB2">DB 2</option>
                                                        <option ng-value="DB2">MYSQL</option>
                                                    </select>
                                                    </div>
                                                </div>   
                                                  <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB URL</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.dbUrl" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div> 
                                                  <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB Schema</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.dbSchemaName" >
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB Usermame</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.dbUsername" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>    

                                                  <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB Password</label>
                                                    <div class="col-md-7">
                                                        <input type="password" class="form-control" id="form_control_1" ng-model="row.dbPassword" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>                                           
												<div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">DB Driver</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.dbDriver" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>      

                                                <div class="form-group form-md-line-input">
                                                    <label class="col-md-3 control-label font-blue-ebonyclay font-lg sbold" for="form_control_1">Hadoop Database</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="row.hiveDB" required>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>                                                
                                                
                                                
                                                
                                                
                                                
                                                
                                            </div>
                                        
                                    </div>
    </div>
    <div class="modal-footer">
    <div  class="col-md-8">
    <div uib-alert ng-class="'alert-'+ (alert.type || 'info')" ng-show="alert.msg.length>0">{{alert.msg}}</div>
    </div>
    
   		<button class="btn btn-primary" uib-tooltip="validate if DB params are valid" type="button" ng-click="check()" ng-disabled="sqoopForm.$invalid">Check</button>
        <button class="btn btn-primary" uib-tooltip="Save/Update record" type="submit" ng-disabled="checkForm(sqoopForm)" ng-click="save()">{{saveOrUpdate}}</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</script>



<script type="text/ng-template" id="sqoopTable.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{row.dbName}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
   		<uib-accordion close-others="false">
		    <div uib-accordion-group class="panel-default" is-open="true">
			    <uib-accordion-heading class="green">
					Parameters
				</uib-accordion-heading>
				      	<div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">Sqoop Mode</label>
                            <div class="col-md-9">
                                   <select class="form-control edited" id="form_control_1" ng-model="param.incremental" required>
                                <option ng-value="FULL">FULL</option>
                                <option ng-value="INCREMENTAL">INCREMENTAL</option>
                                <option ng-value="QUERY">INCREMENTAL QUERY</option>
                            </select>
                            </div>
                        </div>  
                         
                        <div class="form-group form-md-line-input" ng-show="param.incremental == 'INCREMENTAL'">
                            <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">Check Column</label>
                            <div class="col-md-9">
                                   <select class="form-control edited" id="form_control_1" ng-model="param.checkColumn">
		                               <option ng-repeat="option in columns| filter:typeFilter" ng-value="{{option.column}}">{{option.column}}</option>
                            </select>
                            </div>
                        </div>  
                         <div class="form-group form-md-line-input" ng-show="param.incremental == 'INCREMENTAL'&&param.lastValue.length>0">
                            <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">Last Value</label>
                            <div class="col-md-9">
                                   <input type="text" class="form-control" ng-disabled="true" ng-model="param.lastValue" disabled="disabled">
                            </div>
                        </div>
                        <div ng-show="param.incremental == 'INCREMENTAL QUERY'"> 
                            <div class="form-group form-md-line-input" >
                                <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">Check Column</label>
                                <div class="col-md-9">
                                       <select class="form-control edited" id="form_control_1" ng-model="param.checkColumn">
                                           <option ng-repeat="option in columns| filter:typeFilter" ng-value="{{option.column}}">{{option.column}}</option>
                                </select>
                                </div>
                            </div> 
                            <div class="form-group form-md-line-input">
                                <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">CONDITION</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="form_control_1" ng-model="param.condition" required>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>  
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">Hive</label>
                            <div class="col-md-9">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox has-info">
                                        <input type="checkbox" id="checkbox33" class="md-check" ng-model="param.hiveDropDelim" checked="">
                                        <label for="checkbox33">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Drop Delims </label>
                                    </div>
                                    <div class="md-checkbox has-info" ng-hide="param.incremental == 'INCREMENTAL'">
                                        <input type="checkbox" id="checkbox34" class="md-check" ng-model="param.hiveOverwriteTable" checked="" >
                                        <label for="checkbox34">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Overwrite table </label>
                                    </div>
                                    <div class="md-checkbox has-info">
                                        <input type="checkbox" id="checkbox35" class="md-check" ng-model="param.hiveSingleMapper">
                                        <label for="checkbox35">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Single Mapper </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label font-blue-ebonyclay" for="form_control_1">File Format</label>
                            <div class="col-md-9">
                                   <select class="form-control edited" id="form_control_file_formt" ng-model="param.fileFormat">
                                    <option ng-value="RAW">RAW (Default, same as DB)</option>
                                    <option ng-value="PARQUET">PARQUET</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Schedule</label>
                            <div class="col-md-9">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" id="radio53" name="radio2" ng-model="param.schedule" value=3 class="md-radiobtn">
                                        <label for="radio53">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> No </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radio53" name="radio2" ng-model="param.schedule" value=0 class="md-radiobtn">
                                        <label for="radio53">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Once </label>
                                    </div>
                                    <div class="md-radio has-error">
                                        <input type="radio" id="radio54" name="radio2" ng-model="param.schedule" ng-value=1 class="md-radiobtn" checked="">
                                        <label for="radio54">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Daily </label>
                                    </div>
                                    <div class="md-radio has-warning">
                                        <input type="radio" id="radio55" name="radio2" ng-model="param.schedule"  ng-value=2 class="md-radiobtn">
                                        <label for="radio55">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Weekly </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Data Cleansing</label>
                            <div class="col-md-9">
                                <div class="md-radio-inline">
                                    <div class="md-radio">
                                        <input type="radio" id="radiona" name="radio3" ng-model="param.type" value="NA" class="md-radiobtn" >
                                        <label for="radiona">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> No </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radiotrim" name="radio3" ng-model="param.type" value ="TRIM"  class="md-radiobtn" >
                                        <label for="radiotrim">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Trim </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radiodup" name="radio3" ng-model="param.type" value="DUPLICATE" class="md-radiobtn">
                                        <label for="radiodup">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Remove Duplicates </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="form-group form-md-line-input" ng-show="param.type == 'DUPLICATE'">
                            <label class="col-md-3 control-label font-blue-ebonyclay " for="form_control_1">Duplicate Column</label>
                           <!--  <div class="col-md-9">
                                   <select class="form-control edited" id="form_control_1" ng-model="param.duplicateColumn">
                                       <option ng-repeat="option in columns" ng-value="{{option.column}}">{{option.column}}</option>
                            </select>
                            </div> -->
                            <div class="col-md-9">
                                <ui-select multiple ng-model="param.duplicateColumn" theme="bootstrap"  close-on-select="false" style="width: 300px;" title="Choose a color">
                                    <ui-select-match placeholder="Select roles" >{{$item.column}}</ui-select-match>
                                    <ui-select-choices repeat="option.column as option in columns" class="uppercase">
                                      {{option.column}}
                                    </ui-select-choices>
                                  </ui-select>
                            </div> 
                        </div>
                          <div class="form-group form-md-line-input" ng-show="param.type == 'DUPLICATE'">
                            <label class="col-md-3 control-label font-blue-ebonyclay " for="form_control_1">Order By</label>
                             <div class="col-md-9">
                                   <select class="form-control edited" id="form_control_1" ng-model="param.orderBy">
                                       <option ng-repeat="option in columns" ng-value="{{option.column}}">{{option.column}}</option>
                            </select>
                            </div> 
                        </div>


                    
		    </div>
		    <div uib-accordion-group class="panel-default" is-open="true">
			    <uib-accordion-heading class="green">
					Columns
				</uib-accordion-heading>
				   <table ng-table="columnMeta" class="table table-bordered table-hover table-condensed editable-table"  show-filter="false">
	                    <colgroup>
	                          <col width="24%"/>
	                          <col width="16%"/>
	                          
	                          <col width="16%"/>
	                        </colgroup>
	                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row" class="mt-action" >
	                      <td title="'Column Name'"  class="uppercase" header-class="'align-left'">
	                        {{row.column}}
	                      </td>
	                    
	                      <td title="'Column Type'" header-class="'text-center'">
	                        {{row.typeName}}
	                      </td>
	                     
	                     
	                        <td title="'Key'"  >
	                         
	                            <button class="btn green-haze btn-xs" type="button" ng-if="row.primaryKey">Primary Key</button>
	                      </td>
	                    </tr>
	                </table>
		    </div>
		</uib-accordion>
       
    </div>
    <div class="modal-footer">
   <!--  <div  class="col-md-8">
    <div uib-alert ng-class="'alert-'+ (alert.type || 'info')" ng-show="alert.msg.length>0">{{alert.msg}}</div>
    </div> -->
    
   		<button class="btn green" uib-tooltip="Run Sqoop utility to import data" type="button" ng-click="createAndRunJob()" >Save And Run</button>
        <button class="btn green-haze" uib-tooltip="Run Sqoop utility to import data" type="button" ng-click="createJob()" ng-disabled="sqoopForm.$invalid">Save And Exit</button>
        <button class="btn green" uib-tooltip="Run Sqoop utility to import data" type="button" ng-click="runJob()" ng-disabled="sqoopForm.$invalid">Run  And Exit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </form>
    </div>
</script>
