<div class="row">
    <div class="col-md-12">
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div id="loader" style="position:absolute; top:0px; left:0px; background:rgba(255,255,255,0.8); width:100%; z-index:9999;">
            <div ng-spinner-bar class="page-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div class="portlet box red-intense" id="roleMgtList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Role Management List
                </div>
                <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="roleMgtAddBtn" data-target="#roleMgtAddForm"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
            <div class="portlet-body">
                <table id="roleMgtdata" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <!-- <th>Value</th> -->
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <tbody>
                    <tr ng-repeat="x in names">
                        <td class='hidden'>{{ x.value }}</td>
                        <td>{{ x.name }}</td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="modal fade" id="roleMgtAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document" style="width: 85%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roleMgtAddFormHeader">New message</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide" id="roleMgtRequire">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <form id="roleMgtForm" name="roleMgtUIForm" autocomplete="off">

                    <div class="row">
                        <div class="form-group col-md-5">
                            <label for="roleMgt-name" class="control-label">Role Name:</label>
                            <input type="text" class="form-control col-sm-5" id="roleMgt-name">
                        </div> 
                    </div>
<!--TAB WILL START HERE-->
                      <div class="row">
                        <div class="col-md-12">
                          <div class="portlet light ">
                              <div class="portlet-body tabroles">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" class="tabRep" data-target="#tab_Report" aria-expanded="expanded"> Report Permissions </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" class="tabDashB" data-target="#tab_Dashboard" aria-expanded="expanded"> Dashboard Permissions </a>
                                    </li> 
                                    <li class="">
                                        <a data-toggle="tab" class="tabFS" data-target="#tab_Fastsearch" aria-expanded="expanded"> Fast Search Permissions </a>
                                    </li>   
                                    <li class="">
                                        <a data-toggle="tab" class="tabDB" data-target="#tab_Database" aria-expanded="expanded"> Database Permissions </a>
                                    </li>                             
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="tab_Report">
                                     <div class="portlet-body  ">
                                        <div class="row">
                                            <div class="form-group col-md-6 col-xs-12 col-sm-12" style="float: left;">
                                             <label for="myParentSel" class="control-label">Parent Level Category Selection:</label>
                                              <select multiple="multiple" id="myParentSel">
                                              </select>
                                            </div>
                                            <div id='divSubReport' class="form-group col-md-6 col-xs-12 col-sm-12" style="float: left;" >
                                             <label for="mySubParentSel" class="control-label">Sub Level Category Selection:</label>
                                              <select id='mySubParentSel' multiple='multiple'>    
                                              </select>
                                            </div>  
                                        </div>
                                        <div id='divdtCURD' class="form-group">
                                            <label for="dtCURD" class="control-label col-md-12">Select Permission to Sub Level Category:</label>
                                            <table id="dtCURD" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Parent Name</th>
                                                        <th>Sub Report Name</th>
                                                        <th>Create</th>
                                                        <th>Run</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>
                                                        <th>Query Visible</th>
                                                    </tr>
                                                </thead>
                                            </table>                                          
                                        </div>
                                      </div>  
                                    </div>
                                    <div class="tab-pane fade" id="tab_Dashboard">
                                        <div class="portlet-body  ">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-12 col-sm-12" style="float: left;">
                                                 <label for="myDashboardSel" class="control-label">Select Application to give access:</label>
                                                 <br/>
                                                 <!-- <div>
                                                     Give full access to All Dashboard
                                                     <input type="checkbox" name="chkDashboard">
                                                 </div>
                                                 <br/> -->
                                                  <select multiple="multiple" id="myDashboardSel">   
                                                  </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_Fastsearch">
                                        <div class="portlet-body  ">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-12 col-sm-12" style="float: left;">
                                                 <label for="myFastSearchSel" class="control-label">Select Application to give access:</label>
                                                 <br/>
                                                <!--  <div>
                                                     Give full access to All Fast Search
                                                     <input type="checkbox" name="chkDashboard">
                                                 </div>
                                                 <br/> -->
                                                  <select multiple="multiple" id="myFastSearchSel">
                                                      <option>Applications</option>
                                                      <option>Users</option>
                                                      <option>Visitors</option>
                                                      <option>Black Listed</option>
                                                  </select>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab_Database">
                                        <div class="portlet-body  ">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-xs-12 col-sm-12" style="float: left;">
                                                 <label for="myDatabaseSel" class="control-label">Select Application to give access:</label>
                                                 <br/>
                                                 <!-- <div>
                                                     Give full access to All Database
                                                     <input type="checkbox" name="chkDashboard">
                                                 </div>
                                                 <br/> -->
                                                  <select multiple="multiple" id="myDatabaseSel">
                                                  </select>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                          </div>
                        </div>
                    </div>
                    
                    <!--TAB WILL END HERE-->  
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="roleMgtUISubmit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" id="roleMgtUIUpdate" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>            
    </div>
</div>
</div>
<div class="modal fade" id="roleMgtDelete" tabindex="-1" role="dialog" aria-labelledby="roleMgtDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
                <button type="button" class="btn btn-success" id="roleMgtDataDeleteBtn"><i class="fa fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="roleMgtDeleteErrorMsg" tabindex="-1" role="dialog" aria-labelledby="roleMgtDeleteErrorMsg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center" id="errorTitle">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->






<script>
$(function() {
    // $('#myParentSel').multiSelect();
    $("#roleMgtAddBtn").click(function(event) {

        $("#roleMgtAddForm #roleMgtUISubmit").removeClass('hide');
        $("#roleMgtAddForm #roleMgtUIUpdate").addClass('hide');
        $("#roleMgtAddFormHeader").html("Add role"); //Change
        $('#myParentSel option').remove();
        $('#myParentSel').multiSelect('refresh');
        $('#mySubParentSel optgroup').remove();
        $('#mySubParentSel').multiSelect('refresh');
        $("#roleMgtForm")[0].reset();
        $("#roleMgtRequire").hide();
        $('#myDashboardSel option').remove();
        $('#myDashboardSel').multiSelect('refresh');      
        // $('#myFastSearchSel option').remove();
        $('#myFastSearchSel').multiSelect('refresh');
        $('#myDatabaseSel option').remove();
        $('#myDatabaseSel').multiSelect('refresh');

        $('.nav-tabs li').removeClass('active');//remove opened tab
        $('.nav-tabs .tabRep').parent().addClass('active'); //activate clicked tab
        $(".tab-content").children().removeClass('active in'); //hide other tab contents
        $('#tab_Report').addClass('active in'); //show relevant tab contents



        $.get( globalURL + "reportcat/", function( data ) {
        $.each(data, function (key, value) {
            $('#myParentSel').append(
                $("<option></option>")
                  .attr("value", value.name)
                  // .attr("SelName",value.name)
                  .text(value.display)
            );
        });
        $("#myParentSel").multiSelect('refresh');
      });

        loaddb();
        loadDashBoard();   
       

});

    function loaddb(){
       $.get( globalURL + "api/pistachio/secured/hadoop/db", function( data ) {
           $.each(data, function (key, value) {
               $('#myDatabaseSel').append(
                   $("<option></option>")
                     .attr("value", value)
                     .text(value)
               );
           });
           $("#myDatabaseSel").multiSelect('refresh');
       }); 
    }
        
    function loadDashBoard(){
        $.get( globalURL + "pistachio/dashboard", function( data ) {
                $.each(data, function (key, value) {
                    $('#myDashboardSel').append(
                        $("<option></option>")
                          .attr("value", value.title)
                          .text(value.title)
                    );
                });
                $("#myDashboardSel").multiSelect('refresh');
        });
    }

$('#roleMgtAddForm').on('hidden.bs.modal', function () {
    triggerName = "";
    SubReportAry = [];
     var dtable = $('#dtCURD').DataTable();
        dtable
            .clear()
            .draw();
    });
})

$("#loader").hide();
$(document).ajaxStart(function() {
    $("#loader").hide();
    $("#loaderTableView").css('height', '500px');
    $("#loaderTableView .page-spinner-bar").removeClass('hide');
    $("#loaderTableView").show();
});

$(document).ajaxStop(function() {
    $("#loader").hide();
    $("#loaderTableView .page-spinner-bar").addClass('hide');
    $("#loaderTableView").hide();
});

</script>
