
                         <div class="form-group dtRangeGroup" ng-if="report.dtRange" ng-init="createCalenderCtrl()">
                            <label class="col-md-3 control-label font-blue-chambray bold">Choose Date Range</label>
                            <div class="col-md-9">
                                <div class="btn default form-control " id="reportrange" ng-model="params.dtRange">
                                    <i class="fa fa-calendar"></i>
                                    <span>FROM AND TO</span>
                                     <b class="fa fa-angle-down"></b>
                                </div>
                            </div>
                        </div>
     
                    <div class="form-group" ng-if="report.state" >
                        <label class="col-md-3 control-label font-blue-chambray bold">State</label>
                        <div class="col-md-9">
                              <select id="temp-state" class="form-control" ng-init="initState()" ng-model="params.state">
                                <!-- <option ng-repeat="branch in branches" value="{{branch}}">{{branch}}</option> -->
                            </select>

                        </div>
                    </div>
                    

                    <div class="form-group myuserGroup" ng-if="report.user" >
                        <label class="col-md-3 control-label font-blue-chambray bold">Create User </label>
                        <div class="col-md-9">
                            <select id="temp-myuser" class="form-control" ng-model="params.user"></select>
                        </div>
                    </div>


                    <div class="form-group branchGroup"  ng-if="report.branch" >
                        <label class="col-md-3 control-label font-blue-chambray bold">Branch </label>
                        <div class="col-md-9">
                            <select id="NATIONALITY" class="form-control" ng-init="initDropDown('NATIONALITY')" ng-model="params.branch">
                                <!-- <option ng-repeat="branch in branches" value="{{branch}}">{{branch}}</option> -->
                            </select>

                        </div>
                    
                    </div>

                    <div class="form-group deptGroup"   ng-show="report.dept" ng-init="initDept()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Department </label>
                        <div class="col-md-9">
                            <select id="temp-dept" class="form-control department" ng-model="params.dept"></select>
                        </div>
                    </div>

                    <div class="form-group nationalityGroup"  ng-if="report.nationality" ng-init="initNationality()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Nationality </label>
                        <div class="col-md-9">
                            <select id="temp-nationality" class="form-control nationality" ng-model="params.nationality"></select>
                        </div>
                    </div>

                    <div class="form-group pastypeGroup"  ng-if="report.pasType" ng-init="initPasType()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Pas type </label>
                        <div class="col-md-9">
                            <select id="temp-pasType" class="form-control pasType" ng-model="params.pasType"></select>
                        </div>
                    </div>

                    <div class="form-group applicantGroup"  ng-if="report.applicant" ng-init="initApplicant()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Applicant </label>
                        <div class="col-md-9">
                            <select id="temp-applicant" class="form-control applicant" ng-model="params.applicant"></select>
                        </div>
                    </div>

                     <div class="form-group applicantGroup"  ng-if="report.applicationStatus" ng-init="initApplicationStatus()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Application Status </label>
                        <div class="col-md-9">
                            <select id="temp-applicationStatus" class="form-control applicationStatus" ng-model="params.applicationStatus"></select>
                        </div>
                    </div>

                    <div class="form-group applicationStepGroup"  ng-if="report.applicationStep" ng-init="initApplicationStep()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Application Step </label>
                        <div class="col-md-9">
                            <select id="temp-applicationStep" class="form-control applicationStep" ng-model="params.applicationStep"></select>
                        </div>
                    </div>

                    <div class="form-group applicationTypeGroup"  ng-if="report.applicationType" ng-init="initApplicationType()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Application Type </label>
                        <div class="col-md-9">
                            <select id="temp-applicationType" class="form-control applicationType" ng-model="params.applicationType"></select>
                        </div>
                    </div>

                    <div class="form-group applicationStepGroup"  ng-if="report.city" ng-init="initCity()">
                        <label class="col-md-3 control-label font-blue-chambray bold">City</label>
                        <div class="col-md-9">
                            <select id="temp-city" class="form-control city" ng-model="params.city"></select>
                        </div>
                    </div>

                    <div class="form-group "  ng-if="report.city" ng-init="initCity()">
                        <label class="col-md-3 control-label font-blue-chambray bold">City</label>
                        <div class="col-md-9">
                            <select id="temp-city" class="form-control city" ng-model="params.city"></select>
                        </div>
                    </div>

                    <div class="form-group "  ng-if="report.sector" ng-init="initSector()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Sector</label>
                        <div class="col-md-9">
                            <select id="temp-sector" class="form-control sector" ng-model="params.sector"></select>
                        </div>
                    </div>

                    <div class="form-group "  ng-if="report.sex" ng-init="initSex()">
                        <label class="col-md-3 control-label font-blue-chambray bold">Sex</label>
                        <div class="col-md-9">
                            <select id="temp-sex" class="form-control sex" ng-model="params.sex"></select>
                        </div>
                    </div>

                    <button ng-click="test()"> Test</button> -->