
 <div class="form-body">
                    <div class="note note-success">
                        <div class="form-group col-md-12">
                            <span class="font-blue-dark font-lg">Template Report</span>
                            <input id="temp-reportid" type="hidden" value=' + d.id + '>
                            <span class="font-grey-gallery pull-right uppercase"> Author : {{report.displayName ||report.login}}</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div ng-repeat="x in report.params">
                        
                            <div class="form-group"  ng-if="x.uiType == 'DropDown'">
                                <label class="col-md-3 control-label font-blue-chambray bold">{{x.display}}</label>
                                <div class="col-md-9">
                                        <style type="text/css">
                                            .select2 .select2-container .select2-container--default .select2-container--focus{
                                                width: 100%!important;
                                            }
                                        </style>
                                       <select id="{{x.name}}" class="form-control" select2="" ng-init="initDropDown(x.name)" ng-model="nparams[$index]">
                                      </select>


                                     
                                </div>
                            </div>
                             <div class="form-group"  ng-if="x.uiType == 'DatePicker'">
                                <label class="col-md-3 control-label font-blue-chambray bold">{{x.display}}</label>
                                <div class="col-md-9">
                                      <div class="input-group">
                                          <input type="text" class="form-control" ng-model="nparams[$index]" uib-datepicker-popup="dd/MM/yyyy" is-open="popup1.opened" close-text="Close" ng-click="popup1.opened= true"  required="" />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="popup1.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                                          </span>
                                        </div>
                                </div>
                            </div>  

                             <div class="form-group"  ng-if="x.uiType == 'default'">
                               <label class="col-md-3 control-label font-blue-chambray bold">{{x.name}}</label>
                                <div class="col-md-9">
                                      <input type="text" class="form-control" id="form_control_1" ng-model="nparams[$index]" required>
                                </div>
                            </div>   
                        
                    </div>
                    <div class="clearfix"></div>

                
        </form>