
<div class="col-md-2 portlet light portlet-fit bordered" style="padding: 5px;">
	<div class="mt-element-list">
		
		<div class="mt-element-list">
    <div class="mt-list-head list-todo red">
        <div class="list-head-title-container">
            <h3 class="list-title">Database</h3>
            <div class="list-head-count">
                <div class="list-head-count-item">
                    <i class="fa fa-database"></i> {{databaseLength}}</div>
                <!-- <div class="list-head-count-item">
                    <i class="fa fa-table"></i> 34</div> -->
            </div>
        </div>
        <a ng-click="invalidate()">
            <div class="list-count pull-right red-mint">
                <i class="fa fa-refresh"></i>
            </div>
        </a>
    </div>
    
</div>
		<div class="mt-list-container list-simple ext-1 group" id="db-help" ng-hide="showDBList">

			<a class="list-toggle-container">
				<div id="db-help1" style="padding-left: 5px;" class="list-toggle"> {{database}}
					<span id="db-help2" class="badge badge-default pull-right bg-white font-green bold">{{datatableLength}}</span>
					<div class="pull-left red-mint" style="padding-right: 10px;" ng-click="back2DB()">
		                <i class="fa fa-chevron-left"></i>
		            </div>
				</div>
			</a>
			<div style="overflow: auto; max-height: 600px"  >
				
				<!-- <impala database='database' editor="editor"> </impala> -->
				<div id="tree_4" class="jstree jstree-4 jstree-default" role="tree" aria-multiselectable="true" tabindex="0"  aria-busy="false">
					<input id="db-help3" ng-model="searchText" class="form-control" placeholder="Search"></input>
					<ul class="jstree-container-ul" role="group">
					   <div id="db-db" style="margin-left:-24px; font-size: 12px;">
						<li role="treeitem"
								     ng-repeat="dbtbllist in datatableList | filter:searchText" 
									  id="{{dbtbllist}}" class="jstree-node" aria-busy="false" ng-class="{false:'jstree-closed',true:'jstree-open jstree-clicked'}[selTable == dbtbllist]">
									<i class="jstree-icon jstree-ocl" role="presentation"></i>
									<a class="jstree-anchor" href="#" tabindex="-1" id="node_148636173992511_anchor" ng-click="click2Table(dbtbllist)">
										{{dbtbllist}}
									</a>

									<ul class="jstree-container-ul" role="group" ng-if="selTable == dbtbllist" >
									   <div id="db-db" style="margin-left:20px; font-size: 10px;">
										<li role="treeitem" class="stree-open"
												     ng-repeat="column in columnList" 
													  id="{{dbtbllist}}"  aria-busy="false">
														{{column.column}} ({{column.type}})
													</a>
												</li>
										</div>
									</ul>
									
									
								</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="mt-list-container list-simple ext-1 group" id="db-help" ng-hide="!showDBList">

			<a class="list-toggle-container" data-toggle="collapse"   data-target="#lstDBtbl" aria-expanded="true" ng-repeat="x in databaseList" ng-click="back2Tables(x)">
				<div id="db-help1" class="list-toggle"> {{x}}
					<div class="pull-right red-mint" ng-click="back2Tables(x)">
		                <i class="fa fa-chevron-right"></i>

		            </div>
				</div>
			</a>
		</div>
		
		<!--<div id="jstree_Col">			
		</div>-->
	</div>	
</div>
<div class="col-md-10" style="padding: 0;">
	<div class="col-md-12 sql_editor">
		<section>
			<div id="qryeditor" ng-model='editorarea' ui-ace="{
          mode : 'sql',
          theme:'chrome',
          onLoad: aceLoaded,
          onChange: aceChanged
        }"></div>
		</section>
		<div class="action" style="float:right; margin:5px 0px;">
			<button class="btn btn-sm" ng-click="CallMe()"><i class="fa fa-question-circle"></i> Help</button> 
			<div  class="btn-group"  >
			<!-- ng-disabled="Saveqry" -->
                <button id="save"  type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Save
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop5">
                    <li>
                        <a ng-click="saveQuery()"> Save in SQL editor </a>
                    </li>
                    <li>
                        <a ng-click="saveEReport()"> Save in E-Reporting</a>
                    </li>
                     <li>
                        <a ng-click="saveAnalytic()"> Save in Analytic DB</a>
                    </li>
                </ul>
            </div>
			<!-- <button      class="btn btn-sm btn-warning saveqry" data-loading-text="Saving Your Query Please Wait..."> Save </button> -->
			<button id="report1"  ng-click="loadReport()"  class="btn btn-sm btn-info report" ng-disabled="btnReport" data-loading-text="Saving Your Query Please Wait..."> Report </button>
			<button id= "exec"    class="btn btn-sm btn-success exec" ng-disabled="btnExec" data-loading-text="Executing Your Query Please Wait..."> Execute </button>
			<button id= "explain" class="btn btn-sm btn-primary explain" ng-disabled="btnExec" data-loading-text="Please Wait..."> Explain </button>
			<!-- <button class="btn btn-sm btn-primary saveas {{editorarea.length > 0 ? '' : 'disabled'}}"> Save As </button>  -->
			<button id="new" class="btn btn-sm btn-default newqry"> New Query </button>

		</div>
		              <div ng-intro-options="IntroOptions" ng-intro-method="CallMe"
              ng-intro-autostart="ShouldAutoStart"></div>
	</div>
	<div class="col-md-12 result_container">
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light ">
						<div class="portlet-body">
							<ul class="nav nav-tabs">
								<li class="tab" id='tabResult' data="tab_Result" ng-show="showResults">
									<a data-toggle="tab" href="#tab_Result" aria-expanded="expanded"> Results </a>
								</li>
								<li class="tab " id='tabHistory' data="tab_History">
									<a data-toggle="tab" href="#tab_History" aria-expanded="expanded"> History </a>
								</li>
								<li class="tab active" id='tabSavedQuery' data="tab_Saved_Query">
									<a data-toggle="tab" href="#tab_Saved_Query" aria-expanded="expanded"> Saved Query </a>
								</li>
								<!--<li class="tab" id='tabClms' data="tab_Columns">
									<a data-toggle="tab" href="#tab_Columns" aria-expanded="expanded"> Tables Columns 
                                    </a>
								</li>-->
								<li class="tab" id='tabResCol' data="tab_ResultCol" ng-show="showResCol">
									<a data-toggle="tab" href="#tab_ResultCol" aria-expanded="expanded"> Results Columns 
                                    </a>
								</li>
								<li class="tab" id='tabExpn' data="tab_Explain" ng-show="showExpl">
									<a data-toggle="tab" href="#tab_Explain" aria-expanded="expanded"> Explain 
                                    </a>
								</li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane fade tab_Result" ng-show="showResults">
									<div class="portlet box blue" ng-show="haveResData">
										<div class="portlet-title">
											<div class="actions">
												<a ng-click="export_csv()" class="btn btn-sm grey-mint">
													<i class="fa fa-file-excel-o"></i> Export as CSV </a>
											</div>
										</div>
										<div class="portlet-body">
											<table id="tblResult" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
											</table>											
										</div>										
									</div>
									<div ng-show="!haveResData">	
										<center>
											<h3>No Data to show</h3>
										</center>
									</div>
								</div>
								<div class="tab-pane fade tab_History" >
									<table id="tblHistory" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Query</th>
												<th>Status</th>
												<th>Time</th>
												<th>Copy To Editor</th>
											</tr>
										</thead>
									</table>
									<div class="search-pagination" style="text-align: center;">
										<ul class="pagination">
											<li>
												<button ng-click="previous()" class="btn btn-primary previousBtn" ng-disabled="first" ><i class="fa fa-arrow-left"></i> {{'fastsearch.previous' | translate}} </button>
											</li>
											<li class="page-active">
												<button ng-click="next()" ng-init="start=0" class="btn btn-primary nextBtn" ng-disabled="last"><i class="fa fa-arrow-right"></i>{{'fastsearch.next' | translate}} </button>
											</li>

										</ul>
									</div>
								</div>
								<div class="tab-pane fade tab_Saved_Query active in" >
									<div >
										<table id="tblSavedQuery" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
											<thead>
												<tr>
													<th>Name</th>
													<th>Options</th>
													<th>Saved Time</th>
													<th>Query</th>
												</tr>
											</thead>
										</table>
										<div class="search-pagination" style="text-align: center;">
											<ul class="pagination">
												<li>
													<button ng-click="svdprevious()" class="btn btn-primary previousBtn" ng-disabled = "firstsve"><i class="fa fa-arrow-left" ></i> {{'fastsearch.previous' | translate}} </button>
												</li>
												<li class="page-active">
													<button ng-click="svdnext()" ng-init="start=0" class="btn btn-primary nextBtn" ng-disabled="lastsve"><i class="fa fa-arrow-right" ></i>{{'fastsearch.next' | translate}} </button>
												</li>

											</ul>
										</div>
									</div>
								</div>
								<!--<div class="tab-pane fade tab_Columns">
									<table id="tblColumns" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Number</th>
												<th>Name</th>
												<th>Type</th>
											</tr>
										</thead>
									</table>									
								</div>-->
								<div class="tab-pane fade tab_ResultCol" ng-show="showResCol">
									<table id="tblResultCol" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>Number</th>
												<th>Name</th>
												<th>Type</th>
											</tr>
										</thead>
									</table>
								</div>
								<div class="tab-pane fade tab_Explain col-md-10 col-sm-6 col-xs-12" ng-show="showExpl">
									<textarea type="text" ng-show="explainMsg.length>0" ng-model="explainMsg" readonly="true" cols="120" rows="15">

									</textarea>
									<center ng-show="!explainMsg.length>0">
										<h3>No Data to show</h3>
									</center>
								</div>
							</div>
							<!--<div ng-show="NoData">	
								<center>
									<h3>No Data to show</h3>
								</center>
							</div>-->
							<div class="clearfix margin-bottom-20"> </div>
							<div id="messageView" style="margin-top:20px">
								<div class="alert display-hide" id="result.errorinfo">
									<button class="close" data-close="alert"></button>
									<span>Hello im here</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix">
</div>
<div class="modal fade" id="mdlSaveQry" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document" style="width: 50%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="mdlSaveQryHeader"> Save Query </h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger display-hide" id="mdlSaveQryRequire">
					<button class="close" data-close="alert"></button>
					<span></span>
				</div>
				<form id="SaveQryForm" name="SaveQryForm" autocomplete="off">
					<div class="form-group">
						<label for="savequery-name" class="control-label">Query Name :</label>
						<input type="text" class="form-control" id="savequery-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="btnSaveQry"><i class="fa fa-check"></i> Save </button>
				<button type="button" class="btn btn-danger" id='btncancl' data-dismiss="modal"><i class="fa fa-times"></i> Cancel </button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="mdlReport1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document" style="width: 90%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<div class="caption">
                                            <i class="icon-settings"></i>
                                            <span class="caption-subject bold uppercase"> Report Editor</span>
                                        </div>
			</div>
			<div class="modal-body" id="report-body">
				<div class="alert alert-danger display-hide" id="mdlSaveQryRequire">
					<button class="close" data-close="alert"></button>
					<span></span>
				</div>
				<div class="row">
				<jasperreport id="exec_id" template="" show="showReport" ></jasperreport>
		</div>
	</div>
</div>
</div>
</div>

<div class="modal fade" id="mdlSaveReport" >
	<div class="modal-dialog" role="document" style="width: 80%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="mdlSaveQryHeader">E-Reporting </h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger display-hide" id="mdlSaveQryRequire">
					<button class="close" data-close="alert"></button>
					<span></span>
				</div>
				  <ereport query="active_query" report="active_report" close="closeSaveModal()"></ereport>
				
		</div>
	</div>
</div>
</div>
<div class="modal fade" id="analticAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <analytic record="record" load='loadall()'> </analytic>
        </div>
    </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" ng-click="deleteSavedQuery()" class="btn green">Delete</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<!--<div class="tblColLst" style="padding-top: 5px; padding-left: 30px;" >
	<ul class="lstcol">
		<li ng-repeat="x in ColResult" style="list-style-type: none;">
			<div><i class="fa fa-columns" aria-hidden="true"></i> {{x.column}} ({{x.type}})</div>
		</li>
	</ul>
</div>-->
<!-- <div class="modal fade" id="mdlSaveQry" tabindex="-1" role="dialog" aria-labelledby="mdlSaveQry">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
               <div class="row">
                    <div class="form-group col-md-5">
                        <label for="roleMgt-name" class="control-label">Query Name : </label>
                        <input type="text" class="form-control col-sm-5" id="saveqry-name">
                    </div> 
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-success" id="btnSaveQry"><i class="fa fa-check"></i> Save </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel </button>
            </div>
        </div>
    </div>
</div> -->
<style type="text/css">
	/*#tblHistory tbody tr td:first-child {
    cursor: pointer;
    cursor: hand;
}*/
</style>



