<div class="col-md-12">
  <h3 class="page-title col-md-2">
    <span class="col-md-12">Database List</span>
  </h3>  

  <h3 class="page-title col-md-10">
    <span class="col-md-12">SQL Editor</span>
  </h3>  
</div>



<div class="col-md-12">

  <div class="col-md-2 sidebar_menu databaselist_container">  
    <div class="col-md-12">
      <div class="form-group" >
        <!-- <label class="control-label">Data Base </label> -->
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-database"></i>
            <span class="caption-subject font-blue bold"> Database  </span>
          </div>
        </div>
        <select id="lstDB" class="form-control"></select>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group" >
        <!-- <label class="control-label">Data Table </label> -->
        
        <div class="portlet-title">
          <div class="caption">
            <i class="fa fa-table"></i>
            <span class="caption-subject font-blue bold"> Data Table</span>
          </div>
        </div>
        <div class="portlet-body">
        <select id="lstDBtbl" class="form-control"></select>
          <!-- <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
          <div style="height: 300px; overflow: hidden; width: auto;" class="scroller" >
            <div id="lstDBtbl" class="mt-list-container list-simple">
              <ul></ul>
            </div>
            </div>
          </div>   -->        
        </div>          
      </div>
    </div>

  </div>
  <div class="col-md-10"  style="padding: 0;">
    
    <div class="col-md-12 sql_editor">
      <section>  
        <div ui-ace="{
          onLoad: aceLoaded,
          onChange: aceChanged
        }"></div>
      </section>
      <div class="action" style="float:right; margin:20px 0px;">
        <button class="btn btn-sm btn-success exec"> Execute </button> 
        <button class="btn btn-sm btn-primary saveas"> Save As </button> 
        <button class="btn btn-sm btn-default newqry"> New Query </button>
      </div>    
    </div>
    <div class="col-md-12 result_container">
     
      <div class="profile-content">
      <div class="row">
        <div class="col-md-12">
          <div class="portlet light ">
            <div class="portlet-title tabbable-line">              
                <ul class="nav nav-tabs">
                  <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
                    <a data-toggle="tab" aria-expanded="true">{{tab.title}}</a>
                  </li>
                </ul>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <!-- PERSONAL INFO TAB -->
                <div id="mainView">
                  <div ng-include="currentTab"></div>
                </div>
                <div id="messageView" style="margin-top:20px">
                  <div class="alert display-hide" id="result.errorinfo">
                      <button class="close" data-close="alert"></button>
                      <span>Hello im here</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <script type="text/ng-template" id="result.sql.html">
              <div class="tab-pane active" id="tab_1_1">
                <form role="form" class="result-form">
                 <table id="tblResult" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">                    
                </table>                
                </form>
              </div>
            </script>
            
            <script type="text/ng-template" id="history.sql.html">
              <form role="form">
                
              </form>
            </script>
            <script type="text/ng-template" id="savedqry.sql.html">
              <form role="form" >
                
              </form>
            </script>
              </div>
            </div>
                  <!-- END PROFILE CONTENT -->
          </div>


      <!-- <h3> Results</h3>     
      <table class="table">
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
        </tr>

        <tr>
          <td>Table 1</td>
          <td>Table 2</td>
          <td>Table 3</td>
          <td>Table 4</td>
        </tr>

      </table> -->
    </div>
  </div>

</div>


                    