.node {
  stroke: #3c3c3c;
  stroke-width: 2px;

  /*stroke: #032B6B;
  stroke-width: 4px;*/
}

.node-active{
  stroke: #360D64;
  stroke-width: 2px;
}

.link {
  stroke: #555;
  stroke-opacity: .5;
}

.link-active {
  stroke-opacity: 1;
  stroke-width :1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.modal-closebtn{
  position: absolute;
  right: 0px;
  z-index: 0;
  width: 40px;
  height: 40px;
  margin: 40px -40px;
  background: #f36d6d;
  box-shadow: 0px 0px 15px;
}

.modal-closebtn:before{
    content: '×';
    font-size: 35px;
    padding: 10px;
    top: -5px;
    position: relative;
    font-family: arial;
    font-weight: 700;
    color: #fff;
}


.officerCount{
    width: 40px !important;
    height: 40px !important;
    border-radius: 10px !important;
    background: #0f7952;
    padding: 6px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    top: 0px;
    border: #6ee6ba;
    border-right-style: solid;
}

.activeCircle{
    width: 20px;
    height: 20px;
    background: #6aabf7;
    border-radius: 20px !important;
    display: inline-block;
    /* border: 1px solid; */
    /* padding-top: 23px !important; */
    top: 4px;
    position: relative;
    margin-right: 6px;
}

.expiredCircle{
    width: 20px;
    height: 20px;
    background: #808080;
    border-radius: 20px !important;
    display: inline-block;
    /* border: 1px solid; */
    /* padding-top: 23px !important; */
    top: 4px;
    position: relative;
    margin-right: 6px;
}
.filter input{
    border: #ddd 1px solid !important
}
.groupIcon{
    font-size: 22px !important;
    color: #93e6c8;
}

#map{
    border: 2px #555 dashed;
    width:500px;
    height:400px;
}

.hidden{
    opacity: 1  !important;
    transition: opacity .25s ease-in-out !important;
}

.summaryTitle > p > span:first-of-type{
  float: right;
  font-weight:600;

}
.summaryTitle > p{
  margin: 0px;
  padding: 6px 10px;
}

.usrName{
  font-weight:300 !important;
  display:inline-block;
  background:#2b7f60;
  width:100%;
  padding:10px;
  font-size:17px;
  color:#fff;
  border-radius: 15px 15px 0px 0px !important;
}

.usrName span{
  font-weight:300 !important;
  float: none !important;
  padding-left: 5px;
  color:#fff;
}


#tooltip{
    position: absolute;
    top: 58px;
    right: 0px;
    width: 355px;
    z-index: 999;
    cursor:move !important;
    border-radius: 15px !important;
}

.bg_success{
  background:green;
  color: #fff;
  margin-top: 10px !important;
}
.circleMadeOpacity{
  fill-opacity: 0.1 !important;
}
.bg_warning{
  background:darkorange;
  margin-top: 10px !important;
}

#reportrange{
    vertical-align: top;
    border: none  !important;
    background: #f9fcfe !important;
    font-size: 16px;
    font-weight: 300;
    color: #5d7592;
    outline: none;
    padding: 0.75em 1em 0.75em 1em !important;
}

.daterangepicker.dropdown-menu {
  top:144px !important;
}

#filterContainer{
    position: absolute;
    padding: 10px;
    background: #d4e8e1;
}

.dataBtn{
    position: absolute !important;
    top: 0px;
    right: 212px;
    width: 120px !important;
    width: 100px ;
    height: 46px;
}
.bg_danger{
  background:indianred;
  color: #fff;
  margin-top: 10px !important;
}


.activeState{
  background:#d7e6f7;
}

.activeState:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6aabf7;
    position: relative;
    margin-right: 7px;
    margin-bottom: -5px;
}

.inactiveState{
 background:#dad4d4;
}

.inactiveState:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #808080;
    position: relative;
    margin-right: 7px;
    margin-bottom: -5px;
}

.draggable{
  border:2px solid #032B6B;
  cursor: move !important;
}


#newValue{
  text-align: center;
  width: 200px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.zoomIcon i{
  font-size: 20px !important;
  color: #7b7773;
  padding: 7px 0;
}

.zoomPan{
    background: #83dcbb;
    position: absolute;
    z-index: 9;
    width:200px;
    height: 46px;
    top: 0;
    right: 15px;
    padding: 10px;
}

#zoomInOut{
  display: inline-block !important;
  width:150px;
}

#myUserData .modal-dialog {
  width: 95%;
  height: 80%;
  margin: 0 auto;
  padding: 0;
}

#myUserData .modal-content {
  height: auto;
  min-height: 70%;
  border-radius: 0;
}


*[ng-table-pagination="params"] {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.totalCt{
    position: absolute;
    top: 0px;
    right: 10px;
}


.ng-table-sort-header{
    height: 60px;
    vertical-align: middle;
    position: relative;
    background: #3daf85;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
}



.chart-wrap {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #eeeeee;
}
.chart-wrap .chart-title {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.chart-wrap .row {
  position: relative;
  height: 26px;
  margin-bottom: 15px;
}
.chart-wrap .bar-wrap {
  position: relative;
  background: #d7dbde;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.chart-wrap .bar-wrap .bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #f37167;
  transition: all 1s;
  transform: translateX(-100%);
}
.chart-wrap .bar-wrap .bar.in {
  transform: translateX(0%);
}
.chart-wrap .row:nth-of-type(1) .bar {
  transition: 1s 400ms;
}
.chart-wrap .row:nth-of-type(2) .bar {
  transition: 1s 600ms;
}
.chart-wrap .row:nth-of-type(3) .bar {
  transition: 1s 800ms;
}
.chart-wrap .row:nth-of-type(4) .bar {
  transition: 1s 1000ms;
}
.chart-wrap .row:nth-of-type(5) .bar {
  transition: 1s 1200ms;
}
.chart-wrap .row:nth-of-type(6) .bar {
  transition: 1s 1400ms;
}
.chart-wrap .row:nth-of-type(7) .bar {
  transition: 1s 1600ms;
}
.chart-wrap .label-cw {
  position: absolute;
  top: 0;
  left: 10px;
  width: 150px;
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}
.chart-wrap .number {
  position: absolute;
  top: 0;
  right: 40px;
  width: 30px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: right;
  z-index: 10;
}
@media screen and (min-width: 2800px) {
  .chart-wrap .row {
    padding: 0 40px 0 160px;
  }
  .chart-wrap .label {
    text-align: right;
    padding-left: 0;
  }
  .chart-wrap .number {
    text-align: left;
    padding-right: 0;
  }
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}