.node {
  stroke: #3c3c3c;
  stroke-width: 2px;

  /*stroke: #032B6B;
  stroke-width: 4px;*/
}

.node-active{
  stroke: #360D64;
  stroke-width: 2px;
}

.link {
  stroke: #555;
  stroke-opacity: .5;
}

.link-active {
  stroke-opacity: 1;
  stroke-width :1px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.modal-closebtn{
  position: absolute;
  right: 0px;
  z-index: 0;
  width: 40px;
  height: 40px;
  margin: 40px -40px;
  background: #f36d6d;
  box-shadow: 0px 0px 15px;
}

.modal-closebtn:before{
    content: '×';
    font-size: 35px;
    padding: 10px;
    top: -5px;
    position: relative;
    font-family: arial;
    font-weight: 700;
    color: #fff;
}


.officerCount{
    width: 40px !important;
    height: 40px !important;
    border-radius: 10px !important;
    background: #0f7952;
    padding: 6px;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5px;
    top: 0px;
    border: #6ee6ba;
    border-right-style: solid;
}

.activeCircle{
    width: 20px;
    height: 20px;
    background: #6aabf7;
    border-radius: 20px !important;
    display: inline-block;
    /* border: 1px solid; */
    /* padding-top: 23px !important; */
    top: 4px;
    position: relative;
    margin-right: 6px;
}

.expiredCircle{
    width: 20px;
    height: 20px;
    background: #808080;
    border-radius: 20px !important;
    display: inline-block;
    /* border: 1px solid; */
    /* padding-top: 23px !important; */
    top: 4px;
    position: relative;
    margin-right: 6px;
}
.filter input{
    border: #ddd 1px solid !important
}
.groupIcon{
    font-size: 22px !important;
    color: #93e6c8;
}

#map{
    border: 2px #555 dashed;
    width:500px;
    height:400px;
}

.hidden{
    opacity: 1  !important;
    transition: opacity .25s ease-in-out !important;
}

.summaryTitle > p > span:first-of-type{
  float: right;
  font-weight:600;

}
.summaryTitle > p{
  margin: 0px;
  padding: 6px 10px;
}

.usrName{
  font-weight:300 !important;
  display:inline-block;
  background:#2b7f60;
  width:100%;
  padding:10px;
  font-size:17px;
  color:#fff;
  border-radius: 15px 15px 0px 0px !important;
}

.usrName span{
  font-weight:300 !important;
  float: none !important;
  padding-left: 5px;
  color:#fff;
}


#tooltip{
    position: absolute;
    top: 58px;
    right: 0px;
    width: 355px;
    z-index: 999;
    cursor:move !important;
    border-radius: 15px !important;
}

.bg_success{
  background:green;
  color: #fff;
  margin-top: 10px !important;
}
.circleMadeOpacity{
  fill-opacity: 0.1 !important;
}
.bg_warning{
  background:darkorange;
  margin-top: 10px !important;
}

#filterContainer{
    position: absolute;
    padding: 10px;
    background: #d4e8e1;
}

.dataBtn{
    position: absolute !important;
    top: 0px;
    right: 212px;
    width: 120px !important;
    width: 100px ;
    height: 46px;
}
.bg_danger{
  background:indianred;
  color: #fff;
  margin-top: 10px !important;
}


.activeState{
  background:#d7e6f7;
}

.activeState:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6aabf7;
    position: relative;
    margin-right: 7px;
    margin-bottom: -5px;
}

.inactiveState{
 background:#dad4d4;
}

.inactiveState:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #808080;
    position: relative;
    margin-right: 7px;
    margin-bottom: -5px;
}

.draggable{
  border:2px solid #032B6B;
  cursor: move !important;
}


#newValue{
  text-align: center;
  width: 200px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
}

.zoomIcon i{
  font-size: 20px !important;
  color: #7b7773;
  padding: 7px 0;
}

.zoomPan{
    background: #83dcbb;
    position: absolute;
    z-index: 9;
    width:200px;
    height: 46px;
    top: 0;
    right: 15px;
    padding: 10px;
}

#zoomInOut{
  display: inline-block !important;
  width:150px;
}

#myUserData .modal-dialog {
  width: 95%;
  height: 80%;
  margin: 0 auto;
  padding: 0;
}

#myUserData .modal-content {
  height: auto;
  min-height: 70%;
  border-radius: 0;
}


*[ng-table-pagination="params"] {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.totalCt{
    position: absolute;
    top: 0px;
    right: 10px;
}


.ng-table-sort-header{
    height: 60px;
    vertical-align: middle;
    position: relative;
    background: #3daf85;
    font-weight: 300;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
}