	<!-- BEGIN PAGE HEADER-->
	<h3 class="page-title">
		<span class="glyphicons glyphicons-user"></span>
		My Profile
	</h3>

	<!-- END PAGE HEADER-->
	<!-- BEGIN MAIN CONTENT -->
	<div class="col-md-12" ng-controller = "MyProfileController">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light profile-sidebar-portlet ">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="assets/admin/layout2/img/mimos_logo_small.png" class="img-responsive" alt=""> </div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name"> {{firstName_1}} </div>
						<div class="profile-usertitle-job">  {{rank}} </div>
						<div class="margin-top-20 profile-desc-link">
							<i class="fa fa-envelope"></i>
							<a href="">{{email}}</a>
						</div>
					</div>
					<!-- END SIDEBAR USER TITLE -->

					<!-- SIDEBAR MENU -->
					<div class="profile-usermenu">
						<ul class="nav">
							<li ng-class="{active:noedit}">
								<a href="" ng-click="overview()">
									<i class="icon-home"></i> Overview </a>
								</li>
								<li ng-class="{active:!noedit}">
									<a href="" ng-click="edit()">
										<i class="icon-settings"></i> Edit </a>
									</li>

								</ul>
							</div>
							<!-- END MENU -->
						</div>
						<!-- END PORTLET MAIN -->
						<!-- PORTLET MAIN -->
						<!-- END PORTLET MAIN -->
					</div>
					<!-- END BEGIN PROFILE SIDEBAR -->
					<!-- BEGIN PROFILE CONTENT -->
					<div class="profile-content">
						<div class="row" ng-if="noedit">
							<div class="col-md-6">
								<div class="portlet light ">
									<div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">User Info</span>
											<span class="caption-helper hide">weekly stats...</span>
										</div>
									</div>
									<div class="portlet-body form">
										<form class="form-horizontal" role="form">
											<div class="form-body">
												<div class="form-group">
													<label class="col-md-3 control-label">Name</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-firstname" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">E-Mail</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-email" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Unit</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-unit" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Rank</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-rank" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Branch</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-branch" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Department</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-dept" readonly="true">
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-3 control-label">Language</label>
													<div class="col-md-9">
														<input type="text" class="form-control" id="myprofileDsp-lang" readonly="true">
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- BEGIN PORTLET -->
								<div class="portlet light ">
                                    <div class="portlet-title">
										<div class="caption caption-md">
											<i class="icon-bar-chart theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">Recent Activities</span>
										</div>
									</div>
									<div class="portlet-body">
										<div class="table-scrollable table-scrollable-borderless">
                                            <table class="table table-hover table-light">
                                                <thead >
                                                    <tr>
                                                        <th>
                                                            <a href="javascript:;">{{'audit.eventTime' | translate}}</a>
                                                        </th>
                                                        <th>
                                                            <a href="javascript:;">{{'audit.status' | translate}}</a>
                                                        </th>
                                                        <th>
                                                            <a href="javascript:;">{{'audit.notes' | translate}}</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="x in contents">
                                                        <td  style="width:45%;"  class="table-title">
                                                            <a href="javascript:;">{{x.eventTime}}</a>
                                                        </td>
                                                        <td style="width:25%;" class="table-desc"> {{x.status}} </td>
                                                        <td class="table-download">
                                                        {{x.notes}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
									</div>
								</div>
																						<!-- END PORTLET -->
						</div>
					</div>
					<!--Edit Profile -->
		<div class="profile-content" ng-if="!noedit">
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light ">
						<div class="portlet-title tabbable-line">
							<div class="caption caption-md">
								<i class="icon-globe theme-font hide"></i>
								<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
							</div>
								<ul class="nav nav-tabs">
									<li ng-repeat="tab in tabs"	ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
										<a data-toggle="tab" aria-expanded="true">{{tab.title}}</a>
									</li>
								</ul>
						</div>
						<div class="portlet-body">
							<div class="tab-content">
								<!-- PERSONAL INFO TAB -->
								<div id="mainView">
									<div ng-include="currentTab"></div>
								</div>
								<div id="messageView" style="margin-top:20px">
									<div class="alert display-hide" id="Profile.errorinfo">
									    <button class="close" data-close="alert"></button>
									    <span>Hello im here</span>
									</div>
								</div>
							</div>
						</div>
					</div>
						<script type="text/ng-template" id="edit.profile.html">
							<div class="tab-pane active" id="tab_1_1">
								<form role="form" class="edit-form">
									<div class="form-group">
										<label class="control-label">Name</label>
										<input type="text" name="editname" class="form-control"> 
									</div>
									<div class="form-group">
										<label class="control-label">Email</label>
										<input type="text" name="editemail" class="form-control"> 
									</div>	
									<div class="form-group">
										<label class="control-label">Language</label>
										<!-- <input type="text" name="editlang" class="form-control">  -->
										<select id="userselLang" class="valid form-control">
										    <option value="" selected>Select Language</option>
										    <option value="en">English</option>
										    <option value="my">Bahasa Malaysia</option>
										</select>
									</div>
									
									<div class="margin-top-10">
										<button class="btn green" ng-click="editSaveChanges()"> Save Changes</button> 
										<button class="btn default"> Cancel </button>
									</div>
									</form>
								</div>
						</script>
						<!-- <script type="text/ng-template" id="edit.avatar.html">
							<form action="#" role="form">
								<div class="form-group">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
											<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""> </div>
											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
											<div>
												<span class="btn default btn-file">
													<span class="fileinput-new"> Select image </span>
													<span class="fileinput-exists"> Change </span>
													<input type="file" name="..."> </span>
													<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
												</div>
											</div>
											<div class="clearfix margin-top-10">
												<span class="label label-danger">NOTE! </span>
												<span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
											</div>
										</div>
										<div class="margin-top-10">
											<a href="javascript:;" class="btn green"> Submit </a>
											<a href="javascript:;" class="btn default"> Cancel </a>
										</div>
									</form>
								</script> -->
								<script type="text/ng-template" id="change.password.html">
									<form role="form" class="PwdChangeform" id="formPwd">
										<div class="form-group">
											<label class="control-label">Current Password</label>
											<input type="password" name="CurrentPwd" class="form-control">
										</div>
										<div class="form-group">
											<label class="control-label">New Password</label>
											<input type="password" name="NewPwd" class="form-control"> 
										</div>
										<div class="form-group">
												<label class="control-label">Re-type New Password</label>
												<input type="password" name="ReTypePwd" class="form-control"> 
										</div>
										<div class="margin-top-10">
											<button class="btn green" ng-click="OnChangePwd()"> Change Password </button>
											<button class="btn default"> Cancel </button>
										</div>
									</form>
								</script>
							</div>
						</div>
									<!-- END PROFILE CONTENT -->
					</div>
												<!-- END MAIN CONTENT -->
												<!-- BEGIN MAIN JS & CSS -->
<script>
	// $(document).ajaxStart(function() {
	//     $("#loader").hide();
	//     $("#loaderTableView").css('height', '500px');
	//     $("#loaderTableView .page-spinner-bar").removeClass('hide');
	//     $("#loaderTableView").show();
	// });

	// $(document).ajaxStop(function() {
	//     $("#loader").hide();
	//     $("#loaderTableView .page-spinner-bar").addClass('hide');
	//     $("#loaderTableView").hide();
	// });
</script>
<!-- BEGIN MAIN JS & CSS -->
