<div class="col-md-6">
	    	<div class="portlet sale-summary">
	            <div class="portlet-title">
	                <div class="caption font-red sbold">Summary </div>
	                
	            </div>
	            <div class="portlet-body">
	                <ul class="list-unstyled">
	                    <li>
	                        <span class="sale-info"> JENIS KES
	                            <i class="fa fa-img-up"></i>
	                        </span>
	                        <span class="sale-num"> OPERASI </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> JENIS OPERATION
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> AJAR </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> KEPUTUSAN SIASATAN
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> DAKWA </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> KEPUTUSAN PENDAKWAAN
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> PENJARA </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> DEPOT PENGUSIRAN
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> TIDAK BERKAITAN </span>
	                    </li>
	                   
	                </ul>
	            </div>
	        </div>
        </div>