<div style="position: relative; z-index:9;">
	<div class="col-md-12 mt-element-ribbon" style="background: #2574A9; padding-top: 12px;">

		<!--width:85%;  style="position:fixed;"-->
		<div class="col-md-3 col-xs-4 col-sm-3 col-lg-3">
			<div class="profile-userpic">
				<img ng-src="{{image_src}}" class="img-responsive img-circle" alt=""> 
            </div>
		</div>
		<div class="row invoice-cust-add col-md-9 col-lg-9 col-xs-8 col-sm-9" style="margin-bottom:0px;">
			<div class="col-md-10 col-sm-10 col-xs-10 form-group" style="padding-left:0px">
				<small>NAME</small>
				<div class="uppercase bold" style="font-size: 21px">
					{{doc.name}}
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-2 text-right " ng-show="travelBackBtn">
				<div class="actions">
					<div id="detailstab" data-toggle="buttons-radio" class="btn-group btn-group-devided">
						<a class="btn green-haze hidden-print btn-circle uppercase btn-sm active bck" data-toggle="tab">Go Back</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 form-group" style="padding-left:0px">
				<small>DATE OF BIRTH / AGE</small>
				<div class="bold">
					{{birth_date }} / {{age}}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 form-group tool" style="padding-left:0px">
				<small>GENDER</small>
				<div class="bold">
					{{doc.sex}}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 form-group" style="padding-left:0px">
				<small>PASSPORT NO</small>
				<div class="bold" style="top: 5px; position: relative;">
						{{doc.doc_no}}
				</div>
			</div>		
			
			<div class="col-md-4 col-sm-6 col-xs-12 form-group" style="padding-left:0px" ng-show="doc.state.length > 0">
				<small>STATE</small>
				<div class="bold">
					{{doc.state}}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 form-group" style="padding-left:0px" ng-show="doc.postcd.length > 0">
				<small>POST CODE</small>
				<div class="bold">
					{{doc.postcd}}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 form-group" style="padding-left:0px">
				<small>COUNTRY</small>
				<div class="bold">
					{{doc.country}}
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 form-group" style="padding-left:0px" ng-show="doc.phone.length > 0">
				<small>PHONE NO</small>
				<div class="bold">
					{{doc.phone}}
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 form-group" style="padding-left:0px" ng-show="doc.address.length > 0">
				<small>ADDRESS</small>
				<div class="bold">
					{{doc.address}}
				</div>
			</div>		
		</div>

		<div class="bordered" style="padding:20px;">
			<div class="row invoice-cust-add" style="margin-bottom:0px;">

			</div>
		</div>

		<div class="ribbon ribbon-right ribbon-round ribbon-suspect ribbon-border-dash ribbon-color-danger uppercase"
              ng-if="offender">Suspect</div>
	</div>
</div>

<uib-tabset active="active" class="tabbable-line">
   <uib-tab index="0">
    	<uib-tab-heading>
    		<div class="caption">
	        	<i class="fa fa-bars font-purple-soft"></i>
	        	<span class="caption-subject font-purple-soft bold ">Summary</span>
	    	</div>
      	</uib-tab-heading>
      	<div class="col-md-6">
	    	<div class="portlet sale-summary">
	            <div class="portlet-title">
	                <div class="caption font-red sbold">Summary </div>
	                
	            </div>
	            <div class="portlet-body">
	                <ul class="list-unstyled">
	                    <li>
	                        <span class="sale-info">VISA & PASS
	                            <i class="fa fa-img-up"></i>
	                        </span>
	                        <span class="sale-num"> {{visatotal}} </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> MOVEMENT
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> {{movetotal}} </span>
	                    </li>
	                    <li>
	                        <span class="sale-info"> TYPE
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> {{doc.status}} </span>
	                    </li>
	                   <li>
	                        <span class="sale-info"> STATUS
	                            <i class="fa fa-img-down"></i>
	                        </span>
	                        <span class="sale-num"> {{doc.entry}} </span>
	                    </li>
	                </ul>
	            </div>
	        </div>
        </div>
    </uib-tab>
    <uib-tab index="1" ng-hide="visatotal==0">
    	<uib-tab-heading>
        	<div class="caption">
	        	<i class="fa fa-id-card-o font-purple-soft"></i>
	        	<span class="caption-subject font-purple-soft bold ">Visa & Pass</span>
	        	<span class="badge badge-primary badge-roundless"> {{visatotal}} </span>
	    	</div>
      	</uib-tab-heading>
      	<visa expact="expact" visatotal="visatotal"></visa>
    </uib-tab>
    <uib-tab index="2" ng-hide="movetotal==0">
    	<uib-tab-heading>
    		<div class="caption">
	        	<i class="fa fa-random font-purple-soft"></i>
	        	<span class="caption-subject font-purple-soft bold ">Movement</span>
	        	<span class="badge badge-primary badge-roundless"> {{movetotal}} </span>
	    	</div>
      	</uib-tab-heading>

      	<movement expact="expact" movetotal="movetotal"></movement>

    </uib-tab>
    <uib-tab index="3" ng-hide="offendertotal==0" >
    	<uib-tab-heading>
    		<div class="caption">
	        	<i class="fa fa-legal font-purple-soft"></i>
	        	<span class="caption-subject font-purple-soft bold ">Enforcement</span>
	        	<span class="badge badge-primary badge-roundless"> {{offendertotal}} </span>
	    	</div>
      	</uib-tab-heading>
      	<enforcement expact="expact" total="offendertotal"></enforcement>
    </uib-tab>
    
 
  </uib-tabset>
</div>

