<table ng-table="records" class="table enforcement" show-filter="false">
    <colgroup>
          <col width="45%"/>
          <col width="15%"/>
          <col width="30%"/>
          <col width="10%"/>
        </colgroup>
	<tr ng-repeat="x in $data" class="mt-action" >
	  <td title="'Name & Document No'" style="text-align: left">
	     <div class="mt-action-img">
	        <img class="img-circle" style="height: 50px; width: 50px;" src="assets/admin/layout2/img/avatar3.png""> 
	    </div>
	    <div class="mt-action-details ">
	      <span class="mt-action-author">{{ x.name }}</span>
	      <p class="mt-action-desc">{{ x.doc_no }}</p>
	    </div>
	  </td>
	  <td title="'Gender'" >
	  	<div style="width:100%; text-align:center;"><i ng-class="getGenderClass(x.sex)" aria-hidden="true"
	  	  ng-style="{'color':x.sex=='LELAKI' ? '#0093ff' : '#ff0097'}" style="font-size:22px;"></i></div>
	  	
	  </td>
	  <td title="'Country'">{{ x.country }}</td>

	  <td title="'Action'" style="text-align: center;">
	       <a ng-click="click({data: x.expact_id})" class="btn btn-sm btn-outline grey-salsa"><i class="fa fa-search"></i> View</a>
	  </td>
	</tr>
</table>