<div class="portlet light bordered">
	<div class="portlet-body">
		<div class="row number-stats margin-bottom-30 tab-pane active" id="tabvisa">
			<div>
				<!--class="search-table table-responsive"-->
				<table id="tblvisa" class="table table-bordered table-hover" cellspacing="0" width="100%">
					<!--class="table table-bordered table-striped table-condensed" -->
					<thead class="bg-table-gray">
						<tr>
							<th>Visa Image</th>
							<th>Sticker</th>
							<th>Pass Type</th>
							<th>Job Title</th>
							<th>Address</th>
							<th>Start Date</th>
							<th>End Date</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>

	</div>
</div>
