<div class="search-page search-content-4">
    <div class="row">

      <div class="col-md-12">
        <div   class="search-table table-responsive">

             <table ng-table="tableAuditParams" class="table" show-filter="true">
              <tr ng-repeat="x in $data">
                <td  style="width:15%;" title="'Date/Time'" sortable="'eventTime'">{{ x.eventTime |  cmdate:'dd/MM/yyyy hh:mm:ss'}}</td>
                <td title="'User name'" sortable="'username'">{{ x.username }}</td>
                <td style="width:15%;" title="'Status'" filter="{status: 'select'}"  filter-data="getStatus"  sortable="'status'">{{ x.status }}</td>
                <td title="'Notes'" sortable="'notes'">{{ x.notes }}</td>
              </tr>
            </table>

        </div>
      </div>
    </div>
</div>

</div>
