<div id="mainContainer1" ng-controller="employeeHourlyDetailsController">
    <div class="page-toolbar row daterangecont" style="padding-right: 15px; padding-bottom: 15px; padding-left: 30px">
        <button class="btn btn-danger btn-md" ng-click="backBtn()"><i class="fa fa-arrow-left"></i></button>

        <div id="Hourlygrange" class="pull-right btn btn-fit-height green">
            <i class="icon-calendar"></i>&nbsp;
            <span></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>                
    </div>
    <div class="col-md-2">            
        <div id="employeeList" style="height:500px; overflow-x: auto;">
            <ul class="customChk" style="list-style:none; padding:0px; margin:0px;">
                <li ng-repeat="value  in storeData" my-emp-directive style="padding:0 5px 5px;">
                    <input id="{{value[0]}}" type="checkbox" name="check-box" class="{{value[0]}}" value="{{value[0]}}" />
                    <span>{{value[0]}} ({{value[1]}})</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-success">Entry Trend</h3>
                    <div id="container" style="height: 250px;"></div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-danger">Exit Trend</h3>
                    <div id="container1" style="height: 250px;"></div>
                </div>
                <div class="col-md-12">
                    <h3 class="text-primary">Overall Trend</h3>
                    <div id="container2" style="height: 250px;"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row"></div>
    <div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;" ng-show="loading">
        <!--  BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar show">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!--    END PAGE SPINNER -->
    </div>
</div>
<script>
</script>
<style>
.daterangepicker.dropdown-menu {
    right: 35px !important;
    top: 125px;
}
</style>
