.option-box {
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  background-color: #f8fbfa;
  box-shadow: none;
  border: 1px solid #eeeeee;
}

.option-box todo-project-list {
    overflow-y: scroll;
    height: 200px;
}

.option-box > .col-md-3 {
    padding: 0;
}

.uib {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  box-shadow: none;
}
.uib ul {
  margin: 0px 30px 10px 0px;
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}
.uib .drop {
  z-index: -3;
  opacity: 0;
  width: 240px;
  height: 10px;
  background: #3e8368;
  position: absolute;
  color: white;
  bottom: 0;
  padding: 12px 30px 21px 30px;
  -webkit-transition-property: bottom,opacity;
  transition-property: bottom,opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.uib .drop p {
  color: #fff;
}


.ui_box {
  width: 25%;
  height: 180px;
  position: relative;
  background: #3d3d3d;
  float: left;
  box-shadow: -1px 0px rgba(255, 255, 255, 0.07);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: background,-webkit-transform;
  transition-property: background,-webkit-transform;
  transition-property: transform,background;
  transition-property: transform,background,-webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.ui_box__inner {
  padding: 30px;
}
.ui_box__inner span {
  font-size: 36px;
  font-weight: 300;
}
.ui_box h2 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: -4px 0px 3px 0px;
}
.ui_box p {
  font-size: 11px;
  color: #fff;
  clear: left;  
  font-weight: 300;
  margin: 0px 0px 15px 0px;
  text-align: center
}

.ui_box img {
  float: right;
  width: 85px;
  text-align: top;
  position: absolute;
  top: 24px;
  left: 200px;
}


.uib .selected {
  background: #4FA584;
}

.ui_box:hover {
  background: #4FA584;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: background,-webkit-transform;
  transition-property: background,-webkit-transform;
  transition-property: transform,background;
  transition-property: transform,background,-webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  position: relative;
  z-index: 1;
}

.ui_box:hover > .ui_box__inner p {
  color: #fff;
}

.ui_box:hover > .drop {
  -webkit-transition-property: bottom,opacity;
  transition-property: bottom,opacity;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  bottom: -42px;
  opacity: 1;
}

.ui_box:hover > .drop .arrow {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(765deg);
          transform: rotate(765deg);
}

.ui_box:hover > .ui_box__inner .progress_graph > div {
  background: white;
}

.ui_box:hover > .ui_box__inner .progress .progress_bar, .ui_box:hover > .ui_box__inner .progress .progress_bar--two {
  background: white;
}

.stat{
    text-align: center;
    margin: 30px 0;
}

.stat_left {
  float: left;
}



@-webkit-keyframes bar {
  from {
    width: 0px;
  }
  to {
    width: 58%;
  }
}

@keyframes bar {
  from {
    width: 0px;
  }
  to {
    width: 58%;
  }
}
@-webkit-keyframes bar2 {
  from {
    width: 0px;
  }
  to {
    width: 78%;
  }
}
@keyframes bar2 {
  from {
    width: 0px;
  }
  to {
    width: 78%;
  }
}
@-webkit-keyframes graph {
  from {
    height: 0px;
  }
  to {
    height: 20px;
  }
}
@keyframes graph {
  from {
    height: 0px;
  }
  to {
    height: 20px;
  }
}
@-webkit-keyframes graph2 {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
@keyframes graph2 {
  from {
    height: 0px;
  }
  to {
    height: 30px;
  }
}
@-webkit-keyframes graph3 {
  from {
    height: 0px;
  }
  to {
    height: 24px;
  }
}
@keyframes graph3 {
  from {
    height: 0px;
  }
  to {
    height: 24px;
  }
}
@-webkit-keyframes graph4 {
  from {
    height: 0px;
  }
  to {
    height: 13px;
  }
}
@keyframes graph4 {
  from {
    height: 0px;
  }
  to {
    height: 13px;
  }
}
