.option-box {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-top: 0px;
  background-color: #f8fbfa;
  box-shadow: none;
  border: 1px solid #eeeeee;
}

.option-box > .todo-project-list {
    overflow-y: scroll;
    height: 250px;
}
.option-box .mini-box {
  margin: 0 auto;
  margin-top: 0px;
  padding: 2px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f8fbfa;
  box-shadow: none;
  border: 1px solid #eeeeee;
}

.option-box > .col-md-3 {
    padding: 0;
}

.uib {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  box-shadow: none;
}
.uib  ul {
  margin: 0px 30px 10px 0px;
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}



.ui_box {
  width: 25%;
  height: 150px;
  position: relative;
  background: #3d3d3d;
  float: left;
  box-shadow: -1px 0px rgba(255, 255, 255, 0.07);
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: background,-webkit-transform;
  transition-property: background,-webkit-transform;
  transition-property: transform,background;
  transition-property: transform,background,-webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}
.ui_box__inner {
  padding: 15px 0;
}
.ui_box__inner  span {
  font-size: 36px;
  font-weight: 400;
}
.ui_box  h2 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: -4px 0px 3px 0px;
}
.ui_box  p {
  font-size: 11px;
  color: #fff;
  clear: left;
  font-weight: 300;
  margin: 0px 0px 15px 0px;
  text-align: center
}

.ui_box  img {
  float: right;
  width: 85px;
  text-align: top;
  position: absolute;
  top: 24px;
  left: 200px;
}


.uib .selected {
  background: #4FA584;
}

.ui_box:hover,.ui_box:focus {
  background: #4FA584;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-property: background,-webkit-transform;
  transition-property: background,-webkit-transform;
  transition-property: transform,background;
  transition-property: transform,background,-webkit-transform;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  position: relative;
  z-index: 1;
}


.ui_box:hover > .ui_box__inner p {
  color: #fff;

}


.stat{
    text-align: center;
    margin: 20px 0;
}

.stat_left {
  float: left;
}
