<h3 class="page-title">Workflow Management</h3>
<div class="col-md-6">
	<div class="portlet light ">
		<div class="portlet-title tabbable-line">
	        <div class="caption">
	            <i class="icon-bubbles font-red"></i>
	            <span class="caption-subject font-red bold uppercase">Request History</span>
	        </div>
	        <ul class="nav nav-tabs">
	            <li class="active">
	                <a href="#portlet_comments_1" data-toggle="tab" aria-expanded="true"> New <span class="badge badge-primary"> 3 </span></a>
	            </li>
	            <li class="">
	                <a href="#portlet_comments_2" data-toggle="tab" aria-expanded="false"> In Progress  <span class="badge badge-success"> 56 </span></a>
	            </li>
	            <li class="">
	                <a href="#portlet_comments_2" data-toggle="tab" aria-expanded="false"> Closed  <span class="badge badge-success"> 20 </span></a>
	            </li>
	        </ul>
	    </div>
		<div class="portlet-body">
	        <div class="tab-content">
	            <div class="tab-pane active" id="portlet_comments_1">
	                <!-- BEGIN: Comments -->
	                <div class="mt-comments" ng-repeat="data in names">
	                     <div class="mt-comment">
	                        <div class="mt-comment-body">
	                            <div class="mt-comment-info">
	                                <span class="mt-comment-author">{{ data.reportName }}</span>
	                                <span class="mt-comment-date">{{data.createdDate}}</span>
	                            </div>
	                            <div class="mt-comment-text"> {{ data.description | limitTo: 100 }} {{ data.description.length > 100 ? '...' : ''}} </div>
	                            <div class="mt-comment-details">
	                                <span class="label label-sm label-warning">{{ data.status }}</span>
	                                <ul class="mt-comment-actions">
	                                    <li>
	                                        <a href="#">Quick Edit</a>
	                                    </li>
	                                    <li>
	                                        <a href="#" ng-click="viewReq(data.id)">View</a>
	                                    </li>
	                                    <li>
	                                        <a href="#" ng-click="DelReq(data.id)">Delete</a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
					</div>
				<!-- END: Comments -->
				</div>
	            <div class="tab-pane" id="portlet_comments_2">
	                <!-- BEGIN: Comments -->
	                <div class="mt-comments">
	                    <div class="mt-comment">
	                        <div class="mt-comment-body">
	                            <div class="mt-comment-info">
	                                <span class="mt-comment-author">Michael Baker</span>
	                                <span class="mt-comment-date">26 Feb, 10:30AM</span>
	                            </div>
	                            <div class="mt-comment-text"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. </div>
	                            <div class="mt-comment-details">
	                                <span class="label label-sm label-success">Approved</span>
	                                <ul class="mt-comment-actions">
	                                    <li>
	                                        <a href="#">Quick Edit</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">View</a>
	                                    </li>
	                                    <li>
	                                        <a href="#">Delete</a>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>	                    
	                </div>
	                <!-- END: Comments -->
	            </div>
	        </div>
	    </div>
	</div>
</div>

<div class="col-md-6">
	<div class="portlet light ">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="icon-settings font-red-sunglo"></i>
                <span class="caption-subject bold uppercase"> Request Form</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" id="frmRequest" name="ReqForm">
                <div class="form-body">
                    
                    <div class="form-group">
                        <label>Request Title</label>
                        <div>
                            <input type="text" id="userReqTitle" class="form-control" value="{{details.reportName}}"
                            name="ReqTitle"> </div>
                    </div>                 

                    <div class="form-group">
                        <label>Request Description</label>
                        <textarea class="form-control" id="userReqDes" rows="3" value="{{details.description}}" name="ReqDes"></textarea>
                    </div>
                   
                    <div class="form-group">
                        <label>Priority</label>
                        <select id="userPriority" class="form-control">
                        	<option selected="selected">Normal</option>
                            <option>Urgent</option>                            
                            <option>Important</option>
                        </select>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="exampleInputFile1">File Upload</label>
                        <input type="file" id="exampleInputFile1">
                        <p class="help-block"> some help text here. </p>
                    </div>
                   
                </div>
                <div class="form-actions text-right">
                    <button type="submit" class="btn btn-success submit" data-ng-hide="started" ng-click="onReqSubmit(opt)"><i class="fa fa-check"></i> Submit</button>
                    <button type="button" class="btn btn-success update" data-ng-show="started" ng-click="onReqSubmit(opt)"><i class="fa fa-check"></i> Update</button>
                    <button type="button" class="btn btn-danger cancel"><i class="fa fa-times" ng-click="onRest()"></i> Reset</button>
                </div>
            </form>
        </div>
        
       <!--  <div class="portlet-title">
            <div class="caption">
                <i class="icon-bubble font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Comments</span>
            </div>
           
        </div> -->
        <div class="portlet-body" id="chats" data-ng-show="Showcomments">
        	<div class="caption">
        	    <i class="icon-bubble font-red-sunglo"></i>
        	    <span class="caption-subject font-red-sunglo bold uppercase">Comments</span>
        	</div>
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 210px;"><div class="scroller" style="height: 200px; overflow: auto; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                <ul class="chats">
                    <li class="{{ comments.username == 'Admin' ? 'out' : 'in' }}"  ng-repeat="comments in commentsDet">
                        <img class="avatar" alt="" ng-src="../main/assets/admin/layout2/img/{{ comments.username == 'Admin' ? 'jim_logo_small' : 'mimos_logo_small' }}.png">
                        <div class="message">
                            <span class="arrow"> </span>
                            <a href="javascript:;" class="name"> {{ comments.username }} </a>
                            <span class="datetime"> {{ comments.createdDate }} </span>
                            <span class="body"> {{ comments.message }} </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="slimScrollBar" style="display: none !important;  width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 319.38px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="display: none; width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div></div>
            <div class="chat-form">
                <div class="input-cont text-right">
                    <form id="formMessage">
                      <input class="form-control" type="text" ng-model="myMsg.text" id="messageVal" placeholder="Type a message here...">                       
					</form>
                </div>
                <div class="btn-cont" id="btnSendCom" ng-click="submitComment()">
                    <span class="arrow"></span>
                    <a href="" class="btn blue icn-only {{myMsg.text.length > 0 ? 'active' : 'disabled'}}">
                        <i class="fa fa-check icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        
    </div>

</div>

<script>
$(function(){
	$(".page-content").css('min-height', '1120px');
});

	$(".nav-tabs a").click(function(e){
		e.preventDefault();
	});

	$(".highlight").css('border','2px groove green');
</script>