/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
    border-radius: 4px !important;
}

.portlet .portlet-title {
    border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
    border-radius: 0px 0px 4px 4px !important;
}
*/



.mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item:hover{
     background: #3D4A53 !important;
     color: #fff !important;
}

.mt-element-list .list-simple.ext-1.mt-list-container ul>.mt-list-item{
   background: #cdd2cf !important;
}

.mt-element-list .list-simple.ext-1.mt-list-container ul>.show-more-btn{
    text-align: center !important;
}

.mt-element-list .list-simple.ext-1.mt-list-container ul>.show-more-btn:hover{
    background: #cdd2cf !important;
}

.mt-element-list .list-simple.ext-1.mt-list-container ul>.show-more-btn label:hover{
    background: #FFADB2 !important;
    color: #333 !important;
}


::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track { background-color: #eaeaea; border-left: 1px solid #ccc; }
::-webkit-scrollbar-thumb { background-color: #94bbb8; } ‘
::-webkit-scrollbar-thumb:hover { background-color: #aaa; }

.progress{
    height: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#iframeContainer{
    line-height: 0;
    position: fixed;
    top: 0px;
    background: #fff;
    width: 100%;
    height: 661px;
    margin: 0px;
    display: none;
    left: 0px;
    z-index: 99999;
}

#iframeCloseBtn{
    float: right;
    width: 50px;
    height: 50px;
    background: #ff0000;
    position: absolute;
    top: 0px;
    z-index: 99999;
    right: 0px;
    border-radius: 50px !important;
    color: #fff;
    padding: 17px 15px;
    margin:10px;
    cursor: pointer;
}

.pageNum{
        text-align: center;
    font-size: 20px;
    padding: 10px
}

.bg-DarkSlateBlue {
    background: #483D8B;
}


.bg-LightCoral{
    background: #F08080;
}


.btn-grp-padding{
        padding-left: 10px;
}

.bg-table-gray{
    background: #fff;
    color:#9ea8b7;
}

.table-scrollable{
    border:0px !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0px !important;
    border-bottom: 1px solid #ccc !important;
}



.table>tbody>tr>th{
    padding: 0px 0 0px 15px !important;
}

.table>tbody>tr>td{
    padding: 25px 0 25px 8px !important;
}


.bg-table-gray a{
    color: #464444 !important;
}


.searchBtn i{
    font-size: 10px !important;
    padding-top: 2px !important;

}


.btn-success {
    color: #fff;
    background-color: #097B41 !important;
    border-color: #008E46 !important;

}


.pricing-content-1 .price-table-pricing>h3 {
    font-size: 40px !important;
    position: relative;
}


.modal-header{
    background: #4C9871;
    border:1px solid #008E46;
    color:#fff;
}



.modal-header h4::before { 
    content: "\f00c ";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.avatar_container{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size:19px;
    position: absolute;
    padding: 12px 19px;
    border-radius: 30px !important;
}

.mt-comments .mt-comment .mt-comment-img {
    width: 50px;
}

.mt-comment-img{
    text-transform: capitalize;
}

.avatar_name{
        top: 62px;
    position: relative;
}


.a, .b, .c, .d{
    background: #1485CC;
}

.e, .f, .g, .h{
    background: #FFB235;   
}

.i, .j, .k, .l{
    background: #B27613;
}

.m, .n, .o, .p{
    background: #701CB2;
}

.q, .r, .s, .t{
    background: #286A7F;
}

.u, .v, .w, .x{
    background: #E58846;
}

.y, .z{
    background: #9926BF;
}

.activeComment {
    background: #DADADA;
    color:#000;
}

.activeComment .mt-comment-text, .activeComment .mt-comment-date{
    color: #000 !important;
}

.mt-comments .mt-comment:hover {
    background: #EAEAEA;
}

#frmRequest label{
    text-decoration: underline !important;
}


.iconBg{
    background: #26a69a;
    width: 70px;
    box-shadow: #000 0px 6px 10px -5px;
    height: 70px;
    display: inline-block;
    border-radius: 50px !important;
    margin: 5px;
    padding: 9px 4px;
}

#loadIcon{
    width: 530px;
    background: #fff;
    overflow: auto;
    margin: 20px 20px;
    height: 250px;
}

.ace_editor{
	height: 200px;
}
.selectedIconImage{
        width: 75px;
    /* float: left; */
    /* display: block; */
    background: #26A69A;
    border-radius: 79px !important;
}

.default_icon{
    width:70px;
    height:70px;
    border-radius:50px;
    display:block;
    border-radius: 50px !important;
    padding: 26px 14px;
    background: #C7C7C7
}

.default_icon i{
    font-size: 40px !important;
    color: #fff;
}

.databaselist_container{
        padding: 0;
    max-height: 1000px;
    background: #E2E4E4;
    display: inline-block;
    min-height: 500px;
}

.portlet.box.red-intense > .portlet-title {
    background-color: #7CB1B9 !important;
}

#table-sparkline{
    font-family: "Open Sans",sans-serif !important;
}

#table-sparkline thead th{
    font-weight: 400;
}

#table-sparkline th{
    font-size:20px;
    font-weight: 200;

}

.tbody-sparkline tr{
    height: 50px;
}

.borderTitle i{
    font-size: 20px !important;
}

/* create a custom sized dot at the bottom of the red item */
.vis-item.red {
  background-color: #ff0000;
  border-color: darkred;  
  color: #fff;
}

 .vis-item.green {
  background-color: #adff2f;
  border-color: green;
}
.vis-item.orange {
  background-color: #FFA500;
  border-color: green;
}

.calendar-text { margin-top: .3em; }
.file-text { margin-top: .2em; }


.rad-circle {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em !important;
  -moz-border-radius: 99em !important;
  border-radius: 99em !important;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeBtn {
    position: absolute !important;
    top: 15px  !important;
    right: 35px  !important;
    color: #f1f1f1  !important;
    font-size: 40px  !important;
    font-weight: bold  !important;
    transition: 0.3s  !important;
    text-indent: inherit !important;
    margin:20px !important;
}

.closeBtn i{
        font-size:40px !important;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #bbb  !important;
    text-decoration: none  !important;
    cursor: pointer  !important;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

meter::-webkit-meter-optimum-value {
  -webkit-transition: width .5s;
  transition: width .5s;
}




