<h3 class="page-title">
	Manage Users
</h3>

<div class="row">
    <div class="col-md-12">
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-intense" id="userMgtList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>User Management List
                </div>
                <!-- <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="userMgtAddBtn" data-target="#userMgtAddForm"><i class="fa fa-plus"></i> Add</button>
                </div> -->
            </div>
            <div class="portlet-body">
                <table id="userMgtdata" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <!-- <th>Login ID</th> -->
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Activate</th>
                            <th>Role</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
                <tbody>
                    <tr ng-repeat="x in names">
                        <td class="hidden">{{ x.id }}</td>
                      <!--   <td>{{ x.login }}</td> -->
                        <td>{{ x.firstName }}</td>
                        <td>{{ x.lastName }}</td>                        
                        <td>{{ x.email }}</td>
                        <td>{{ x.activated }}</td>
                        <td>{{ x.role }}</td>
                        <td>{{ x.department }}</td>
                        <td>{{x.action}}</td>
                    </tr>
                </tbody>
            </div>
        </div>
        <div class="portlet box red-intense" id="tableList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Table List
                </div>
                <div class="tools">
                    <a href="" id="backBtn" class="btn btn-success btn-sm" style="color:#fff; top: -3px; height:27px; position: relative;"><i class="fa fa-chevron-circle-left"></i> Back</a>
                </div>
                <div id="loaderTableView" style="position:absolute; top:45px; left:0px; background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%;">
                    <!-- BEGIN PAGE SPINNER -->
                    <div ng-spinner-bar class="page-spinner-bar show">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <!-- END PAGE SPINNER -->
                </div>
            </div>
            <div class="portlet-body">
                <table id="example12" class="display table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Table Name</th>
                            <th>Status</th>
                            <th>Progress</th>
                            <th align="center">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userMgtAddForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userMgtAddFormHeader">New message</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger display-hide" id="userMgtRequire">
                    <button class="close" data-close="alert"></button>
                    <span></span>
                </div>
                <form id="userMgtForm" name="userMgtUIForm" autocomplete="off">
                    <div class="form-group">
                        <label for="userMgt-title" class="control-label">First Name:</label>
                        <input type="text" class="form-control" id="userMgt-title" readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="userMgt-category" class="control-label">Last Name:</label>
                        <input type="text" class="form-control" id="userMgt-category"  readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="userMgt-theme" class="control-label">Email:</label>
                        <input type="text" class="form-control" id="userMgt-theme"  readonly="readonly">
                    </div>
                    <div class="form-group">
                        <label for="userMgt-activated" class="control-label">Activate:</label>
                        <input type="text" class="form-control" id="userMgt-activated"  readonly="readonly">
                    </div>

                    <div class="form-group">
                        <label for="roleMultiple" class="control-label">Role:</label>
                        <select multiple="multiple" name="roleMultiple" id="roleMultiple" class="form-control">
                            <option value="{{x.name}}" ng-repeat="x in name" data-val="{{x.value}}">{{x.name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="userMgt-dept" class="control-label">Department:</label>
                        <input type="text" class="form-control" id="userMgt-dept" readonly="readonly">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                <button type="button" id="userMgtUISubmit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <button type="button" id="userMgtUIUpdate" class="btn btn-primary"><i class="fa fa-check"></i> Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userMgtDelete" tabindex="-1" role="dialog" aria-labelledby="userMgtDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> No</button>
                <button type="button" class="btn btn-success" id="userMgtDataDeleteBtn"><i class="fa fa-check"></i> Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userMgtDeleteErrorMsg" tabindex="-1" role="dialog" aria-labelledby="userMgtDeleteErrorMsg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text-danger text-center" id="errorTitle">Are you sure you want to delete this record?</h3>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
$(function() {
    $("#userMgtAddBtn").click(function(event) {
        $("#userMgtAddForm #userMgtUISubmit").removeClass('hide');
        $("#userMgtAddForm #userMgtUIUpdate").addClass('hide');
        $("#userMgtAddFormHeader").html("Add User"); //Change
        $("#userMgtForm")[0].reset();
    });
     $("#userMgtForm #userMgt-type").keyup(function(event) {
     	alert("hi");
     	//debugger;	
     	if(this.value.length > 0 && this.value.match(/[A-Z]/g) !== null && this.value.match(/[A-Z]/g).length > 0){
     		alert("No Uppercase");
     	}
     	/*if($("#databaseForm #database-type").val().toUpperCase() == true){
     		$("#databaseForm #database-type").addClass("has-error");
     	}*/
     });
     
});
//TableAdvanced.init();

$("#loader").hide();

$(document).ajaxStart(function() {
    $("#loader").hide();
    $("#loaderTableView").css('height', '500px');
    $("#loaderTableView .page-spinner-bar").removeClass('hide');
    $("#loaderTableView").show();
});

$(document).ajaxStop(function() {
    $("input[type=search]").addClass('form-control input-small input-inline');
    $("select[name=jqueryRunData_length]").addClass('form-control input-xsmall input-inline');
    $("#loader").hide();
    $("#loaderTableView .page-spinner-bar").addClass('hide');
    $("#loaderTableView").hide();
});
</script>