<div class="row">
    <div class="col-md-12">
        <!-- END EXAMPLE TABLE PORTLET-->
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-intense" id="userMgtList">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>User Management List
                </div>
                <!-- <div class="tools">
                    <button class="btn btn-success btn-sm" data-toggle="modal" id="userMgtAddBtn" data-target="#userMgtAddForm"><i class="fa fa-plus"></i> Add</button>
                </div> -->
            </div>
            <div class="portlet-body">
               

                  <table ng-table="records" class="table table-bordered table-hover table-condensed editable-table demoTable" show-filter="false">
                    <colgroup>
                          <col width="24%"/>
                          <col width="16%"/>
                          <col width="12%"/>
                          <col width="16%"/>
                          <col width="16%"/>
                          <col width="16%"/>
                        </colgroup>
                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row" class="mt-action" >
                      <td title="'Name'"  class="uppercase" header-class="'text-left'">
                        {{row.firstName}}
                      </td>
                      <td title="'Login'" header-class="'text-center'">
                        {{row.login}}
                      </td>
                      <td title="'Status'" header-class="'text-center'">
                        <button uib-tooltip="click to activate the user" type="button" class="btn red-sunglo" ng-click="actDeAct(row,true)" ng-if="!row.activated">Disabled</button>
                        <button uib-tooltip="click to deactivate the user" type="button" class="btn green-haze" ng-click="actDeAct(row,false)" ng-if="row.activated">Active</button>
                      </td>
                       <td title="'Email'" header-class="'text-center'">
                        {{row.email}}
                      </td>
                       <td title="'Roles'"  >
                         <ui-select multiple ng-model="row.authorities" theme="bootstrap" ng-disabled="!row.isEditing" close-on-select="false" style="width: 300px;" title="Choose a color">
                            <ui-select-match placeholder="Select roles" >{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="row  in roles" class="uppercase">
                              {{row.name}}
                            </ui-select-choices>
                          </ui-select>
                      </td>
                        <td title="'Action'"  >
                        <button class="btn btn-primary btn-sm" ng-click="save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                        <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                        <!-- <button  ng-click="demo.del(row)" ng-if="!row.isEditing"></button> -->
                        <button data-toggle="confirmation"
                            uib-popover-template="dynamicPopover.templateUrl" 
                            popover-title="Are You Sure"
                             popover-placement="left"
                             popover-class="confirmation"
                            type="button" class="btn btn-danger btn-sm"
                            popover-trigger="'mouseenter'"
                            ng-click="del(row)"
                            >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <script type="text/ng-template" id="myPopoverTemplate.html">
                            <div class="popover-content text-center"> This will completly remove the user {{row.name}} from system 
                                <!-- <div class="btn-group">
                                    <a class="btn btn-sm btn-success" ng-click="del(row)" data-apply="confirmation"><i class="glyphicon glyphicon-ok"></i> Yes</a>
                                     <a class="btn btn-sm btn-danger" ng-click="popoverIsOpen = !popoverIsOpen" data-dismiss="confirmation"><i class="glyphicon glyphicon-remove"></i> No</a>
                                </div> -->
                            </div>
                        </script>

                      </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
