<div id="mainContainer" ng-controller="d2dTrackingController">
<div class="row">
    <div class='col-md-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimeFrom'>
                <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        
    </div>
 <div class='col-md-1 text-center' style="width: 4%; padding-top: 4px;">
        <div class="form-group">
            <label for="">To</label>
        </div>
    </div>

    <div class='col-md-2'>
        <div class="form-group">
            <div class='input-group date' id='datetimeTo'>
                <input type='text' class="form-control"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-2'>
        <div class="form-group">
            <button class="btn btn-success btn-md" ng-click="submitDate()">Done</button>
        </div>
    </div>
    <div class="col-md-5">
        <h3 style="display:inline; color:#87ceeb;">Entry: <strong>{{totalInOut[0] ? totalInOut[0] : "0"}}</strong></h3>
        <h3  style="display:inline; margin-left:20px; color:#f08080;">Exit: <strong>{{totalInOut[1] ? totalInOut[1] : "0"}}</strong></h3>
    </div>

</div>

<div class="row"></div>
<div id="container"></div>
<div style="background:rgba(255,255,255,0.8); width:100%; z-index:9; height:100%; position:absolute; top:0px;"  ng-show="loading">
  <!--  BEGIN PAGE SPINNER -->
   <div ng-spinner-bar class="page-spinner-bar show">
       <div class="bounce1"></div>
       <div class="bounce2"></div>
       <div class="bounce3"></div>
   </div>
<!--    END PAGE SPINNER -->
</div>
<div class="container-fluid">
    <div class="col-md-6 col-sm-8 col-xs-9 borderTitle"><h3><span ng-if="EmpName"><i class="fa fa-user"></i> {{EmpName}} /</span><span ng-if= "BranchName">  <i class="fa fa-plane"></i> {{BranchName}}</span><span ng-if= "CtryName"> /&nbsp;<i class="fa fa-globe"></i>&nbsp;{{CtryName}}</span></h3><h4>{{ele2}} List Details From {{ subtitle }}</h4></div>
    <div ng-if="BranchName" class="col-md-6 col-sm-4 col-xs-3 text-right"><button class="btn btn-md btn-warning" style="margin-top:20px;" ng-click="backBtn()">Back</button></div>

<div class="row"></div>


<table class="table col-md-12 col-sm-12 col-xs-12" style="width:100%; margin: 30px 0;"  id="sparklineSubTable">
    <thead>
        <tr>
            <th><i class="fa fa-plane"></i> {{ele2}} Name</th>
            
            <th>{{ column4 }} <button class="sortBtn2"><i class="fa fa-sort"></i></button></th>
            <th>{{ column5 }} <span ng-show="column5 == 'No. of Entry'"><button class="sortBtn3"><i class="fa fa-sort"></i></button></span></th>
            <th>{{ column2 }} <span ng-show="column2 == 'No. of Exit / Visitor(s)'"><button class="sortBtn1"><i class="fa fa-sort"></i></button></span></th>
            <th>{{ column3 }}</th>
            <th>Action</th>
        </tr>
    </thead>


    <tbody class="tbody-sparkline">
        <tr ng-if="value.brhName.name"  ng-repeat="value  in branchOut" my-repeat-directive>
            <td>{{ value.brhName.name }}</td>
            
            <td ng-if="value.entry.entryTotal">{{ value.entry.entryTotal }}  / {{ value.entry.uniqueVisitor }}</td>
            <td ng-if="!value.entry.entryTotal">0</td>
            <td class="entrySpark" data-sparkline="{{ value.entry.entry }}" />
            <td ng-if="value.exit.exitTotal"> {{ value.exit.exitTotal}} / {{ value.exit.uniqueVisitor}}</td>
            <td ng-if="!value.exit.exitTotal">0</td>
            <td ng-if="value.brhName.exit">{{value.brhName.numFound}}</td>
            <td ng-if="value.brhName.doc">{{ value.brhName.doc }}</td>
            <td data-sparkline="{{ value.exit.exit }}" />
            <td ng-if="value.brhName.entry">{{value.brhName.numFound}}</td>
            <td ng-if="value.brhName.sex">{{ value.brhName.sex }}</td>
            <td><button class="btn btn-sm btn-success viewBtn" ng-click="viewBtn()">View</button><span ng-show="ele2 == 'Officer'"><button class="btn btn-sm btn-success viewBtn" ng-click="detBtn()">Details</button></span></td>
        </tr>

        <tr ng-if="value.vName.name"  ng-repeat="value  in branchOut">
            <td> {{ value.vName.name }}</td>
            <td ng-if="value.vName.exit"> {{ value.vName.numFound}}</td>
            <td ng-if="!value.vName.exit">0</td>
            <td ng-if="value.vName.entry"> {{ value.vName.numFound}}</td>
            <td ng-if="!value.vName.entry">0</td>
            <td ng-if="value.vName.sex == 'TIDAK DINYATAKAN'"><i class="fa fa-transgender" style="font-size:22px; color:#818990;"></i></td>
            <td ng-if="value.vName.sex == 'LELAKI'"><i class="fa fa-male" style="font-size:22px; color:#0093ff;"></i></td>
            <td ng-if="value.vName.sex == 'PEREMPUAN'"><i class="fa fa-female"  style="font-size:22px; color:#ff0097;"></i></td>
            <td ng-if="value.vName.doc">{{ value.vName.doc }}</td>
            <td><button class="btn btn-sm btn-success viewBtn" ng-click="viewBtn()">View</button></td>
        </tr>
    </tbody>
</table>
<h4 class="text-center"> Page {{ pageCount }} of {{ numofpage }}  (Total Record: {{ totalCount }})</h4>
<div class="text-center"><button id="bPreviousBtn" class="btn btn-md btn-warning"><i class="fa fa-arrow-left"></i> Previous</button><button  id="bNextBtn" class="btn btn-md btn-warning">Next <i class="fa fa-arrow-right"></i></button></div>
</div>
</div>

<style>
#mainContainer { height: 100%; width: 100%; margin: 0; position:relative; }
#mainContainer #container { 
    height:20%;
    width:100%;
    position: relative;
}

</style>
<script type="text/javascript">

    $(function () {
        
    });
</script>