
<h1>Border Tracking System</h1>


<div id="container" style="height: 400px; min-width: 310px"></div>

<div style="height:100px">&nbsp;</div>
<div class="container-fluid">
<div id="result"></div>


<table  class="table col-md-6" style="width:50%; margin: 30px 0;">
    <thead>
        <tr>
            <th>Branch Name</th>
            <th>No. of Exit</th>
            <th>Exit Chart</th>
           
        </tr>
    </thead>
    <tbody class="tbody-sparkline">
        <tr ng-if="value[0].status == 'Exit'" ng-repeat="(key, value)  in branchOut">
            <td> {{ value[1].name }}</td>
            <td> {{ value[3].total}}</td>
            <td data-sparkline="{{value[2].count}}" />
           
           
        </tr>
    </tbody>
</table>

<table class="table col-md-6" style="width:50%; margin: 30px 0;" id="sparklineSubTable">
    <thead>
        <tr>
        
            <th>No. of Entry</th>
            <th>Entry Chart</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="tbody-sparkline">
     
        <tr ng-if="value[0].status == 'Entry'" ng-repeat="(key, value)  in branchOut" my-repeat-directive>
            <td> {{ value[3].total}} <span class="hiddenBranchName hide" >{{ value[1].name }} </span></td>
            <td data-sparkline="{{value[2].count}}" />
            <td><button class="btn btn-sm btn-success viewBtn" ng-click="viewBtn()">View</button></td>
        </tr>
    </tbody>
</table>

</div>