
<h1>Border Tracking System</h1>


<div id="container" style="height: 400px; min-width: 310px"></div>

<div style="height:100px">&nbsp;</div>
<div class="container-fluid">
<div id="result"></div>
<table id="table-sparkline" class="table col-md-12" style="width:100%; margin: 30px 0;">
    <thead>
        <tr>
            <th>Gates</th>
            <th>No. of Exit</th>
            <th>Exit Chart</th>
            <th>No. of Entry</th>
            <th>Entry Chart</th>
            <th>Total Visitors</th>
        </tr>
    </thead>
    <tbody id="tbody-sparkline">
        <tr>
            <th>Gate 1</th>
            <td>254</td>
            <td data-sparkline="71, 78, 39, 66 "/>
            <td>296</td>
            <td data-sparkline="68, 52, 80, 96 "/>
            <td>-42</td>
        </tr>
        <tr>
            <th>Gate 2</th>
            <td>246</td>
            <td data-sparkline="87, 44, 74, 41 "/>
            <td>181</td>
            <td data-sparkline="29, 54, 73, 25 "/>
            <td>65</td>
        </tr>
        <tr>
            <th>Gate 3</th>
            <td>101</td>
            <td data-sparkline="56, 12, 8, 25 "/>
            <td>191</td>
            <td data-sparkline="69, 14, 53, 55 "/>
            <td>-90</td>
        </tr>
        <tr>
            <th>Gate 4</th>
            <td>303</td>
            <td data-sparkline="81, 50, 78, 94 "/>
            <td>76</td>
            <td data-sparkline="36, 15, 14, 11 "/>
            <td>227</td>
        </tr>
        <tr>
            <th>Gate 5</th>
            <td>200</td>
            <td data-sparkline="61, 80, 10, 49 "/>
            <td>217</td>
            <td data-sparkline="100, 8, 52, 57 "/>
            <td>-17</td>
        </tr>
        <tr>
            <th>Gate 6</th>
            <td>118</td>
            <td data-sparkline="13, 48, 21, 36 "/>
            <td>273</td>
            <td data-sparkline="98, 86, 8, 81 "/>
            <td>-155</td>
        </tr>
        <tr>
            <th>Gate 7</th>
            <td>201</td>
            <td data-sparkline="6, 64, 44, 87 "/>
            <td>148</td>
            <td data-sparkline="60, 13, 73, 2 "/>
            <td>53</td>
        </tr>
        
    </tbody>
</table>

</div>