<div class='stats-widget'>
  <header>
    <h3>Visa & Pass</h3>
  </header>
  <div class='chart'>
    <div class='controls'>
      <nav>
        <a href='javascript:void(0);'>This week<span class='fa fa-angle-down fa-lg'></span></a>
      </nav>
      <div>
        <span class='fa fa-caret-up fa-lg'>&nbsp;&nbsp;</span>
        <span>27%</span>
      </div>
    </div>
    <div class='canvas-container'>
      <canvas id='c1'></canvas>
    </div>
  </div>
  <div class='info'>
    <h4>Visa & Pass Status:</h4>
    <div class='info-module'>
      <div class='heading'>
        <span>Submitted</span>
        <span>65%</span>
      </div>
      <div class='progress undergraduate'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Approved</span>
        <span>30%</span>
      </div>
      <div class='progress graduate'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Completed</span>
        <span>5%</span>
      </div>
      <div class='progress transfer'></div>
    </div>
    <nav>
      <a href='javascript:void(0);'><span>View other stats</span><span class='fa fa-refresh fa-lg'></span></a>
    </nav>
  </div>
</div>
