<div class='stats-widget'>
  <header>
    <h3>Visa & Pass</h3>
  </header>
  <div class='chart'>
    <div class='controls'>
       <div id="vaa-range" style="width: 100%;"
                                    class="pull-right tooltips btn btn-fit-height green"
                                    data-placement="top"
                                    data-original-title="Change dashboard date range">
                                      <i class="icon-calendar"></i>&nbsp;
                                      <span class="thin uppercase hidden-xs">June 28, 2016 - July 4, 2016</span>&nbsp;
                                      <i class="fa fa-angle-down"></i>
                                  </div>
    </div>
    <div class='canvas-container'>
      <div id="highchart_col"></div>
    </div>
  </div>
  <div class='info'>
    <h4>Visa & Pass Status:</h4>
    <div class='info-module'>
      <div class='heading'>
        <span>Submitted</span>
        <span>65%</span>
      </div>
      <div class='progress undergraduate'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Approved</span>
        <span>30%</span>
      </div>
      <div class='progress graduate'></div>
    </div>
    <div class='info-module'>
      <div class='heading'>
        <span>Completed</span>
        <span>5%</span>
      </div>
      <div class='progress transfer'></div>
    </div>
    <nav>
      <a href='javascript:void(0);'><span>View other stats</span><span class='fa fa-refresh fa-lg'></span></a>
    </nav>
  </div>
</div>
